<template>
  <!--begin::Header-->
  <div id="kt_app_header" v-if="headerDisplay" class="app-header">
    <!--begin::Header container-->
    <div
      class="app-container d-flex align-items-stretch justify-content-center justify-content-lg-between"
      :class="{
        'container-fluid': headerWidthFluid,
        'container-xxl': !headerWidthFluid,
      }"
    >
      <div
        v-if="layout === 'light-header' || layout === 'dark-header'"
        class="d-flex align-items-center flex-grow-1 flex-lg-grow-0 me-lg-15"
      >
        <router-link to="/">
          <img
            v-if="themeMode === 'light' && layout === 'light-header'"
            alt="Logo"
            src="/media/logos/default.svg"
            class="h-20px h-lg-30px app-sidebar-logo-default"
          />
          <img
            v-if="
              layout === 'dark-header' ||
              (themeMode === 'dark' && layout === 'light-header')
            "
            alt="Logo"
            src="/media/logos/default-dark.svg"
            class="h-20px h-lg-30px app-sidebar-logo-default"
          />
        </router-link>
      </div>
      <!--begin::sidebar mobile toggle-->
      <div
        v-if="!isBookingPage"
        class="d-flex align-items-center d-lg-none ms-n2 me-2"
        title="Show sidebar menu"
      >
        <div
          class="btn btn-icon btn-active-color-primary w-35px h-35px"
          id="kt_app_sidebar_mobile_toggle"
        >
          <span class="svg-icon svg-icon-1">
            <inline-svg src="/media/icons/duotune/abstract/abs015.svg" />
          </span>
        </div>
      </div>
      <!--end::sidebar mobile toggle-->
      <!--begin::Mobile logo-->
      <div class="d-none d-lg-flex align-items-center">
        <router-link to="/" class="d-lg-none">
          <img alt="Logo" src="/media/logos/default-small.svg" class="h-30px" />
        </router-link>
      </div>
      <!--end::Mobile logo-->
      <!--begin::Header wrapper-->
      <div
        class="d-flex align-items-stretch justify-content-between flex-lg-grow-1"
        id="kt_app_header_wrapper"
      >
        <KTSidebarLogo></KTSidebarLogo>
        <KTSidebarMenu v-if="!isBookingPage"></KTSidebarMenu>
        <KTHeaderNavbar v-if="!isBookingPage" />
        <div v-if="isBookingPage">
          <div class="p-3 h-100 d-flex align-items-center">
            <div class="d-flex justify-content-end align-items-center">
              <div
                class="mx-1 mx-md-2 d-flex flex-column justify-content-center justify-content-lg-start"
              >
                <p class="fs-6 m-0">Direct number (24/7)</p>
                <a :href="'tel:' + agentDetails.phone" class="extra-link">
                  <b>{{ agentDetails.phone }}</b>
                </a>
              </div>

              <div
                class="mx-1 mx-md-2 d-flex flex-column justify-content-center justify-content-lg-start"
              >
                <p class="fs-6 m-0">
                  Prepared by: <b>{{ agentDetails.name }}</b>
                </p>
                <a :href="'mailto:' + agentDetails.email" class="extra-link">
                  <b>{{ agentDetails.email }}</b>
                </a>
              </div>
              <div
                class="mx-1 mx-md-2 d-flex flex-column justify-content-center justify-content-lg-start"
              >
                <p class="fs-6 m-0">USER IP:</p>
                <p class="fs-6 m-0">
                  <b>{{ ipDetails }}</b>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from "vue";
import { useBookingStore } from "@/stores/booking";
import { useSaleStore } from "@/stores/sales";
import { useRoute } from "vue-router";
import type { IAgentDetails } from "@/core/types/bookingTypes";
import type { IIpDetails } from "@/core/types/bookingTypes";
import KTHeaderNavbar from "@/layouts/main-layout/header/Navbar.vue";
import KTSidebarMenu from "@/layouts/main-layout/sidebar/SidebarMenu.vue";
import KTSidebarLogo from "@/layouts/main-layout/sidebar/SidebarLogo.vue";
import {
  layout,
  headerWidthFluid,
  themeMode,
  headerDisplay,
} from "@/core/helpers/config";

export default defineComponent({
  name: "layout-header",
  components: {
    KTHeaderNavbar,
    KTSidebarMenu,
    KTSidebarLogo,
  },

  setup() {
    const store = useBookingStore();
    const salesStore = useSaleStore();
    const route = useRoute();
    const isBookingPage = route.path.startsWith("/booking/");
    const paramToken = isBookingPage
      ? (route.params.token as string).split(":")[0]
      : "";
    const saleId = isBookingPage ? (route.params.id as string) : "";

    const agentDetails = ref<IAgentDetails>({
      name: "",
      email: "",
      phone: "",
    });
    const getAgent = async () => {
      const agentDetails = await store.getAgent(paramToken);
      return agentDetails;
    };

    const ipDetails = ref<IIpDetails>({
      ip: "",
    });

    const fetchIpDetails = async () => {
      const fetchedIpDetails = await store.getIp(paramToken);
      return fetchedIpDetails;
    };

    const getDemoIP = async () => {
      const saleData = await salesStore.getSale(saleId);
      return saleData.client_ip || "no data";
    };

    if (isBookingPage) {
      onMounted(async () => {
        agentDetails.value = await getAgent();
      });
      onMounted(async () => {
        ipDetails.value = saleId ? await getDemoIP() : await fetchIpDetails();
      });
    }

    return {
      layout,
      headerWidthFluid,
      headerDisplay,
      themeMode,
      isBookingPage,
      getAgent,
      agentDetails,
      fetchIpDetails,
      ipDetails,
    };
  },
});
</script>

<style>
.extra-link {
  color: #c39673;
}
</style>
