<!-- eslint-disable prettier/prettier -->
<template>
  <KTHeader />
  <div class="app-main flex-column flex-row-fluid">
    <div class="app-container container-fluid">

      <div class="row gy-10 gx-xl-10 mt-1 mt-mb-0">
        <div class="col-xl-8">
          <div class="col-xl-12 mb-10 mt-4">
            <FlightDetailsShort :initCheckedDetails="isCheckedDetails" v-if="!showDetails" @openDetails="toggleDetails" :callback="receiveData"
              :token="paramToken" :readonly="true"></FlightDetailsShort>

            <FlightDetails  v-if="showDetails" @closeDetails="toggleDetails" :callback="receiveData" :token="paramToken" :widgetClasses="hiddenBtnDetails">
            </FlightDetails>
          </div>
          <div class="col-xl-12 mb-5" v-for="(paxRef, index) in paxDetailsRefs" :key="index">
            <PaxDetails :ref="paxRef" :paxData="paxesDetails[index]" :readonly="true"></PaxDetails>
          </div>

          <div class="col-xl-12 mb-5">
            <ContactPerson ref="contactPersonRef" :clientDetails="clientDetails" :readonly="true"> 
            </ContactPerson>
          </div>

          <div class="col-xl-12 mb-5">
            <AdditionalServices ref="additionalServicesRef" :initValue="additionalServices" :readonly="true"></AdditionalServices>
          </div>

          <div class="col-xl-12 mb-5">
            <TicketProtection :initialValue="isCheckedProtection" :paxesCount="paxesDetails.length" :readonly="true">
            </TicketProtection>
          </div>

          <div class="col-xl-12 mb-5">
            <PaymentInformation :getTotal="getTotal" :readonly="true"></PaymentInformation>
          </div>

          <div class="col-xl-12">
            <div class="card card-flush pt-3 mb-5 mb-xl-10">
              <CardDetails ref="cardDetailsRef" :initValue="cardDetails" :readonly="true"></CardDetails>

              <CompletePurchase :initialValue="isCheckedPurchase" :readonly="true">
              </CompletePurchase>
            </div>
          </div>

          <div class="col-xl-12 mb-5">
            <BillingDetails ref="billingDetailsRef" :initValue="billingDetails" :readonly="true"></BillingDetails>
          </div>

          <div class="col-xl-12 mb-5">
            <Tips :initialValue="isCheckedTips" :initSum="tipsAmount" :readonly="true"></Tips>
          </div>

          <div class="col-xl-12 mb-5 d-xl-none">
            <PurchaseSummary :callback="receiveData" 
              :paxesCount="paxesDetails.length" :hasTicketProtection="isCheckedProtection" :sumTips="tipsAmount" :onDataEmitted="handleData" :initRating="rating" :readonly="true">
            </PurchaseSummary>
          </div>
        </div>

        <div class="col-xl-4 end-0 d-none d-xl-block">
          <div class="sticky-top">
            <PurchaseSummary :callback="receiveData" :paxesCount="paxesDetails.length"
              :hasTicketProtection="isCheckedProtection" :sumTips="tipsAmount" :onDataEmitted="handleData" :initRating="rating" :readonly="true">
            </PurchaseSummary>

            <div class="d-flex justify-content-end">
              <button :data-kt-indicator="loading ? 'on' : null" class="btn btn-lg btn-success">
                <span v-if="!loading" class="indicator-label">
                  Complete the Purchase
                  <span class="svg-icon svg-icon-3 ms-2 me-0">
                    <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
                  </span>
                </span>
                <span v-if="loading" class="indicator-progress">
                  Please wait...
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center mb-3 d-xl-none">
        <button :data-kt-indicator="loading ? 'on' : null" class="btn btn-lg btn-success">
          <span v-if="!loading" class="indicator-label">
            Complete the Purchase
            <span class="svg-icon svg-icon-3 ms-2 me-0">
              <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
            </span>
          </span>
          <span v-if="loading" class="indicator-progress">
            Please wait...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </button>
      </div>
      <KTFooter />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, type Ref } from "vue";
import type {
  ICard,
  IPax,
  IAdditionalServices,
  IBillingDetails,
} from "@/core/types/bookingTypes";
import { useBookingStore } from "@/stores/booking";
import { useRoute } from "vue-router";
import type { IReservation } from "@/core/types/bookingTypes";
import FlightDetailsShort from "@/components/booking-page/FlightDetailsShort.vue";
import FlightDetails from "@/components/booking-page/FlightDetails.vue";
import PaxDetails from "@/components/booking-page/PaxDetails.vue";
import AdditionalServices from "@/components/booking-page/AdditionalServices.vue";
import ContactPerson from "@/components/booking-page/ContactPerson.vue";
import TicketProtection from "@/components/booking-page/TicketProtection.vue";
import PaymentInformation from "@/components/booking-page/PaymentInformation.vue";
import BillingDetails from "@/components/booking-page/BillingDetails.vue";
import PurchaseSummary from "@/components/booking-page/PurchaseSummary.vue";
import Tips from "@/components/booking-page/TipsBox.vue";
import CardDetails from "@/components/booking-page/CardDetails.vue";
import CompletePurchase from "@/components/booking-page/CompletePurchase.vue";
import type { IClient } from "@/core/types/bookingTypes";
import KTHeader from "@/layouts/main-layout/header/Header.vue";
import KTFooter from "@/layouts/main-layout/footer/Footer.vue";
import type { ISale } from "@/core/types/saleTypes";
import { useSaleStore } from "@/stores/sales";

export default defineComponent({
  name: "booking-page",
  components: {
    FlightDetailsShort,
    FlightDetails,
    CardDetails,
    CompletePurchase,
    PaxDetails,
    AdditionalServices,
    ContactPerson,
    TicketProtection,
    PaymentInformation,
    BillingDetails,
    Tips,
    PurchaseSummary,
    KTHeader,
    KTFooter,
  },
  emits: ["dataEmitted"],
  setup() {
    const isCheckedDetails = ref<boolean>(true);
    const hiddenBtnDetails = "hide-title";

    const receivedData = ref<Array<IReservation>>([]);

    const receiveData = (data: Array<IReservation>) => {
      receivedData.value = data;
    };

    const showDetails = ref(false);

    const toggleDetails = () => {
      showDetails.value = !showDetails.value;
    };

    const loading = ref(false);

    const cardDetailsRef = ref<any>(null);
    const cardDetails = ref<ICard>();

    const paxDetailsRefs = ref<Ref[]>([]);
    const clientDetailsRef = ref<any>(null);
    const paxesDetails = ref<IPax[]>([]);

    const billingDetailsRef = ref<any>(null);
    const billingDetails = ref<IBillingDetails>();

    const additionalServicesRef = ref<any>(null);

    const tipsAmount = ref<number>(25);

    const store = useBookingStore();
    const salesStore = useSaleStore();
    const route = useRoute();

    const paramToken = route.params.token as string;
    const saleId = route.params.id as string;
    const saleData = ref<ISale>();

    const getDataFromRoute = () => {
      const dataString = route.query.data as string;
      if (dataString) {
        return JSON.parse(dataString);
      }
      return null;
    };

    const getPaxDetailsRefs = () => {
      const numPaxes = paxesDetails.value.length;

      for (let i = 0; i < numPaxes; i++) {
        const additionalRef = ref<any>(null);
        paxDetailsRefs.value.push(additionalRef);
      }
    };

    paxesDetails.value = getDataFromRoute();

    getPaxDetailsRefs();

    const clientDetails = ref<IClient>();
    const additionalServices = ref<IAdditionalServices>();
    const rating = ref();
    const isCheckedTips = ref(true);
    const isCheckedPurchase = ref(true);
    const isCheckedProtection = ref(true);

    const getTotal = ref(0);

    const handleData = (data: number) => {
      getTotal.value = data;
    };

    onMounted(async () => {
      saleData.value = await salesStore.getSale(saleId);

      clientDetails.value = {
        email: saleData.value.contact_email,
        phone: saleData.value.contact_phone,
        contact_email: saleData.value.contact_email,
        contact_phone: saleData.value.contact_phone,
        additional_email: saleData.value.additional_email,
        additional_phone: saleData.value.additional_phone,
      };

      additionalServices.value = saleData.value.additional_services;

      isCheckedProtection.value = saleData.value.ticket_protection;

      cardDetails.value = getCardDetails(saleData.value.card);

      billingDetails.value = saleData.value.billing_details;

      tipsAmount.value = saleData.value.tips || 0;

      rating.value = saleData.value.rating || 0;
    });

    const getCardDetails = (cardData) => {
      const cardDetails = {
        card_number: maskedCard(cardData.card_number),
        month: "**",
        year: "**",
        cvv: "*".repeat(cardData.cvv.toString().length),
        first_name: cardData.owner.split(" ")[0],
        last_name: cardData.owner.split(" ")[1],
        valid_thru: cardData.valid_thru,
        owner: cardData.owner,
      };
      return cardDetails;
    };

    const maskedCard = (value) => {
      if (value && value.toString().length > 4) {
        const lastFourDigits = value.toString().slice(-4);
        return "*".repeat(value.toString().length - 4) + lastFourDigits;
      } else {
        return value;
      }
    };

    return {
      receivedData,
      receiveData,
      showDetails,
      toggleDetails,
      loading,
      cardDetails,
      cardDetailsRef,
      paxDetailsRefs,
      paxesDetails,
      clientDetailsRef,
      billingDetailsRef,
      additionalServices,
      additionalServicesRef,
      isCheckedTips,
      isCheckedPurchase,
      isCheckedProtection,
      tipsAmount,
      isCheckedDetails,
      paramToken,
      store,
      hiddenBtnDetails,
      handleData,
      getTotal,
      clientDetails,
      billingDetails,
      rating,
    };
  },
});
</script>

<style lang="scss">
.sticky-top {
  top: 32px;
}

.hide-title {
  .title-hide {
    display: none;
  }
}
</style>
