<!-- eslint-disable prettier/prettier -->
<template>
  <KTHeader />
  <div class="app-main flex-column flex-row-fluid">
    <div class="app-container container-fluid">

      <div class="row gy-10 gx-xl-10 mt-1 mt-mb-0">
        <div class="col-xl-8">
          <div class="col-xl-12 mb-10 mt-4">
            <FlightDetailsShort @update:checked="updateCheckboxValueDetails" :initCheckedDetails="isCheckedDetails" v-if="!showDetails" @openDetails="toggleDetails" :callback="receiveData"
              :token="paramToken"></FlightDetailsShort>

            <FlightDetails  v-if="showDetails" @closeDetails="toggleDetails" :callback="receiveData" :token="paramToken" :widgetClasses="hiddenBtnDetails">
            </FlightDetails>
          </div>
          <div class="col-xl-12 mb-5" v-for="(paxRef, index) in paxDetailsRefs" :key="index">
            <PaxDetails :ref="paxRef" @onSuccess="onPaxSuccess" :paxData="paxesDetails[index]"></PaxDetails>
          </div>

          <div class="col-xl-12 mb-5">
            <ContactPerson ref="contactPersonRef" @onSuccess="onContactPerson" :clientDetails="clientDetails">
            </ContactPerson>
          </div>

          <div class="col-xl-12 mb-5">
            <AdditionalServices ref="additionalServicesRef" @onSuccess="onAdditionalSuccess"></AdditionalServices>
          </div>

          <div class="col-xl-12 mb-5">
            <TicketProtection :initialValue="isCheckedProtection" @update:checked="updateCheckboxValueProtection" :paxesCount="paxesDetails.length">
            </TicketProtection>
          </div>

          <div class="col-xl-12 mb-5">
            <PaymentInformation :getTotal="getTotal"></PaymentInformation>
          </div>

          <div class="col-xl-12">
            <div class="card card-flush pt-3 mb-5 mb-xl-10">
              <CardDetails ref="cardDetailsRef" @onSuccess="onCardSuccess"></CardDetails>

              <CompletePurchase :initialValue="isCheckedPurchase" @update:checked="updateCheckboxValuePurchase">
              </CompletePurchase>
            </div>
          </div>

          <div class="col-xl-12 mb-5">
            <BillingDetails ref="billingDetailsRef" @onSuccess="onBillingSuccess"></BillingDetails>
          </div>

          <div class="col-xl-12 mb-5">
            <Tips :initialValue="isCheckedTips" @update:checked="updateCheckboxValueTips"
              @tip-amount-changed="handleTipAmountChange"></Tips>
          </div>

          <div class="col-xl-12 mb-5 d-xl-none">
            <PurchaseSummary :callback="receiveData" @rating-changed="handleRatingChanged"
              :paxesCount="paxesDetails.length" :hasTicketProtection="isCheckedProtection" :sumTips="tipsAmount"
              :onDataEmitted="handleData">
            </PurchaseSummary>
          </div>
        </div>

        <div class="col-xl-4 end-0 d-none d-xl-block">
          <div class="sticky-top">
            <PurchaseSummary :callback="receiveData" @rating-changed="handleRatingChanged" :paxesCount="paxesDetails.length"
              :hasTicketProtection="isCheckedProtection" :sumTips="tipsAmount" :onDataEmitted="handleData">
            </PurchaseSummary>

            <div class="d-flex justify-content-end">
              <button :data-kt-indicator="loading ? 'on' : null" class="btn btn-lg btn-success" @click.prevent="submit()">
                <span v-if="!loading" class="indicator-label">
                  Complete the Purchase
                  <span class="svg-icon svg-icon-3 ms-2 me-0">
                    <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
                  </span>
                </span>
                <span v-if="loading" class="indicator-progress">
                  Please wait...
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center mb-3 d-xl-none">
        <button :data-kt-indicator="loading ? 'on' : null" class="btn btn-lg btn-success" @click.prevent="submit()">
          <span v-if="!loading" class="indicator-label">
            Complete the Purchase
            <span class="svg-icon svg-icon-3 ms-2 me-0">
              <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
            </span>
          </span>
          <span v-if="loading" class="indicator-progress">
            Please wait...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </button>
      </div>
      <KTFooter />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, type Ref } from "vue";
import type {
  ICard,
  IPax,
  IBillingDetails,
  IAdditionalServices,
} from "@/core/types/bookingTypes";
import { useBookingStore } from "@/stores/booking";
import { useRoute, useRouter } from "vue-router";
import type { IReservation } from "@/core/types/bookingTypes";
import FlightDetailsShort from "@/components/booking-page/FlightDetailsShort.vue";
import FlightDetails from "@/components/booking-page/FlightDetails.vue";
import PaxDetails from "@/components/booking-page/PaxDetails.vue";
import AdditionalServices from "@/components/booking-page/AdditionalServices.vue";
import ContactPerson from "@/components/booking-page/ContactPerson.vue";
import TicketProtection from "@/components/booking-page/TicketProtection.vue";
import PaymentInformation from "@/components/booking-page/PaymentInformation.vue";
import BillingDetails from "@/components/booking-page/BillingDetails.vue";
import PurchaseSummary from "@/components/booking-page/PurchaseSummary.vue";
import Tips from "@/components/booking-page/TipsBox.vue";
import CardDetails from "@/components/booking-page/CardDetails.vue";
import CompletePurchase from "@/components/booking-page/CompletePurchase.vue";
import type { IClient } from "@/core/types/bookingTypes";
import KTHeader from "@/layouts/main-layout/header/Header.vue";
import KTFooter from "@/layouts/main-layout/footer/Footer.vue";

export default defineComponent({
  name: "booking-page",
  components: {
    FlightDetailsShort,
    FlightDetails,
    CardDetails,
    CompletePurchase,
    PaxDetails,
    AdditionalServices,
    ContactPerson,
    TicketProtection,
    PaymentInformation,
    BillingDetails,
    Tips,
    PurchaseSummary,
    KTHeader,
    KTFooter,
  },
  emits: ["dataEmitted"],
  setup() {
    const isCheckedDetails = ref<boolean>(false);
    const hiddenBtnDetails = "hide-title";

    const receivedData = ref<Array<IReservation>>([]);

    const receiveData = (data: Array<IReservation>) => {
      receivedData.value = data;
    };

    const showDetails = ref(false);

    const toggleDetails = () => {
      showDetails.value = !showDetails.value;
    };

    const loading = ref(false);

    const cardDetailsRef = ref<any>(null);
    const cardDetails = ref<ICard | null>(null);

    const paxDetailsRefs = ref<Ref[]>([]);
    const clientDetailsRef = ref<any>(null);
    const paxesDetails = ref<IPax[]>([]);

    const billingDetailsRef = ref<any>(null);
    const billingDetails = ref<IBillingDetails | null>(null);

    const additionalServicesRef = ref<any>(null);
    const additionalServices = ref<IAdditionalServices | null>(null);

    const tipsAmount = ref<number>(25);
    const ratingScore = ref<number>(0);

    const contactEmail = ref<string>("");
    const contactPhone = ref<string>("");
    const additionalEmail = ref<string>("");
    const additionalPhone = ref<string>("");

    const store = useBookingStore();
    const route = useRoute();
    const router = useRouter();

    const paramToken = route.params.token as string;

    const getDataFromRoute = () => {
      const dataString = route.query.data as string;
      if (dataString) {
        return JSON.parse(dataString);
      }
      return null;
    };

    const getPaxDetailsRefs = () => {
      const numPaxes = paxesDetails.value.length;

      for (let i = 0; i < numPaxes; i++) {
        const additionalRef = ref<any>(null);
        paxDetailsRefs.value.push(additionalRef);
      }
    };

    paxesDetails.value = getDataFromRoute();

    getPaxDetailsRefs();

    const clientDetails = ref<IClient>({
      email: "",
      phone: "",
      contact_email: "",
      contact_phone: "",
      additional_email: "",
      additional_phone: "",
    });

    const getClient = async () => {
      const clientDetailsOld = await store.getClient(paramToken);
      return clientDetailsOld;
    };

    onMounted(async () => {
      clientDetails.value = (await getClient()) as IClient;
    });

    const submit = () => {
      cardDetails.value = null;
      cardDetailsRef.value.submit();

      paxesDetails.value = [];
      submitPaxDetails();

      billingDetails.value = null;
      billingDetailsRef.value.submit();

      additionalServices.value = null;
      additionalServicesRef.value.submit();

      contactEmail.value = clientDetails.value.email;
      contactPhone.value = clientDetails.value.phone;
      additionalEmail.value = clientDetails.value.additional_email;
      additionalPhone.value = clientDetails.value.additional_phone;

      setTimeout(async () => {
        if (
          isCheckedTips.value &&
          isCheckedPurchase.value &&
          cardDetails.value &&
          isAllPaxesDetails() &&
          billingDetails.value &&
          clientDetails.value &&
          isCheckedDetails.value
        ) {
          loading.value = true;
          const token = route.params.token as string;
          const response = await store.storeBookingData(
            token,
            cardDetails.value,
            paxesDetails.value,
            billingDetails.value,
            additionalServices.value,
            tipsAmount.value,
            ratingScore.value,
            isCheckedProtection.value,
            contactEmail.value,
            contactPhone.value,
            additionalEmail.value,
            additionalPhone.value
          );
          if (response) {
            successStore();
          }
          loading.value = false;
        }
      });
    };

    const successStore = () => {
      const name = paxesDetails.value[0].first_name;
      cardDetailsRef.value.resetForm();
      resetPaxDetails();
      billingDetailsRef.value.resetForm();
      additionalServicesRef.value.resetForm();
      router.push({
        path: `/booking/confirmation/${name}`,
      });
    };

    const onCardSuccess = (
      cardDetailsParam: {
        card_number: string;
        month: string;
        year: string;
        cvv: string;
        first_name: string;
        last_name: string;
        valid_thru: string;
        owner: string;
      } | null
    ) => {
      cardDetails.value = cardDetailsParam;
    };

    const onPaxSuccess = (paxDetailsParam: {
      gender: "m" | "f";
      first_name: string;
      last_name: string;
      middle_name: string;
      birthday: string;
      email: string;
      phone: string;
    }) => {
      paxesDetails.value.push(paxDetailsParam);
    };

    const onContactPerson = (contactPersonParam: {
      email: string;
      phone: string;
      contact_email: string;
      contact_phone: string;
      additional_email: string;
      additional_phone: string;
    }) => {
      clientDetails.value.email = contactPersonParam.email;
      clientDetails.value.phone = contactPersonParam.phone;
      contactEmail.value = clientDetails.value.email;
      contactPhone.value = clientDetails.value.phone;
      additionalEmail.value = clientDetails.value.additional_email;
      additionalPhone.value = clientDetails.value.additional_phone;
    };

    const onBillingSuccess = (
      billingDetailsParam: {
        country: string;
        zip: number;
        state: string;
        city: string;
        email: string;
        phone: string;
        street_address: string;
      } | null
    ) => {
      billingDetails.value = billingDetailsParam;
    };

    const onAdditionalSuccess = (
      additionalParam: {
        seat_preference: string;
        meal_preference: string;
        special_assistance: string;
        frequent_flyer: string;
        program_number: string;
      } | null
    ) => {
      additionalServices.value = additionalParam;
    };

    const submitPaxDetails = () => {
      for (const paxRef of paxDetailsRefs.value) {
        paxRef.value[0].submit();
      }
    };

    const resetPaxDetails = () => {
      for (const paxRef of paxDetailsRefs.value) {
        paxRef.value[0].resetForm();
      }
    };

    const isAllPaxesDetails = () =>
      paxesDetails.value.length === paxDetailsRefs.value.length;

    const isCheckedTips = ref(false);
    const isCheckedPurchase = ref(false);
    const isCheckedProtection = ref(true);

    const updateCheckboxValueTips = (value) => {
      isCheckedTips.value = value;
    };

    const updateCheckboxValuePurchase = (value) => {
      isCheckedPurchase.value = value;
    };

    const updateCheckboxValueProtection = (value) => {
      isCheckedProtection.value = value;
    };
    const updateCheckboxValueDetails = (value) => {
      isCheckedDetails.value = value;
    };
    const handleTipAmountChange = (tipAmount) => {
      tipsAmount.value = tipAmount;
    };

    const handleRatingChanged = (ratingValue) => {
      ratingScore.value = ratingValue;
    };

    const getTotal = ref(0);

    const handleData = (data: number) => {
      getTotal.value = data;
    };

    return {
      receivedData,
      receiveData,
      showDetails,
      toggleDetails,
      successStore,
      submit,
      loading,
      onCardSuccess,
      cardDetails,
      cardDetailsRef,
      onPaxSuccess,
      paxDetailsRefs,
      paxesDetails,
      clientDetailsRef,
      onContactPerson,
      onBillingSuccess,
      billingDetails,
      billingDetailsRef,
      onAdditionalSuccess,
      additionalServices,
      additionalServicesRef,
      isCheckedTips,
      updateCheckboxValueTips,
      isCheckedPurchase,
      updateCheckboxValuePurchase,
      isCheckedProtection,
      updateCheckboxValueProtection,
      tipsAmount,
      handleTipAmountChange,
      isCheckedDetails,
      handleRatingChanged,
      paramToken,
      handleData,
      getTotal,
      clientDetails,
      store,
      updateCheckboxValueDetails,
      hiddenBtnDetails,
    };
  },
});
</script>

<style lang="scss">
.sticky-top {
  top: 32px;
}

.hide-title {
  .title-hide {
    display: none;
  }
}
</style>
