<!-- eslint-disable prettier/prettier -->
<template>
  <KTHeader />

  <div class="app-main flex-column flex-row-fluid " :class="{ paddingCustom: isBookingPageTrue }">
    <div class="app-container container-fluid">
      <div class="row gy-10 gx-xl-10 mt-5 mt-md-0">


        <h2 class="fw-bold text-center">Please select the flight option you would prefer</h2>


        <div class="tabs white-text flex-wrap">

          <div v-for="priceQuoteTab in allPriceQuotes" :key="priceQuoteTab.id" class="tab d-flex justify-content-center"
            :class="{ active: priceQuoteTab.active }" @click="selectTab(priceQuoteTab)">
            <div class="received-data-block m-0 ms-md-3">
              <h4 class="text-center text-md-left">{{ priceQuoteTab.id }}. {{ priceQuoteTab.airline?.name }}</h4>
              <h4 class="text-center text-md-left">${{ formatPrice(priceQuoteTab.price) }}</h4>
            </div>
            <div class="d-none d-md-block col-md-6 col-sm-5 col-12 text-sm-end text-center">
              <img class="img-airline" :src="priceQuoteTab.airline?.logo" />
            </div>
          </div>
        </div>

        <div class="col-xl-7">

          <div class="col-xl-12 mb-5">
            <template v-for="priceQuoteDetails in allPriceQuotes" :key="priceQuoteDetails.id">
              <div v-show="priceQuoteDetails.active">
                <FlightDetails :callback="receiveData" :token="priceQuoteDetails.uuid" :widgetClasses="hiddenBtnDetails">
                </FlightDetails>
              </div>
            </template>
          </div>
        </div>
        <div class="col-xl-5">
          <BookingForm :currentTokenValue="currentTabToken" @countBlockAdd="doubleBlock" @countBlockDelete="removeBlock"
            ref="formComponentRef" @onSuccess="onFormSuccess">
          </BookingForm>

        </div>
      </div>
    </div>



  </div>

  <div class="footerOption">
    <div v-if="activePriceQuoteTab">
      <div class="w-100 d-flex justify-content-between px-9 py-3 py-lg-6 m-0 align-items-center row">
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center justify-content-md-start">
          <div class="d-none d-md-block">
            <img class="img-airline" :src="activePriceQuoteTab.airline?.logo" />
          </div>
          <h2 class="white-text text-center text-md-left m-0 p-0 ps-lg-3">{{ activePriceQuoteTab.id }}. {{
            activePriceQuoteTab.airline?.name }}</h2>
        </div>
        <div class="col-12 col-md-6">
          <div class="row align-items-center justify-content-end">
            <div class="col-12 col-md-6 d-flex flex-md-column justify-content-center align-items-md-end pe-md-3">
              <h1 class="white-text m-0 my-1 my-md-0">$ {{ ((activePriceQuoteTab.price) * value).toFixed(2) }}</h1>
              <p class="m-0 fs-5 fw-semibold text-uppercase d-none d-md-block">total ticket price</p>
            </div>
            <button :data-kt-indicator="loading ? 'on' : null"
              class="col-12 col-md-6 col-lg-4 btn btn-lg btn-success continueWithPaymentDesign"
              @click.prevent="callFormSubmit">
              <span v-if="!loading" class="indicator-label">
                Continue with payment
                <span class="svg-icon svg-icon-3 ms-2 me-0">
                  <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
                </span>
              </span>
              <span v-if="loading" class="indicator-progress">
                Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <KTFooter />
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, computed } from "vue";
import { useBookingStore } from "@/stores/booking";
import { useRoute } from "vue-router";
import FlightDetails from "@/components/booking-page/FlightDetails.vue";
import BookingForm from "@/components/booking-page/BookingForm.vue";
import type { IReservation, IPriceQuote } from "@/core/types/bookingTypes";
import KTHeader from "@/layouts/main-layout/header/Header.vue";
import KTFooter from "@/layouts/main-layout/footer/Footer.vue";
import { formatPrice } from "@/core/helpers/formatPrice";

export default defineComponent({
  name: "booking-page",
  components: {
    FlightDetails,
    BookingForm,
    KTHeader,
    KTFooter,
  },
  computed: {
    isBookingPageTrue() {
      const path = this.$route.fullPath;
      return path.indexOf("booking") === 1
    }
  },
  setup() {
    const value = ref(0);
    const store = useBookingStore();
    const route = useRoute();
    const allPriceQuotes = ref<Array<IPriceQuote>>([]);
    const currentTabToken = ref("");
    const hiddenBtnDetails = "hide-btn-details";
    const loading = ref(false);
    const selectTab = (selectedTab: { id: number }) => {
      allPriceQuotes.value.forEach((tab) => {
        tab.active = tab.id === selectedTab.id;
        if (tab.active) {
          currentTabToken.value = tab.uuid;
        }
      });
    };

    const receivedData = ref<Array<IReservation>>([]);

    const receiveData = (data: Array<IReservation>) => {
      receivedData.value = data;
    };

    const getAllPriceQuotes = async () => {
      const query = route.params.token as string;
      const tokens = query.split(":");
      const response = await store.getAllPriceQuotes(tokens);
      allPriceQuotes.value = response;
      currentTabToken.value = tokens[0];
    };

    onMounted(getAllPriceQuotes);

    const activePriceQuoteTab = computed(() => {
      return allPriceQuotes.value.find((tab) => tab.active);
    });

    const doubleBlock = (newValue) => {
      value.value = newValue;
    };
    const removeBlock = (newValue) => {
      value.value = newValue;
    };

    const formComponentRef = ref<any>(null);
    const callFormSubmit = () => {
      if (formComponentRef.value) {
        formComponentRef.value.submit();
      }
    };

    const onFormSuccess = () => {
      loading.value = true;
    };

    return {
      selectTab,
      receivedData,
      receiveData,
      allPriceQuotes,
      currentTabToken,
      hiddenBtnDetails,
      activePriceQuoteTab,
      doubleBlock,
      removeBlock,
      value,
      formatPrice,
      loading,
      formComponentRef,
      callFormSubmit,
      onFormSuccess,
    };
  },
});
</script>

<style lang="scss">
.tabs {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 10px;
  width: 100%;
}

.tab {
  width: auto;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  padding: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 100px;
  border-radius: calc(0.625rem - 1px);
  max-width: 420px;
}

.tab:last-child {
  margin-right: 0 !important;
}

.hide-btn-details {
  .btn-hide-details {
    display: none;
  }
}

.tab .img-airline {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.received-data-block {
  width: 70%;
}

.tab.active {
  background-color: #d2a873;
  font-weight: bold;
  border-radius: calc(0.625rem - 1px);

  h4 {
    color: white !important;
  }
}
.paddingCustom{
  padding-bottom: 140px;
}
.flightOptionSelect {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 1.275rem;
}

.footerOption {
  background-color: #d2a873;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0;
  z-index: 2;
}

.headerSticky {
  position: sticky;
}

.gilmer-title {
  font-family: "Gilmer", sans-serif;
}

.muli-text {
  font-family: "Muli", sans-serif;
}

.brandColor {
  color: #d2a873 !important;
}

.white-text {
  color: white !important;
}
@media (max-width:990px){
  .paddingCustom{
    padding-bottom: 100px;
  }
}
@media (max-width:760px){
  .paddingCustom{
    padding-bottom: 120px;
  }
}
</style>