<template>
  <div class="h-100 px-3">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="card p-5">
        <!--begin::Header-->
        <div
          class="card-header align-items-center border-0 justify-content-center flex-column max-width-500"
        >
          <div class="w-25">
            <img src="/media/logos/Logo_Flyluxury-03.svg" alt="Flyluxury" />
          </div>
          <h2 class="fw-bold mb-1">Excellent choice,</h2>
          <h2 class="fw-bold mb-5 text-capitalize">{{ nameClient }}</h2>
          <p class="fs-5 text-center p-0 m-0">We appreciate your business.</p>
          <p class="fs-5 text-center p-0 m-0 mb-5">
            Your ticket is en route . Kindly allow us up to 24 hours to process
            your reservation and send you the ticket receipt.
          </p>
          <hr class="w-50 p-0 m-0 mb-5" />
          <p class="fs-5 text-center p-0 m-0">
            If you have any additional questions , do not hesitate to
          </p>
          <p class="fs-5 text-center p-0 m-0 mb-1">Contact us :</p>
          <a
            href="tel:+18559966660"
            target="_blank"
            class="fs-3 fw-bold p-0 m-0 mb-1"
            >(855) 996-6660</a
          >
          <p class="fs-5 text-center p-0 m-0">
            We appreciate your trust and wish you a pleasant journey
          </p>
          <a href="https://flyluxury.com/" target="_blank" class="fs-5"
            >FlyLuxury.com</a
          >
        </div>
        <!--end::Header-->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { useRoute } from "vue-router";

export default defineComponent({
  name: "confirmation-page",
  setup() {
    const route = useRoute();
    const nameClient = route.params.name as string;

    return {
      nameClient,
    };
  },
});
</script>

<style lang="scss">
.max-width-500 {
  max-width: 500px;
}
</style>
