<template>
  <!--begin::Modal - New Card-->
  <div
    class="modal fade"
    ref="editUserModalRef"
    id="kt_modal_edit_user"
    tabindex="-1"
    aria-hidden="true"
  >
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
      <!--begin::Modal content-->
      <div class="modal-content">
        <!--begin::Modal header-->
        <div class="modal-header">
          <!--begin::Modal title-->
          <h2>Edit User</h2>
          <!--end::Modal title-->

          <!--begin::Close-->
          <div
            class="btn btn-sm btn-icon btn-active-color-primary"
            data-bs-dismiss="modal"
          >
            <span class="svg-icon svg-icon-1">
              <inline-svg src="/media/icons/duotune/arrows/arr061.svg" />
            </span>
          </div>
          <!--end::Close-->
        </div>
        <!--end::Modal header-->

        <!--begin::Modal body-->
        <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
          <!--begin::Form-->
          <VForm
            id="kt_modal_edit_user_form"
            class="form"
            @submit="submit"
            :validation-schema="validationSchema"
          >
            <!--begin::Input group-->
            <div class="d-flex flex-column mb-7 fv-row">
              <!--begin::Label-->
              <label
                class="d-flex align-items-center fs-6 fw-semobold form-label mb-2"
              >
                <span class="required">Name</span>
              </label>
              <!--end::Label-->

              <Field
                type="text"
                class="form-control form-control-solid"
                placeholder=""
                name="name"
                v-model="userData.name"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="name" />
                </div>
              </div>
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="d-flex flex-column mb-7 fv-row">
              <!--begin::Label-->
              <label
                class="d-flex align-items-center fs-6 fw-semobold form-label mb-2"
              >
                <span>Email</span>
                <i
                  class="fas fa-exclamation-circle ms-2 fs-7"
                  data-bs-toggle="tooltip"
                  title="Read only"
                ></i>
              </label>
              <!--end::Label-->

              <Field
                type="text"
                class="form-control form-control-solid"
                placeholder=""
                name="email"
                disabled
                readonly
                v-model="userData.email"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="name" />
                </div>
              </div>
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="d-flex flex-column mb-7 fv-row">
              <!--begin::Label-->
              <label
                class="d-flex align-items-center fs-6 fw-semobold form-label mb-2"
              >
                <span>Phone</span>
              </label>
              <!--end::Label-->

              <Field
                type="text"
                class="form-control form-control-solid"
                placeholder=""
                name="phone"
                v-model="userData.phone"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="phone" />
                </div>
              </div>
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="d-flex flex-column mb-7 fv-row">
              <!--begin::Label-->
              <label
                class="d-flex align-items-center fs-6 fw-semobold form-label mb-2"
              >
                <span>Supervisor</span>
              </label>
              <!--end::Label-->
              <!--begin::Select-->
              <Field
                name="supervisor_id"
                class="form-select form-select-solid"
                as="select"
                v-model="userData.supervisor_id"
              >
                <option
                  :value="item.id"
                  v-for="item in supervisors"
                  :key="item.id"
                >
                  {{ item.name }}
                </option>
              </Field>
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="supervisor_id" />
                </div>
              </div>
              <!--end::Select-->
            </div>

            <!--begin::Input group-->
            <div class="d-flex flex-column mb-7 fv-row">
              <!--begin::Label-->
              <label
                class="d-flex align-items-center fs-6 fw-semobold form-label mb-2"
              >
                <span>Role</span>
              </label>
              <!--end::Label-->
              <!--begin::Select-->
              <Field
                name="role"
                class="form-select form-select-solid"
                as="select"
                v-model="userData.role"
              >
                <option value="sales-agent">Sales Agent</option>
                <option value="expert-agent">Expert Agent</option>
                <option value="sales-supervisor">Sales Supervisor</option>
                <option value="cs-supervisor">CS Supervisor</option>
              </Field>
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="role" />
                </div>
              </div>
              <!--end::Select-->
            </div>
            <!--end::Input group-->

            <!--begin::Input group-->
            <div class="d-flex flex-stack">
              <!--begin::Switch-->
              <label
                class="form-check form-switch form-check-custom form-check-solid"
              >
                <input
                  name="enabled"
                  class="form-check-input"
                  type="checkbox"
                  :true-value="true"
                  :false-value="false"
                  v-model="userData.enabled"
                />
                <span class="form-check-label fw-semobold text-gray-400">
                  Enabled
                </span>
              </label>
              <!--end::Switch-->
            </div>
            <!--end::Input group-->

            <!--begin::Actions-->
            <div class="text-center pt-15">
              <button
                type="button"
                data-bs-dismiss="modal"
                class="btn btn-light me-3"
              >
                Cancel
              </button>

              <button
                ref="submitButtonRef"
                type="submit"
                id="kt_modal_new_card_submit"
                class="btn btn-primary"
              >
                <span class="indicator-label"> Submit </span>
                <span class="indicator-progress">
                  Please wait...
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2"
                  ></span>
                </span>
              </button>
            </div>
            <!--end::Actions-->
          </VForm>
          <!--end::Form-->
        </div>
        <!--end::Modal body-->
      </div>
      <!--end::Modal content-->
    </div>
    <!--end::Modal dialog-->
  </div>
  <!--end::Modal - New Card-->
</template>

<script lang="ts">
import { defineComponent, ref, type PropType, onMounted } from "vue";
import { ErrorMessage, Field, Form as VForm } from "vee-validate";
import { hideModal } from "@/core/helpers/dom";
import * as Yup from "yup";
import type { IUser } from "@/core/types/userTypes";
import { onShowModal } from "@/core/helpers/dom";
import { useUsersStore } from "@/stores/users";

export default defineComponent({
  name: "edit-user-modal",
  components: {
    ErrorMessage,
    Field,
    VForm,
  },
  props: {
    user: Object as PropType<IUser>,
  },
  setup(props) {
    const submitButtonRef = ref<null | HTMLButtonElement>(null);
    const editUserModalRef = ref<null | HTMLElement>(null);
    const supervisors = ref<Array<IUser>>([]);
    const store = useUsersStore();

    let userData = ref<IUser>({
      name: "",
      email: "",
      supervisor_id: 0,
      enabled: false,
      role: "",
      phone: "",
    });

    const validationSchema = Yup.object().shape({
      name: Yup.string().required().label("Name"),
      email: Yup.string().required().email().label("Email"),
      phone: Yup.string()
        .nullable()
        .matches(
          /^\+?[0-9]*$/,
          "Phone number must start with '+' and contain only digits"
        )
        .label("Phone"),
      role: Yup.string().required().label("Role"),
    });

    onMounted(async () => {
      onShowModal(editUserModalRef.value, () => {
        userData.value = props.user as IUser;
      });
      supervisors.value = (await store.getSupervisors()) as Array<IUser>;
    });

    const submit = async () => {
      if (!submitButtonRef.value) {
        return;
      }

      //Disable button
      submitButtonRef.value.disabled = true;
      // Activate indicator
      submitButtonRef.value.setAttribute("data-kt-indicator", "on");

      await store.saveUser(userData.value);

      submitButtonRef.value.disabled = false;
      submitButtonRef.value?.removeAttribute("data-kt-indicator");

      hideModal(editUserModalRef.value);
    };

    return {
      supervisors,
      userData,
      validationSchema,
      submit,
      submitButtonRef,
      editUserModalRef,
    };
  },
});
</script>
