<template>
  <!--begin::Logo-->
  <div class="app-sidebar-logo" id="kt_app_sidebar_logo">
    <!--begin::Logo image-->
    <router-link to="/">
      <div class="logoQuote">
        <div class="logoImg"><img v-if="layout === 'dark-sidebar' ||
          (themeMode === 'dark' && layout === 'light-sidebar')
          " alt="Logo" src="/media/logos/flyluxury.png" class="h-40px app-sidebar-logo-default" />
        </div>
        <div class="comfortQuote">
          Comfort you deserve
        </div>
      </div>
      <img v-if="themeMode === 'light' && layout === 'light-sidebar'" alt="Logo" src="/media/logos/default.svg"
        class="h-25px app-sidebar-logo-default" />
      <img alt="Logo" src="/media/logos/default-small.svg" class="h-20px app-sidebar-logo-minimize" />
    </router-link>
    <!--end::Logo image-->
  </div>
  <!--end::Logo-->
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { layout, themeMode } from "@/core/helpers/config";
import { sidebarToggleDisplay } from "@/core/helpers/config";

export default defineComponent({
  name: "sidebar-logo",
  components: {},
  setup() {
    return {
      layout,
      themeMode,
      sidebarToggleDisplay,
    };
  },
});
</script>
<style>
.comfortQuote {
  color: black;
  opacity: 0.6;
  line-height: 18px;
  margin-top: -12px;
  transform: scale(0.9);
  margin-left: 62px;
}

.logoImg {
  clip-path: inset(0 0 11px 0);
}

.logoQuote {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
</style>