<template>
  <div class="pt-0 pb-5 mt-6 sales-table">
    <div class="d-flex align-items-end row">
      <div class="d-block col-lg-4 mb-6 pe-4">
        <!--begin::Label-->
        <label class="col-form-label fw-semobold fs-6">
          <span class="required">Sale:</span>
        </label>
        <!--end::Label-->
        <!--begin::Col-->
        <div class="fv-row">
          <Field
            as="select"
            name="sale"
            class="form-select form-select-solid form-select-lg fw-semobold"
            v-model="selectedSaleType"
            :disabled="$props.disabledStatus"
          >
            <option :value="1">Revenue sale</option>
            <option :value="2">Award Sale</option>
          </Field>
        </div>
        <!--end::Col-->
      </div>

      <div class="d-block col-lg-4 mb-6 pe-4">
        <button
          type="button"
          class="btn btn-flex btn-primary"
          @click="add"
          :disabled="$props.disabledStatus"
        >
          <span class="svg-icon svg-icon-3">
            <inline-svg src="/media/icons/duotune/general/gen035.svg" />
          </span>
          Add new
        </button>
      </div>
    </div>

    <div v-for="saleDetail in filteredSaleData" :key="saleDetail.id">
      <AddSaleDetailModal
        :sale-id="$props.saleId"
        :pax-id="$props.paxId"
        :sale-detail="saleDetail"
        :selling-price="$props.sellingPrice"
        :net-price="$props.netPrice"
        :disabled-status="$props.disabledStatus"
        @variable-updated="updateProfit"
      ></AddSaleDetailModal>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref, watch } from "vue";
import { useSaleStore } from "@/stores/sales";
import { Field } from "vee-validate";
import { revenueSaleHeader, awardSaleHeader } from "@/core/tables/sales";
import AddSaleDetailModal from "@/components/sales/AddSaleDetailModal.vue";
import type { ISaleDetail } from "@/core/types/saleTypes";
import Swal from "sweetalert2";
import { formatPrice } from "@/core/helpers/formatPrice";

export default defineComponent({
  name: "sales-table",
  components: {
    Field,
    AddSaleDetailModal,
  },
  props: {
    saleId: {
      type: Number,
      required: true,
    },
    sellingPrice: {
      type: Number,
      default: 0,
    },
    modelValue: {
      type: Number,
      default: 1,
    },
    netPrice: {
      type: Number,
      default: 0,
    },
    disabledStatus: {
      type: Boolean,
      default: false,
    },
    paxId: {
      type: Number,
      required: true,
    },
  },
  emits: ["update:modelValue", "update:totalFinalProfit"],
  setup(props, { emit }) {
    const selectedSaleType = computed({
      get() {
        return props.modelValue;
      },
      set(value) {
        emit("update:modelValue", value);
      },
    });

    const selectedSaleDetail = ref<ISaleDetail>();

    const store = useSaleStore();
    const saleDetails = ref(store.saleDetails);

    const filteredSaleData = computed(() => {
      return saleDetails.value.filter((item) => {
        return item.pax_id === props.paxId;
      });
    });

    onMounted(async () => {
      await store.getSaleDetails(props.saleId);
    });

    const adjustRow = (saleDetail: ISaleDetail) => {
      selectedSaleDetail.value = saleDetail;
    };

    const add = async () => {
      if (props.paxId === 0) {
        Swal.fire({
          icon: "warning",
          title: "The passenger's information has not been saved",
          text: "Press 'Save changes' to continue filling out the form.",
        });
        return;
      }

      var saleType = 1;

      if (selectedSaleType.value === 1 || selectedSaleType.value === 2) {
        saleType = selectedSaleType.value;
      }

      if (store.saleDetails) {
        const emptyRecord: ISaleDetail = {
          type: saleType,
          airline_code: "",
          gds_pnr: "",
          airline_pnr: "",
          ticket_number: "",
          selling_price: props.sellingPrice,
          net_price: props.netPrice,
          total_profit: props.sellingPrice - props.netPrice,
          fare: 0,
          commission_amount: 0,
          ck_fees: 0,
          fop: "",
          issuing_fees: 0,
          pcc: "",
          taxes: 0,
          price_per_mile: 0,
          miles_amount: 0,
          tips: 0,
          ticket_protection: true,
          rating: 0,
          pax_id: props.paxId,
        };

        await store.saveSaleDetail(emptyRecord, props.saleId);
      }
    };

    const childProfit = ref(null);

    const updateProfit = (value) => {
      childProfit.value = value;
    };

    const totalFinalProfit = computed(() => {
      let sum = 0;
      for (const item of filteredSaleData.value) {
        sum += item.total_profit;
      }
      return sum;
    });

    watch(totalFinalProfit, (newValue) => {
      emit("update:totalFinalProfit", newValue);
    });

    watch(
      () => store.saleDetails,
      (childProfit) => {
        saleDetails.value = childProfit;
      }
    );

    return {
      selectedSaleType,
      revenueSaleHeader,
      filteredSaleData,
      awardSaleHeader,
      selectedSaleDetail,
      adjustRow,
      add,
      store,
      updateProfit,
      childProfit,
      totalFinalProfit,
      formatPrice,
    };
  },
});
</script>
