<template>
  <!--begin::Basic info-->
  <div class="card mb-5 mb-xl-10" v-if="sale">
    <!--begin::Card header-->
    <div class="card-header border-0">
      <!--begin::Card title-->
      <div class="card-title m-0">
        <h3 class="fw-bold m-0">Sales Details</h3>
      </div>

      <span class="d-flex justify-content-center align-items-center">
        <button
          type="button"
          class="btn btn-primary me-3"
          @click="viewDemoForm"
        >
          View OAF
        </button>
        <button type="button" class="btn btn-primary" @click="bookingDetails">
          Booking Details
        </button>
      </span>
      <!--end::Card title-->
    </div>
    <!--begin::Card header-->

    <!--begin::Content-->
    <div id="kt_account_profile_details" class="collapse show">
      <!--begin::Form-->
      <VForm
        as="el-form"
        id="kt_account_profile_details_form"
        class="form"
        novalidate
        @submit="saveChanges()"
        :validation-schema="leadDetailsValidator"
      >
        <!--begin::Card body-->
        <div class="card-body border-top p-9">
          <!--begin::Input group-->
          <div class="d-flex align-items-end row">
            <h4>Lead Details</h4>

            <!--begin::Input group-->
            <div class="d-block col-lg-4 mb-6 mb-lg-0 pe-4 mt-lg-4">
              <!--begin::Label-->
              <label class="col-form-label fw-semobold fs-6">
                <span>Sale ID:</span>
              </label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="fv-row">
                <div
                  name="sale_id"
                  class="form-control form-control-solid form-control-lg fw-semobold d-flex align-items-center"
                >
                  <span class="ms-3">{{ sale.id }}</span>
                </div>
              </div>
              <!--end::Col-->
            </div>

            <div class="d-block col-lg-4 mb-6 mb-lg-0 pe-4">
              <!--begin::Label-->
              <label class="col-form-label fw-semobold fs-6">
                <span>Lead ID:</span>
              </label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="fv-row">
                <div
                  name="lead_id"
                  class="form-control form-control-solid form-control-lg fw-semobold d-flex align-items-center"
                >
                  <router-link
                    :to="{
                      name: 'leads-view',
                      params: { number: sale.lead?.number },
                    }"
                    class="ms-3"
                  >
                    {{ sale.lead?.number }}
                  </router-link>
                </div>
              </div>
              <!--end::Col-->
            </div>

            <div class="d-block col-lg-4 mb-6 mb-lg-0 pe-4">
              <!--begin::Label-->
              <label class="col-form-label fw-semobold fs-6">
                <span>Supervisor:</span>
              </label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="fv-row">
                <div
                  name="supervisor"
                  class="form-control form-control-solid form-control-lg fw-semobold d-flex align-items-center"
                >
                  <span class="ms-3">{{ sale.supervisor }}</span>
                </div>
              </div>
              <!--end::Col-->
            </div>

            <div class="d-block col-lg-4 mb-6 pe-4">
              <!--begin::Label-->
              <label class="col-form-label fw-semobold fs-6">
                <span>Agent:</span>
              </label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="fv-row">
                <div
                  name="lead_name"
                  class="form-control form-control-solid form-control-lg fw-semobold d-flex align-items-center"
                >
                  <span class="ms-3"
                    >{{ sale.agent }}
                    <span v-if="agentSecond">
                      (50% Final Profit: ${{
                        formatPrice(totalFinalProfit / 2)
                      }})
                    </span></span
                  >
                </div>
              </div>
              <!--end::Col-->
            </div>

            <div class="d-block col-lg-4 mb-6 pe-4">
              <!--begin::Label-->
              <label class="col-form-label fw-semobold fs-6">
                <span>Agent 2 (optional):</span>
              </label>
              <!--end::Label-->

              <!--begin::Col-->
              <Field
                v-if="hasPermission"
                as="select"
                name="agent_id"
                class="form-select form-select-solid form-select-lg fw-semobold"
                v-model="sale.second_agent_id"
                :disabled="disabledStatus"
              >
                <option value="">Not assigned</option>
                <option
                  v-if="
                    sale.second_agent &&
                    !agentsStore.agents.some(
                      (agent) => agent.id === sale?.second_agent.id
                    )
                  "
                  :value="sale.second_agent.id"
                >
                  {{ sale.second_agent.name }} (50% Final Profit: ${{
                    formatPrice(totalFinalProfit / 2)
                  }})
                </option>
                <option
                  v-for="item in agentsStore.agents"
                  :value="item.id"
                  :key="item.id"
                >
                  {{ item.name }}
                  <span v-if="agentSecond">
                    (50% Final Profit: ${{ formatPrice(totalFinalProfit / 2) }})
                  </span>
                </option>
              </Field>

              <div v-else class="fv-row">
                <div
                  name="lead_name"
                  class="form-control form-control-solid form-control-lg fw-semobold d-flex align-items-center"
                >
                  <span v-if="agentSecond" class="ms-3"
                    >{{ sale.second_agent.name }}
                    <span>
                      (50% Final Profit: ${{
                        formatPrice(totalFinalProfit / 2)
                      }})
                    </span></span
                  >
                </div>
              </div>
              <!--end::Col-->
            </div>

            <div class="col-lg-4 mb-6 pe-4" v-can="'change sale status'">
              <!--begin::Label-->
              <label class="col-form-label fw-semobold fs-6">
                <span>Status:</span>
              </label>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="fv-row">
                <Field
                  as="select"
                  name="status"
                  class="form-select form-select-solid form-select-lg fw-semobold"
                  v-model="sale.status"
                >
                  <option :value="0">Open</option>
                  <option :value="1">Close</option>
                  <option :value="2" v-can="'change sale status'">
                    Reject
                  </option>
                </Field>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Input group-->
          </div>

          <div class="d-flex align-items-center justify-content-end row mt-4">
            <div class="d-flex justify-content-end col-lg-6 mb-6">
              <!--begin::Label-->
              <button
                type="button"
                class="btn ms-2 btn-primary me-3"
                @click="previewTicket"
              >
                Preview Ticket
                <span
                  v-if="loading"
                  class="spinner-border spinner-border-sm align-middle ms-2"
                >
                </span>
              </button>
              <!--end::Col-->
            </div>
          </div>

          <div class="d-block mt-6 mb-6 w-100">
            <div class="d-flex mb-5 justify-content-between align-items-center">
              <h4 class="mb-0 col-lg-4">Client Details</h4>
              <div class="fv-row col-lg-4 ps-3 pe-1">
                <label class="col-form-label fw-semobold fs-6">
                  Final Profit:
                </label>
                <el-form-item>
                  <el-input
                    :value="formatPrice(totalFinalProfit)"
                    :disabled="true"
                  ></el-input>
                </el-form-item>
              </div>
            </div>

            <div
              class="d-flex align-items-start row"
              v-for="(pax, key) in sale.paxes"
              :key="pax.id"
            >
              <h5 class="mb-2">Pax #{{ key + 1 }}</h5>
              <div class="d-flex col-lg-12">
                <!--begin::Input group-->
                <div class="d-block col-lg-none w-lg-100 mb-6">
                  <!--begin::Label-->
                  <label class="col-form-label fw-semobold fs-6">
                    <span class="required">Name of pax:</span>
                  </label>
                  <!--end::Label-->
                  <!--begin::Col-->
                  <div
                    class="d-flex align-items-center justify-content-between"
                  >
                    <div class="fv-row col-lg-4 pe-5">
                      <el-input
                        filterable
                        v-model="pax.first_name"
                        class="col-12"
                        placeholder="Name"
                        :disabled="disabledStatus || !hasPermission"
                      >
                      </el-input>
                    </div>

                    <div class="fv-row col-lg-4 pe-5">
                      <el-input
                        filterable
                        v-model="pax.last_name"
                        class="col-12"
                        placeholder="Surname"
                        :disabled="disabledStatus || !hasPermission"
                      >
                      </el-input>
                    </div>

                    <div class="fv-row col-lg-4">
                      <el-input
                        filterable
                        v-model="pax.middle_name"
                        class="col-12"
                        placeholder="Middlename"
                        :disabled="disabledStatus || !hasPermission"
                      >
                      </el-input>
                    </div>
                  </div>
                  <!--end::Col-->
                </div>
              </div>

              <div class="d-block col-lg-12">
                <div class="d-flex w-100">
                  <div class="d-block mb-6 pe-5 col-lg-3">
                    <!--begin::Label-->
                    <label class="col-form-label fw-semobold fs-6">
                      <span class="required">Gender:</span>
                    </label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="fv-row">
                      <Field v-slot="{ field }" name="client_gender">
                        <el-select
                          v-model="pax.gender"
                          v-bind="field"
                          filterable
                          class="col-12"
                          placeholder="Select gender"
                          :disabled="disabledStatus || !hasPermission"
                        >
                          <el-option value="m" label="Male"></el-option>
                          <el-option value="f" label="Female"></el-option>
                        </el-select>
                      </Field>
                    </div>
                    <!--end::Col-->
                  </div>

                  <div class="d-block mb-6 pe-5 col-lg-3">
                    <!--begin::Label-->
                    <label class="col-form-label fw-semobold fs-6">
                      <span class="required">Date of Birth:</span>
                    </label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <el-form-item prop="date_of_birth" class="w-100">
                      <el-date-picker
                        type="date"
                        :teleported="false"
                        name="client_dob"
                        v-model="pax.birthday"
                        class="form-control form-control-lg form-control-solid"
                        placeholder="Date of Birth"
                        format="MM/DD/YYYY"
                        value-format="YYYY-MM-DD"
                        :disabled="disabledStatus || !hasPermission"
                      />
                    </el-form-item>
                    <!--end::Col-->
                  </div>

                  <div class="d-block mb-6 pe-5 col-lg-3">
                    <!--begin::Label-->
                    <label class="col-form-label fw-semobold fs-6">
                      <span class="required">Phone:</span>
                    </label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="fv-row">
                      <el-input
                        filterable
                        v-model="pax.phone"
                        class="col-12"
                        placeholder="Enter phone"
                        :disabled="disabledStatus || !hasPermission"
                      >
                      </el-input>
                    </div>
                    <!--end::Col-->
                  </div>

                  <div class="d-block mb-6 col-lg-3">
                    <!--begin::Label-->
                    <label class="col-form-label fw-semobold fs-6">
                      <span class="required">Email:</span>
                    </label>
                    <!--end::Label-->
                    <!--begin::Col-->
                    <div class="fv-row">
                      <el-input
                        filterable
                        v-model="pax.email"
                        class="col-12"
                        placeholder="Email"
                        :disabled="disabledStatus || !hasPermission"
                      >
                      </el-input>
                    </div>
                    <!--end::Col-->
                  </div>
                </div>
              </div>
              <!--end::Input group-->

              <SalesTable
                v-model="sale.type"
                :sale-id="sale.id || 0"
                :selling-price="sale.price_quote?.selling_price || 0"
                :net-price="sale.price_quote?.net_price || 0"
                :disabled-status="disabledStatus || !hasPermission"
                :totalFinalProfit="totalFinalProfit"
                :pax-id="pax.id || 0"
              ></SalesTable>
            </div>
            <button
              type="button"
              class="btn btn-sm btn-flex btn-primary"
              @click="addNewPax"
              :disabled="disabledStatus || !hasPermission"
            >
              <span class="svg-icon svg-icon-3">
                <inline-svg src="/media/icons/duotune/general/gen035.svg" />
              </span>
              Add new pax
            </button>
          </div>
          <!--end::Input group-->

          <div class="pt-0 pb-5 mt-6 sales-table">
            <h4>Price Quote</h4>
            <Datatable
              :loading="loading"
              :header="totalTableHeader"
              :data="[totalDataTable]"
              :items-per-page="50"
              :items-per-page-dropdown-enabled="false"
              class="sales-edit"
            >
              <template v-slot:id="{ row: item }">
                {{ item.id }}
              </template>

              <template v-slot:reservation_dump="{ row: item }">
                <pre class="text-start">{{ item.reservation_dump }}</pre>
              </template>

              <template v-slot:price="{ row: item }">
                {{ formatPrice(item.net_price) }}$
              </template>

              <template v-slot:selling_price="{ row: item }">
                {{ formatPrice(item.selling_price) }}$
              </template>

              <template v-slot:profit_price="{ row: item }">
                {{ formatPrice(item.profit) }}$
              </template>

              <template v-slot:internal_remarks="{ row: item }">
                {{ item.internal_remarks }}
              </template>
            </Datatable>
          </div>

          <div class="pt-0 pb-5 mt-6 sales-table">
            <h4 class="mb-6">Airline Confirmations</h4>

            <div class="row align-items-center">
              <div class="d-block col-9 col-lg-4 pe-4">
                <!--begin::Label-->
                <label class="col-form-label fw-semobold fs-6">
                  <span>Reservation segment:</span>
                </label>
                <!--end::Label-->
              </div>
              <div class="d-block col-3 col-lg-2">
                <!--begin::Label-->
                <label class="col-form-label fw-semobold fs-6">
                  <span>Airline PNR:</span>
                </label>
                <!--end::Label-->
              </div>
            </div>

            <div
              v-for="(reservation, index) in reservations"
              :key="reservation"
              class="row align-items-center"
            >
              <div class="d-block col-9 col-lg-4 mb-6 pe-4">
                <!--begin::Col-->
                <div class="fv-row">
                  <div
                    name="lead_name"
                    class="form-control form-control-solid form-control-lg fw-semobold d-flex align-items-center"
                  >
                    <span class="ms-3">
                      {{ reservation }}
                    </span>
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <div class="d-block col-3 col-lg-2 mb-6">
                <el-form-item
                  class="w-100 form-control form-control-solid form-control-lg fw-semobold d-flex align-items-center"
                >
                  <el-input
                    type="text"
                    maxlength="6"
                    v-model="airlineConfirmations[index]"
                    :disabled="disabledStatus || !hasPermission"
                    placeholder="Enter an airline PNR"
                  >
                  </el-input>
                </el-form-item>
              </div>
            </div>
          </div>

          <div class="pt-0 pb-5 mt-6 sales-table">
            <h4>Additional Purchases</h4>

            <div class="row">
              <div class="col-6 col-md-4 col-xl-2 flex-column border p-3 pb-2">
                <h5 class="text-center">
                  Ticket protection:
                  <span v-if="sale.ticket_protection" class="text-success">
                    Yes
                  </span>
                  <span v-else class="text-warning">No</span>
                </h5>
                <h5 class="text-center">
                  Sum:
                  <span v-if="sale.ticket_protection">
                    ${{ formatPrice(getTicketsProtectionPrice) }}
                  </span>
                  <span v-else>-</span>
                </h5>
              </div>
              <div class="col-6 col-md-2 col-xl-1 flex-column border p-3 pb-2">
                <h5 class="text-center">
                  Tips:
                  <span v-if="sale.tips" class="text-success">Yes</span>
                  <span v-else class="text-warning">No</span>
                </h5>
                <h5 class="text-center">
                  Sum:
                  <span v-if="sale.tips">${{ sale.tips }}</span>
                  <span v-else>-</span>
                </h5>
              </div>
            </div>
          </div>

          <div class="pt-0 pb-5 mt-6 sales-table">
            <h4>Payment information</h4>
            <Datatable
              :loading="loading"
              :header="paymentTableHeader"
              :data="[paymentDataTable]"
              :items-per-page="50"
              :items-per-page-dropdown-enabled="false"
              class="sales-edit"
            >
              <template v-slot:owner="{ row: item }">
                {{ item.owner }}
              </template>

              <template v-slot:card_number="{ row: item }">
                {{ maskedCard(item.card_number) }}
              </template>

              <template v-slot:cvv="{ row: item }">
                {{ masked(item.cvv) }}
              </template>

              <template v-slot:valid_thru="{ row: item }">
                {{ masked(item.valid_thru) }}
              </template>

              <template v-slot:country="{ row: item }">
                {{ item.country }}
              </template>

              <template v-slot:state="{ row: item }">
                {{ item.state }}
              </template>

              <template v-slot:street_address="{ row: item }">
                {{ item.street_address }}
              </template>

              <template v-slot:city="{ row: item }">
                {{ item.city }}
              </template>

              <template v-slot:zip="{ row: item }">
                {{ item.zip }}
              </template>

              <template v-slot:phone="{ row: item }">
                {{ item.phone }}
              </template>
            </Datatable>
          </div>
        </div>

        <!--begin::Actions-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button
            type="submit"
            id="kt_account_profile_details_submit"
            ref="submitButton"
            class="btn btn-primary"
            :disabled="!hasPermission"
          >
            <span class="indicator-label"> Save Changes </span>
            <span class="indicator-progress">
              Please wait...
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </button>
        </div>
        <!--end::Actions-->
      </VForm>
      <!--end::Form-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Basic info-->

  <PreviewEmailModal
    v-if="sale"
    :content="ticketContent"
    :emails="computedContactEmails"
    mailType="ticket"
    @sendingFunction="sendTicket"
  ></PreviewEmailModal>

  <BookingDetailsModal
    :saleId="sale?.id"
    v-if="showBookingDetailsModal"
    @on-hide-modal="showBookingDetailsModal = false"
  >
  </BookingDetailsModal>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  onMounted,
  ref,
  watch,
  watchEffect,
} from "vue";
import { Field, Form as VForm } from "vee-validate";
import * as Yup from "yup";
import { useSaleStore } from "@/stores/sales";
import type { ISale } from "@/core/types/saleTypes";
import { useRoute } from "vue-router";
import Datatable from "@/components/kt-datatable/KTDataTable.vue";
import SalesTable from "./SalesTable.vue";
import SwalService from "@/core/services/SwalService";
import type { IPax } from "@/core/types/bookingTypes";
import { usePriceQuoteStore } from "@/stores/price_quotes";
import { Modal } from "bootstrap";
import PreviewEmailModal from "@/components/leads/price-quotes/PreviewEmailModal.vue";
import { useAgentsStore } from "@/stores/agents";
import BookingDetailsModal from "@/components/sales/BookingDetailsModal.vue";
import { formatPrice } from "@/core/helpers/formatPrice";
import { useAuthStore } from "@/stores/auth";

export default defineComponent({
  name: "sale-edit",
  components: {
    Field,
    VForm,
    Datatable,
    SalesTable,
    PreviewEmailModal,
    BookingDetailsModal,
  },
  setup() {
    const salesStore = useSaleStore();
    const loading = ref(false);

    const route = useRoute();
    const sale = ref<ISale>();

    const submitButton = ref<HTMLElement | null>(null);

    const leadDetailsValidator = Yup.object().shape({});

    const totalDataTable = ref();
    const paymentDataTable = ref();

    const authStore = useAuthStore();

    const hasPermission = authStore.checkPermission("change sale status");

    const reservations = ref<string[]>([]);
    const airlineConfirmations = ref<string[]>([]);

    const computedContactEmails = computed(() => {
      return [
        sale.value?.contact_email || "",
        sale.value?.additional_email || "",
      ].filter((email) => email !== null && email !== "");
    });

    const saleTypeChanged = (type) => {
      if (sale.value) {
        sale.value.type = type;
      }
    };

    const saveChanges = async () => {
      if (submitButton.value) {
        submitButton.value.setAttribute("data-kt-indicator", "on");
        const response = await salesStore.saveSale(sale.value as ISale);
        submitButton.value.removeAttribute("data-kt-indicator");
        if (response) {
          SwalService.success("All is cool! Now you submit this form");
          sale.value = response;
        }
      }
    };

    const addNewPax = () => {
      if (sale.value) {
        const emptyPax: IPax = {
          gender: "m",
          first_name: "",
          last_name: "",
          middle_name: "",
          birthday: "",
          email: sale.value.paxes[0].email,
          phone: sale.value.paxes[0].phone,
        };
        sale.value.paxes.push(emptyPax);
      }
    };

    const agentsStore = useAgentsStore();

    onMounted(async () => {
      const id = route.params.id as string;
      if (id) {
        const loadedSale = await salesStore.getSale(id);
        if (loadedSale) {
          sale.value = loadedSale;
          if (loadedSale.contact_email && loadedSale.contact_phone) {
            sale.value.paxes.forEach((pax: IPax) => {
              pax.email = pax.email || loadedSale.contact_email;
              pax.phone = pax.phone || loadedSale.contact_phone;
            });
          }
          if (loadedSale.price_quote) {
            totalDataTable.value = { ...loadedSale.price_quote };
            reservations.value = loadedSale.price_quote.reservation_dump
              .split("\n")
              .filter((str) => {
                return !str.toLowerCase().startsWith("operated by");
              });
          }
          if (loadedSale.airline_confirmations) {
            airlineConfirmations.value = loadedSale.airline_confirmations;
          }
          if (loadedSale.billing_details && loadedSale.card) {
            paymentDataTable.value = {
              ...loadedSale.billing_details,
              ...loadedSale.card,
            };
          }
        }
      }
      if (hasPermission) {
        if (authStore.isSuperadmin()) {
          await agentsStore.getAllAgents();
        } else {
          await agentsStore.getSupervisorAgents();
        }
      }
    });

    const totalTableHeader = ref([
      {
        columnName: "ID",
        columnLabel: "id",
        sortEnabled: false,
      },
      {
        columnName: "Reservation Dump",
        columnLabel: "reservation_dump",
        sortEnabled: false,
      },
      {
        columnName: "Total Net Price",
        columnLabel: "price",
        sortEnabled: false,
      },
      {
        columnName: "Total Selling Price",
        columnLabel: "selling_price",
        sortEnabled: false,
      },
      {
        columnName: "Total Profit",
        columnLabel: "profit_price",
        sortEnabled: false,
      },
      {
        columnName: "Internal remarks",
        columnLabel: "internal_remarks",
        sortEnabled: false,
      },
    ]);

    const selectedIds = ref<Array<number>>([]);
    const priceQuoteStore = usePriceQuoteStore();
    const ticketContent = ref("");

    const previewTicket = async () => {
      if (sale.value) {
        loading.value = true;
        try {
          ticketContent.value = await salesStore.previewTicket(sale.value);
          const modal = new Modal(
            document.getElementById("kt_modal_preview_email") as Element
          );
          modal.show();
        } catch (error) {
          SwalService.error(
            "Something went wrong. Please check confirmations data and try again."
          );
        } finally {
          loading.value = false;
        }
      }
    };

    const disabledStatus = ref(false);
    const totalFinalProfit = ref(0);
    const agentSecond = ref(sale.value?.second_agent_id);

    watchEffect(() => {
      disabledStatus.value =
        sale.value?.status !== 0 && sale.value?.status !== 2;

      agentSecond.value = sale.value?.second_agent_id;
    });

    const showBookingDetailsModal = ref(false);

    const bookingDetails = () => {
      openBookingDetailsModal();
    };

    const openBookingDetailsModal = () => {
      showBookingDetailsModal.value = true;
      setTimeout(() => {
        const modal = new Modal(
          document.getElementById("kt_modal_booking") as Element
        );
        modal.show();
      });
    };

    watchEffect(() => {
      const newPriceDetails = salesStore.saleDetails;
      const sum = newPriceDetails.reduce(
        (accumulator, currentValue) => {
          accumulator.net_price += currentValue.net_price;
          accumulator.selling_price += currentValue.selling_price;
          accumulator.profit += currentValue.total_profit;
          return accumulator;
        },
        { net_price: 0, selling_price: 0, profit: 0 }
      );
      if (totalDataTable.value) {
        totalDataTable.value.net_price = sum.net_price;
        totalDataTable.value.selling_price = sum.selling_price;
        totalDataTable.value.profit = sum.profit;
        totalFinalProfit.value = sum.profit;
      }
    });

    const sendTicket = async (selectedEmails) => {
      if (sale.value) {
        const response = await salesStore.sendTicket(
          sale.value.id as number,
          selectedEmails
        );
        if (response) {
          SwalService.success("E-mail was send!");
        } else {
          SwalService.error(
            "Something went wrong. Please check your email and try again."
          );
        }
      }
    };

    const viewDemoForm = async () => {
      if (sale.value && sale.value.price_quote && sale.value.paxes) {
        const id = sale.value.id;
        const token = sale.value.price_quote.token;
        const paxData = sale.value.paxes;
        const url = `/booking/demo/${id}/${token}?data=${JSON.stringify(
          paxData
        )}`;
        window.open(url, "_blank");
      }
    };
    const paxesCount = computed(() => {
      const paxes = sale.value?.paxes;

      if (paxes) {
        return paxes.length;
      }

      return 0;
    });

    const getTicketsProtectionPrice = computed(() => {
      const sellingPrice = sale.value?.price_quote?.selling_price;

      if (sellingPrice) {
        const percentage = (sellingPrice * 7) / 100; // 7% от цены билета
        const fixedValue = 50; // 50 $ с пассажира

        return Math.max(percentage, fixedValue) * paxesCount.value;
      }
      return 0;
    });

    const paymentTableHeader = ref([
      {
        columnName: "Card Owner",
        columnLabel: "owner",
        sortEnabled: false,
      },
      {
        columnName: "Card number",
        columnLabel: "card_number",
        sortEnabled: false,
      },
      {
        columnName: "CVV",
        columnLabel: "cvv",
        sortEnabled: false,
      },
      {
        columnName: "EXP Date",
        columnLabel: "valid_thru",
        sortEnabled: false,
      },
      {
        columnName: "Country",
        columnLabel: "country",
        sortEnabled: false,
      },
      {
        columnName: "State",
        columnLabel: "state",
        sortEnabled: false,
      },
      {
        columnName: "Street address",
        columnLabel: "street_address",
        sortEnabled: false,
      },
      {
        columnName: "City",
        columnLabel: "city",
        sortEnabled: false,
      },
      {
        columnName: "Zip Code",
        columnLabel: "zip",
        sortEnabled: false,
      },
      {
        columnName: "Phone number",
        columnLabel: "phone",
        sortEnabled: false,
      },
    ]);

    const masked = (value) => {
      if (value) {
        return "*".repeat(value.toString().length);
      }
    };

    const maskedCard = (value) => {
      if (value && value.toString().length > 4) {
        const lastFourDigits = value.toString().slice(-4);
        return "*".repeat(value.toString().length - 4) + lastFourDigits;
      }
    };

    watch(
      airlineConfirmations,
      (newVal) => {
        if (sale.value) {
          sale.value.airline_confirmations = [...newVal];
        }
      },
      { deep: true }
    );

    return {
      submitButton,
      saveChanges,
      leadDetailsValidator,
      totalTableHeader,
      loading,
      sale,
      saleTypeChanged,
      addNewPax,
      previewTicket,
      ticketContent,
      priceQuoteStore,
      selectedIds,
      disabledStatus,
      totalFinalProfit,
      agentsStore,
      agentSecond,
      showBookingDetailsModal,
      bookingDetails,
      formatPrice,
      totalDataTable,
      computedContactEmails,
      sendTicket,
      viewDemoForm,
      getTicketsProtectionPrice,
      paymentTableHeader,
      paymentDataTable,
      masked,
      maskedCard,
      hasPermission,
      reservations,
      airlineConfirmations,
    };
  },
});
</script>

<style lang="scss">
.el-select__wrapper {
  background-image: var(--kt-form-select-indicator);
}

.el-input__wrapper {
  background-color: var(--kt-input-solid-bg);
  border-color: var(--kt-input-solid-bg);
  box-shadow: none !important;
  color: var(--kt-input-solid-color);
  transition: color 0.2s ease;
  border: none;
  height: 43px;
  padding-left: 1.5rem;
  font-size: 1.15rem;
  border-radius: 0.625rem;
  display: flex;
  width: 100%;
  font-weight: 500;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 16px 12px;
  align-items: center;
  --el-input-inner-height: calc(var(--el-input-height, 40px) - 2px);
}

.el-input__suffix-inner {
  display: none;
}

.form-control.form-control-solid {
  padding: unset !important;
}

.el-date-editor.el-input,
.el-date-editor.el-input__wrapper {
  width: 100% !important;
}

.el-form-item {
  margin-bottom: unset !important;
}

.passenger-number-select {
  width: 33%;
}

.block-add {
  height: 34px;
}

.sales-edit td,
.sales-edit th {
  min-width: auto !important;
  white-space: nowrap;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  text-align: center;
}

.sales-table .sales-edit td:first-child,
.sales-table .sales-edit th:first-child {
  text-align: start !important;
  padding-left: 0 !important;
}
</style>
