<template>
  <div class="card">
    <div class="card-header border-0 pt-6">
      <!--begin::Card title-->
      <div class="card-title">
        <button
          type="button"
          class="btn btn-sm me-3"
          :class="{ 'btn-primary': status === 0 }"
          v-can="'show unassigned'"
          @click="updateStatus(0)"
        >
          Open
        </button>
        <button
          type="button"
          class="btn btn-sm me-3"
          :class="{ 'btn-warning': status === 1 }"
          @click="updateStatus(1)"
        >
          Closed
        </button>
        <button
          type="button"
          class="btn btn-sm me-3"
          :class="{ 'btn-dark': status === 2 }"
          @click="updateStatus(2)"
        >
          Reject
        </button>
      </div>
      <!--begin::Card title-->
    </div>

    <div class="card-body pt-0">
      <Datatable
        :data="filteredSales"
        :header="salesListHeader"
        :loading="loading"
        :total="store.meta?.total"
        :items-per-page-dropdown-enabled="false"
        @page-change="onPageChange"
        :items-per-page="15"
        @on-items-select="onItemSelect"
        class="sales-list"
      >
        <template v-slot:number="{ row: sale }">
          <router-link
            :to="{ name: 'sales-edit', params: { id: sale.id } }"
            class="menu-link"
          >
            {{ sale.id }}
          </router-link>
        </template>

        <template v-slot:agent="{ row: sale }">
          {{ sale.agent }}
        </template>

        <template v-slot:created_at="{ row: sale }">
          {{ sale.created_at }}
        </template>

        <template v-slot:pax_names="{ row: sale }">
          {{ sale.pax_names }}
        </template>

        <template v-slot:miles_amount="{ row: sale }">
          {{ sale.miles_amount }}
        </template>

        <template v-slot:gds_pnr="{ row: sale }">
          {{ sale.gds_pnr }}
        </template>

        <template v-slot:airline_pnr="{ row: sale }">
          {{ sale.airline_pnr }}
        </template>

        <template v-slot:selling_price="{ row: sale }">
          {{ formatPrice(sale.selling_price) }}$
        </template>

        <template v-slot:net_price="{ row: sale }">
          {{ formatPrice(sale.net_price) }}$
        </template>

        <template v-slot:final_profit="{ row: sale }">
          {{ formatPrice(sale.selling_price - sale.net_price) }}$
        </template>
      </Datatable>
    </div>
  </div>
  <!--end::Card-->
</template>

<script lang="ts">
import { ref, defineComponent, onMounted, watch, computed } from "vue";
import Datatable from "@/components/kt-datatable/KTDataTable.vue";
import { useSaleStore } from "@/stores/sales";
import { salesListHeader } from "@/core/tables/sales";
import type { ISale } from "@/core/types/saleTypes";
import { formatPrice } from "@/core/helpers/formatPrice";

export default defineComponent({
  name: "sales-list",
  components: {
    Datatable,
  },
  setup() {
    const onItemSelect = (selectedItems: Array<number>) => {
      selectedIds.value = selectedItems;
    };

    const selectedIds = ref<Array<number>>([]);
    const loading = ref(false);

    const store = useSaleStore();
    const page = ref<number>(1);
    const sale = ref<ISale>();

    const status = ref<number>(0);

    const fetchSales = async () => {
      loading.value = true;
      const params = { page: page.value, status: status.value };
      await store.getSales(params);
      loading.value = false;
    };

    const updateStatus = (newStatus: number) => {
      status.value = newStatus;
      fetchSales();
    };

    onMounted(async () => {
      fetchSales();
    });

    const onPageChange = (selPage: number) => {
      page.value = selPage;
      fetchSales();
    };

    watch(
      () => status.value,
      () => fetchSales()
    );

    // Фильтрация данных по статусу
    const filteredSales = computed(() => {
      return store.sales.filter((sale) => sale.status === status.value);
    });

    return {
      salesListHeader,
      loading,
      store,
      onPageChange,
      onItemSelect,
      selectedIds,
      sale,
      status,
      updateStatus,
      filteredSales,
      formatPrice,
    };
  },
});
</script>

<style lang="scss">
.sales-list td,
.sales-list th {
  min-width: auto !important;
  white-space: nowrap;
}
</style>
