<template>
  <div class="card">
    <div class="card-header border-0 pt-6">
      <!--begin::Card title-->
      <div class="card-title">
        <!--begin::Search-->
        <div class="d-flex align-items-center position-relative my-1">
          <span class="svg-icon svg-icon-1 position-absolute ms-6">
            <inline-svg src="/media/icons/duotune/general/gen021.svg" />
          </span>
          <input
            type="text"
            v-model="search"
            @input="searchItems()"
            class="form-control form-control-solid w-250px ps-15"
            placeholder="Search Clients"
          />
        </div>
        <!--end::Search-->
      </div>
      <!--end::Card title-->
    </div>
    <div class="card-body pt-0">
      <Datatable
        @on-sort="sort"
        :data="tableData"
        :header="tableHeader"
        :loading="loading"
        :enable-items-per-page-dropdown="true"
      >
        <template v-slot:id="{ row: client }">
          {{ client.id }}
        </template>
        <template v-slot:name="{ row: client }">
          <a
            @click.prevent="openClientModal(client)"
            class="text-blue-600 mb-1 cursor-pointer"
          >
            {{ client.name }}
          </a>
        </template>
        <template v-slot:surname="{ row: client }">
          <a
            @click.prevent="openClientModal(client)"
            class="text-blue-600 mb-1 cursor-pointer"
          >
            {{ client.surname }}
          </a>
        </template>
        <template v-slot:email="{ row: client }">
          {{ client.email }}
        </template>
        <template v-slot:phone="{ row: client }">
          {{ client.phone }}
        </template>
      </Datatable>
    </div>
  </div>

  <EditClientModal
    :client-id="clientId"
    v-if="showClientModal"
    @on-hide-modal="showClientModal = false"
  >
  </EditClientModal>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from "vue";
import Datatable from "@/components/kt-datatable/KTDataTable.vue";
import type { Sort } from "@/components/kt-datatable//table-partials/models";
import arraySort from "array-sort";
import { useClientsStore } from "@/stores/clients";
import type { IClients } from "@/core/types/clientsTypes";
import EditClientModal from "@/components/leads/AddClientModal.vue";
import { Modal } from "bootstrap";
import type { IClient } from "@/core/types/clientTypes";

export default defineComponent({
  name: "clients-listing",
  components: {
    Datatable,
    EditClientModal,
  },
  setup() {
    const tableHeader = ref([
      {
        columnName: "ID",
        columnLabel: "id",
        sortEnabled: true,
      },
      {
        columnName: "Name",
        columnLabel: "name",
        sortEnabled: true,
      },
      {
        columnName: "Surname",
        columnLabel: "surname",
        sortEnabled: true,
      },
      {
        columnName: "Email",
        columnLabel: "email",
        sortEnabled: true,
      },
      {
        columnName: "Phone",
        columnLabel: "phone",
        sortEnabled: true,
      },
    ]);

    const loading = ref(false);
    const store = useClientsStore();
    const tableData = ref<Array<IClients>>([]);
    const initClients = ref<Array<IClients>>([]);
    const clientId = ref<number>();
    const showClientModal = ref(false);

    onMounted(async () => {
      loading.value = true;
      await store.getAllClients();
      tableData.value = store.clients;
      initClients.value.splice(0, tableData.value.length, ...tableData.value);
      loading.value = false;
    });

    const search = ref<string>("");
    const searchItems = () => {
      tableData.value.splice(0, tableData.value.length, ...initClients.value);
      if (search.value !== "") {
        let results: Array<IClients> = [];
        for (let j = 0; j < tableData.value.length; j++) {
          if (searchingFunc(tableData.value[j], search.value)) {
            results.push(tableData.value[j]);
          }
        }
        tableData.value.splice(0, tableData.value.length, ...results);
      }
    };

    const searchingFunc = (obj: any, value: string): boolean => {
      for (let key in obj) {
        if (
          !Number.isInteger(obj[key]) &&
          !(typeof obj[key] === "object") &&
          !(typeof obj[key] === "boolean")
        ) {
          if (obj[key].indexOf(value) != -1) {
            return true;
          }
        }
      }
      return false;
    };

    const sort = (sort: Sort) => {
      const reverse: boolean = sort.order === "asc";
      if (sort.label) {
        arraySort(tableData.value, sort.label, { reverse });
      }
    };

    const openClientModal = (client: IClient) => {
      clientId.value = client.id;
      showClientModal.value = true;
      setTimeout(() => {
        const modal = new Modal(
          document.getElementById("kt_modal_add_client") as Element
        );
        modal.show();
      });
    };

    return {
      tableData,
      tableHeader,
      search,
      searchItems,
      sort,
      initClients,
      loading,
      clientId,
      openClientModal,
      showClientModal,
    };
  },
});
</script>
