<template>
  <VForm
    as="el-form"
    id="kt_account_profile_details_form"
    class="form"
    :validation-schema="airportCode"
  >
    <Field name="airport" v-slot="{ field }">
      <el-select
        v-bind="field"
        v-model="value"
        filterable
        remote
        reserve-keyword
        placeholder="Type to search"
        :loading="loading"
        :remote-method="fetchAirports"
        class="col-12"
      >
        <el-option
          v-for="item in airports"
          :key="item.id"
          :value="item.id"
          :label="item.id + ', ' + item.name"
        >
        </el-option>
      </el-select>
    </Field>
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        <ErrorMessage name="airport" />
      </div>
    </div>
  </VForm>
</template>

<script lang="ts">
import type { IAirport } from "@/core/types/airportTypes";
import { useAirportStore } from "@/stores/airports";
import { defineComponent, ref } from "vue";
import { ErrorMessage, Field, Form as VForm } from "vee-validate";
import * as Yup from "yup";

export default defineComponent({
  name: "airport-select",
  components: {
    ErrorMessage,
    VForm,
    Field,
  },
  setup() {
    const airportStore = useAirportStore();
    const airports = ref<Array<IAirport>>([]);
    const loading = ref(false);
    const value = ref(null);

    const fetchAirports = async (query: string) => {
      if (query) {
        loading.value = true;
        airports.value = await airportStore.getAirports(query);
        loading.value = false;
      } else {
        airports.value = [];
      }
    };

    const airportCode = Yup.object().shape({
      airport: Yup.string().required("Airport is required").label("Airport"),
    });

    return {
      airports,
      loading,
      fetchAirports,
      value,
      airportCode,
    };
  },
});
</script>
