<template>
  <el-select
    v-model="value"
    filterable
    class="col-12"
    :placeholder="placeholder"
  >
    <el-option :value="0" label="0"></el-option>
    <el-option :value="1" label="1"></el-option>
    <el-option :value="2" label="2"></el-option>
    <el-option :value="3" label="3"></el-option>
    <el-option :value="4" label="4"></el-option>
    <el-option :value="5" label="5"></el-option>
    <el-option :value="6" label="6"></el-option>
    <el-option :value="7" label="7"></el-option>
    <el-option :value="8" label="8"></el-option>
    <el-option :value="9" label="9"></el-option>
  </el-select>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "num-passenger-select",
  props: {
    placeholder: {
      required: true,
      type: String,
    },
  },
  setup(props) {
    const value = ref(null);

    return {
      props,
      value,
    };
  },
});
</script>
