<template>
  <div class="card card-flush pt-3 mb-5 mb-xl-10">
    <div class="card-header">
      <div
        class="card-title col-12 d-flex align-items-center justify-content-between"
      >
        <h2 class="fw-bold">Additional Services</h2>

        <label
          class="form-check form-switch form-switch-additional-services form-check-custom form-check-solid"
        >
          <input
            name="enabled"
            class="form-check-input"
            type="checkbox"
            v-model="isChecked"
            :true-value="true"
            :false-value="false"
          />
        </label>
      </div>
    </div>

    <div class="card-body pt-3" v-if="isChecked">
      <el-form
        class="form fv-plugins-bootstrap5 fv-plugins-framework"
        id="additional_services"
        @submit.prevent="submit()"
        :rules="rules"
        ref="formRef"
        :model="additionalServices"
      >
        <!--begin::Section-->
        <div class="mb-10">
          <div class="row mb-6">
            <!--begin::Col-->
            <div class="col-lg-12 fv-row">
              <div class="row">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fv-row">
                  <label class="col-form-label fw-semobold fs-6">
                    <span>Seat Preference</span>
                  </label>
                  <el-form-item prop="seat_preference">
                    <el-select
                      name="seat_preference"
                      class="form-control form-control-solid form-select-solid form-select-lg fw-semobold mr-1"
                      placeholder="Select Seat Preference"
                      v-model="additionalServices.seat_preference"
                    >
                      <el-option value="Aisle" :disabled="$props.readonly"
                        >Aisle</el-option
                      >
                      <el-option value="Middle" :disabled="$props.readonly"
                        >Middle</el-option
                      >
                      <el-option value="Window" :disabled="$props.readonly"
                        >Window</el-option
                      >
                    </el-select>
                  </el-form-item>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fv-row">
                  <label class="col-form-label fw-semobold fs-6">
                    <span>Meal Preference</span>
                  </label>
                  <el-form-item prop="meal_preference">
                    <el-select
                      name="meal_preference"
                      class="form-control form-control-solid form-select-solid form-select-lg fw-semobold mr-1"
                      placeholder="Select Meal Preference"
                      v-model="additionalServices.meal_preference"
                    >
                      <el-option value="Veg Hindu" :disabled="$props.readonly"
                        >Veg Hindu</el-option
                      >
                      <el-option value="Baby Meal" :disabled="$props.readonly"
                        >Baby Meal</el-option
                      >
                      <el-option value="Bland" :disabled="$props.readonly"
                        >Bland</el-option
                      >
                      <el-option value="Child" :disabled="$props.readonly"
                        >Child</el-option
                      >
                      <el-option value="Diabetic" :disabled="$props.readonly"
                        >Diabetic</el-option
                      >
                      <el-option
                        value="Non-UA Fruit Pitr"
                        :disabled="$props.readonly"
                        >Non-UA Fruit Pitr</el-option
                      >
                    </el-select>
                  </el-form-item>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fv-row">
                  <label class="col-form-label fw-semobold fs-6">
                    <span>Special Assistance</span>
                  </label>
                  <el-form-item prop="special_assistance">
                    <el-select
                      name="special_assistance"
                      class="form-control form-control-solid form-select-solid form-select-lg fw-semobold mr-1"
                      placeholder="Select Special Assistance"
                      v-model="additionalServices.special_assistance"
                    >
                      <el-option
                        value="Passenger is blind"
                        :disabled="$props.readonly"
                        >Passenger is blind</el-option
                      >
                      <el-option
                        value="Passenger is deaf"
                        :disabled="$props.readonly"
                        >Passenger is deaf</el-option
                      >
                      <el-option
                        value="Wheelchair - with dry cell battery"
                        :disabled="$props.readonly"
                        >Wheelchair - with dry cell battery</el-option
                      >
                      <el-option
                        value="Wheelchair - passenger is immobile"
                        :disabled="$props.readonly"
                        >Wheelchair - passenger is immobile</el-option
                      >
                      <el-option
                        value="Wheelchair - can walk and ascend/descend stairs"
                        :disabled="$props.readonly"
                        >Wheelchair - can walk and ascend/descend
                        stairs</el-option
                      >
                    </el-select>
                  </el-form-item>
                </div>
                <!--begin::Label-->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fv-row">
                  <label class="col-form-label fw-semobold fs-6">
                    <span>Frequent Flyer</span>
                  </label>
                  <el-form-item prop="frequent_flyer">
                    <el-select
                      name="frequent_flyer"
                      class="form-control form-control-solid form-select-solid form-select-lg fw-semobold mr-1"
                      placeholder="Select Frequent Flyer"
                      v-model="additionalServices.frequent_flyer"
                      filterable
                      remote
                      reserve-keyword
                      :loading="loading"
                      :remote-method="fetchAirlines"
                    >
                      <el-option
                        v-for="(item, index) in airlines"
                        :key="index + item.name"
                        :value="item.name"
                        :label="item.name"
                        :disabled="$props.readonly"
                      >
                      </el-option>
                    </el-select>
                  </el-form-item>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fv-row">
                  <label class="col-form-label fw-semobold fs-6">
                    <span>Program Number</span>
                  </label>
                  <el-form-item prop="program_number">
                    <el-input
                      type="text"
                      name="program_number"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Select Program Number"
                      v-model="additionalServices.program_number"
                      :readonly="$props.readonly"
                    />
                  </el-form-item>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 fv-row">
                  <!-- изменить данные -->
                  <label class="col-form-label fw-semobold fs-6">
                    <span>TSA PRE Account</span>
                  </label>
                  <el-form-item prop="program_number">
                    <el-input
                      type="text"
                      name="tsa_pre_account"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Select Program Number"
                      v-model="additionalServices.program_number"
                      :readonly="$props.readonly"
                    />
                  </el-form-item>
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
        </div>
      </el-form>
    </div>
    <!--end::Card body-->
  </div>
  <!--end::Card-->
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "vue";
import type { IAdditionalServices } from "@/core/types/bookingTypes";
import type { IAirline } from "@/core/types/airportTypes";
import { useBookingStore } from "@/stores/booking";

export default defineComponent({
  name: "additional-services",
  components: {},
  emits: ["onSuccess"],
  props: {
    initValue: Object,
    readonly: Boolean,
  },
  setup(props, { emit }) {
    const formRef = ref<null | HTMLFormElement>(null);
    const loading = ref<boolean>(false);

    const additionalServices = ref<IAdditionalServices>({
      seat_preference: "",
      meal_preference: "",
      special_assistance: "",
      frequent_flyer: "",
      program_number: "",
    });

    watch(
      () => props.initValue,
      () => {
        if (props.initValue) {
          isChecked.value = true;
          const initialValue = props.initValue as IAdditionalServices;
          additionalServices.value = initialValue;
        }
      }
    );

    const submit = () => {
      if (!formRef.value) {
        return null;
      }

      for (let key in additionalServices.value) {
        additionalServices.value[key] =
          additionalServices.value[key] === ""
            ? "no value"
            : additionalServices.value[key];
      }

      formRef.value.validate((valid: boolean) => {
        if (valid) {
          emit("onSuccess", additionalServices.value);
        } else {
          return false;
        }
      });
    };

    const resetForm = () => {
      if (formRef.value) {
        formRef.value.resetFields();
      }
    };

    const rules = ref({
      seat_preference: [
        {
          required: false,
          message: "Please input Seat Preference",
          trigger: "blur",
        },
      ],
      meal_preference: [
        {
          required: false,
          message: "Please input Meal Preference",
          trigger: "change",
        },
      ],
      special_assistance: [
        {
          required: false,
          message: "Please input Special Assistance",
          trigger: "change",
        },
      ],
      frequent_flyer: [
        {
          required: false,
          message: "Please input Frequent Flyer",
          trigger: "blur",
        },
      ],
      program_number: [
        {
          required: false,
          message: "Please input Program Number",
          trigger: "blur",
        },
      ],
    });

    const isChecked = ref(false);

    const bookingStore = useBookingStore();
    const airlines = ref<Array<IAirline>>([]);

    const fetchAirlines = async (query: string) => {
      if (query) {
        loading.value = true;
        airlines.value = await bookingStore.getAirlines(query);
        loading.value = false;
      } else {
        airlines.value = [];
      }
    };

    return {
      additionalServices,
      loading,
      formRef,
      submit,
      rules,
      resetForm,
      isChecked,
      airlines,
      fetchAirlines,
    };
  },
});
</script>

<style lang="scss">
.form-switch-additional-services .form-check-input {
  width: 4rem !important;
}
</style>
