<!-- eslint-disable prettier/prettier -->
<template>
    <div>
        <div class="tabsAgentInfo jc-end">
            <div class="agentInfo">

                <div class="agentNumber">
                    <div>Direct number (24/7)</div>
                    <a href="tel:(305) 390 4000"><span><b>(305) 390 4000</b></span></a>
                </div>

                <div class="agentNameMail">
                    <div>Prepared by: <b>Tema Test</b></div>
                    <a href="mailto:zona.007.tema@gmail.com"><span
                            class="agentEmail"><b>zona.007.tema@gmail.com</b></span></a>
                </div>

            </div>
        </div>
        <div class="ipCont jc-end mt-5">
            <div class="clientIp">
                <span>USER IP: <b>95.65.12.96</b></span>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  components: {},
};
</script>
<style lang="scss">
.tabsAgentInfo {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}

.tab {
  width: auto;
  flex-grow: 1;
  padding: 12px;
  margin-right: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 100px;
  border-radius: calc(0.625rem - 1px);
}

.tab:last-child {
  margin-right: 0 !important;
}

.hide-btn-details {
  .btn-hide-details {
    display: none;
  }
}

.tab .img-airline {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.received-data-block {
  width: 70%;
}

.tab.active {
  background-color: #009cf76f;
  font-weight: bold;
  border-radius: calc(0.625rem - 1px);
}

.agentInfo {
  display: flex;
  gap: 40px;
}

.jc-end {
  display: flex;
  justify-content: end;
}

.agentNumber {
  display: flex;
  flex-direction: column;
}

.agentEmail {
  color: #009ef7;
}
</style>
