<template>
  <div class="card card-flush pt-3 mb-5 mb-xl-10 booking-page block-pax">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="card-title col-12 d-block">
        <h2 class="fw-bold">Billing Details</h2>
      </div>
      <p class="text-muted fw-normal">
        Your billing address must match exactly the address on your credit card
        statement.
      </p>
    </div>

    <div class="card-body pt-3">
      <el-form
        class="form fv-plugins-bootstrap5 fv-plugins-framework"
        id="billing_details"
        @submit.prevent="submit()"
        :rules="rules"
        ref="formRef"
        :model="billingDetails"
      >
        <!--begin::Section-->
        <div class="mb-10 row">
          <div class="col-12 col-md-6 col-lg-4 col-xl-6">
            <!--begin::Label-->
            <label class="col-form-label fw-semobold fs-6">
              <span class="required">Street Address</span>
            </label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="fv-row">
              <el-form-item prop="street_address">
                <el-input
                  v-model="billingDetails.street_address"
                  type="text"
                  name="street_address"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  placeholder="Street Address"
                  :readonly="$props.readonly"
                />
              </el-form-item>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <!--begin::Label-->
            <label class="col-form-label fw-semobold fs-6">
              <span class="required">City</span>
            </label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="fv-row">
              <el-form-item prop="city">
                <el-input
                  v-model="billingDetails.city"
                  type="text"
                  name="city"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  placeholder="City"
                  :readonly="$props.readonly"
                />
              </el-form-item>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <!--begin::Label-->
            <label class="col-form-label fw-semobold fs-6">
              <span class="required">State</span>
            </label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="fv-row">
              <el-form-item
                prop="state"
                v-if="billingDetails.country !== 'United States'"
              >
                <el-input
                  v-model="billingDetails.state"
                  type="text"
                  name="state"
                  class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                  placeholder="State"
                  :readonly="$props.readonly"
                />
              </el-form-item>

              <el-form-item
                prop="state"
                v-if="billingDetails.country === 'United States'"
              >
                <el-select
                  name="state"
                  class="form-control d-flex justify-content-between form-control-solid form-select-solid fw-semobold"
                  v-model="billingDetails.state"
                  placeholder="State"
                  filterable
                >
                  <el-option
                    v-for="state in states"
                    :key="state.abbreviation"
                    :value="state.name"
                    :label="state.name"
                    :disabled="$props.readonly"
                  ></el-option>
                </el-select>
              </el-form-item>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <!--begin::Label-->
            <label class="col-form-label fw-semobold fs-6">
              <span class="required">ZIP/Postal Code</span>
            </label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="fv-row">
              <el-form-item prop="zip">
                <el-input
                  type="text"
                  name="zip"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="ZIP/Postal Code"
                  v-model="billingDetails.zip"
                  :readonly="$props.readonly"
                />
              </el-form-item>
            </div>
            <!--end::Col-->
          </div>

          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <!--begin::Label-->
            <label class="col-form-label fw-semobold fs-6">
              <span class="required">Country</span>
            </label>
            <!--end::Label-->

            <!--begin::Col-->
            <div class="fv-row">
              <el-form-item prop="country">
                <el-select
                  name="country"
                  class="form-control d-flex justify-content-between form-control-solid form-select-solid fw-semobold"
                  v-model="billingDetails.country"
                  placeholder="Country"
                >
                  <el-option
                    value="United States"
                    label="United States"
                    default
                  ></el-option>

                  <el-option
                    v-for="country in countries"
                    :key="country.value"
                    :value="country.value"
                    :label="country.label"
                    :disabled="$props.readonly"
                  ></el-option>
                </el-select>
              </el-form-item>
            </div>
            <!--end::Col-->
          </div>

          <!--begin::Card title-->
          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <!--begin::Label-->
            <label class="col-form-label required fw-semobold fs-6"
              >Card Holder's Email</label
            >
            <!--end::Label-->
            <!--begin::Col-->
            <div class="">
              <!--begin::Row-->
              <div class="row">
                <!--begin::Col-->
                <div class="fv-row">
                  <el-form-item prop="email">
                    <el-input
                      type="email"
                      name="email"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Email"
                      v-model="billingDetails.email"
                      :readonly="$props.readonly"
                    />
                  </el-form-item>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Col-->
          </div>

          <div class="col-12 col-md-6 col-lg-4 col-xl-3">
            <!--begin::Label-->
            <label class="col-form-label fs-6 fw-semobold">
              <span class="required">Phone</span>
            </label>
            <!--end::Label-->

            <el-form-item prop="phone" name="phone" v-slot="{ field }">
              <VueTelInput
                class="form-control form-control-lg form-control-solid mb-3 mb-lg-0 d-flex"
                v-bind="field"
                v-model="billingDetails.phone"
                :value="billingDetails.phone"
                mode="international"
                @input="onInput"
                :defaultCountry="'US'"
                name="phone"
                type="phone"
                :disabled="$props.readonly"
              />
            </el-form-item>
          </div>
        </div>
        <!--end::Section-->
      </el-form>
    </div>
    <!--end::Card body-->
  </div>
  <!--end::Card-->
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "vue";
import type { IBillingDetails } from "@/core/types/bookingTypes";
import { VueTelInput } from "vue3-tel-input";
import "vue3-tel-input/dist/vue3-tel-input.css";
import { countries } from "@/stores/countries";
import { states } from "@/stores/states";

export default defineComponent({
  name: "billing-details",
  components: {
    VueTelInput,
  },
  props: { initValue: Object, readonly: Boolean },
  emits: ["onSuccess"],
  setup(props, { emit }) {
    const formRef = ref<null | HTMLFormElement>(null);
    const loading = ref<boolean>(false);

    const billingDetails = ref<IBillingDetails>({
      country: "United States",
      zip: undefined,
      state: "",
      city: "",
      email: "",
      phone: "",
      street_address: "",
    });

    watch(
      () => props.initValue,
      () => {
        if (props.initValue) {
          const initialValue = props.initValue as IBillingDetails;
          billingDetails.value = initialValue;
        }
      }
    );

    const rules = ref({
      country: [
        {
          required: true,
          message: "Please input Country",
          trigger: "blur",
        },
      ],
      zip: [
        {
          required: true,
          message: "Please input ZIP/Postal Code",
          trigger: "blur",
        },
      ],
      state: [
        {
          required: true,
          message: "Please input State",
          trigger: "blur",
        },
      ],
      city: [
        {
          required: true,
          message: "Please input Sity",
          trigger: "blur",
        },
      ],
      email: [
        {
          required: true,
          message: "Please input Email",
          trigger: "blur",
        },
      ],
      phone: [
        {
          required: true,
          message: "Please input Phone",
          trigger: "blur",
        },
      ],
      street_address: [
        {
          required: true,
          message: "Please input Street Address",
          trigger: "blur",
        },
      ],
    });

    const submit = () => {
      if (!formRef.value) {
        return;
      }

      formRef.value.validate((valid: boolean) => {
        if (valid) {
          emit("onSuccess", billingDetails.value);
        } else {
          return false;
        }
      });
    };

    const resetForm = () => {
      if (formRef.value) {
        formRef.value.resetFields();
      }
    };

    const onInput = (phone, phoneObject) => {
      if (phoneObject?.formatted) {
        billingDetails.value.phone = phoneObject.formatted;
      }
    };

    return {
      submit,
      billingDetails,
      formRef,
      rules,
      resetForm,
      onInput,
      loading,
      countries,
      states,
    };
  },
});
</script>

<style lang="scss">
.el-select {
  width: 100%;
}

.el-select .select-trigger {
  width: 100%;
}

.booking-page .form-control {
  display: flex;
  align-items: center;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}

.el-input__wrapper {
  background-color: unset !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.el-input__wrapper {
  background-color: unset !important;
  border: none !important;
  box-shadow: none !important;
}

.form-control {
  padding-left: 16px;
}

.vue-tel-input {
  border: unset;
  background-color: #f5f8fa;
  border-radius: 0.625rem;
}

.vti__input {
  border-radius: 0.625rem;
  background-color: #f5f8fa;
}

.vti__dropdown {
  border-radius: 0.625rem;
  background-color: #f5f8fa;
}

.vti__dropdown .vti__dropdown-list {
  z-index: 999;
  top: 54px !important;
  bottom: unset !important;
  border: unset;
  background-color: #f5f8fa;
  border-radius: 0.625rem;
  box-shadow: none;
}

.departure_date .el-form-item__content {
  padding-left: unset;
}

label {
  padding-left: 4px;
}

.scroll-y {
  overflow-y: unset;
}
</style>
