<template>
  <div v-if="block" class="fv-plugins-message-container">
    <div class="fv-help-block">No block added Flight Details</div>
  </div>

  <template v-for="(paxRef, index) in paxDetailsRefs" :key="index">
    <PaxDetails
      :ref="paxRef"
      @onSuccess="onPaxSuccess"
      @removeBlock="removeBlock(index)"
    ></PaxDetails>
  </template>

  <div class="row">
    <div
      class="col-lg-12 d-flex justify-content-center justify-content-md-end mb-3 mb-lg-0"
    >
      <button
        type="button"
        :class="{ disabled: loading }"
        class="btn btn-sm btn-flex me-3 btnDesign text-white fs-5"
        id="addNewItem"
        @click="addBlock"
      >
        <span class="svg-icon svg-icon-3">
          <inline-svg src="/media/icons/duotune/general/gen035.svg" />
        </span>
        Add new
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import type { IPaxMin } from "@/core/types/bookingTypes";
import { defineComponent, onMounted, ref, watch, type Ref } from "vue";
import { useRouter } from "vue-router";
import PaxDetails from "./PaxDetails.vue";

export default defineComponent({
  name: "booking-form",
  components: {
    PaxDetails,
  },
  props: ["currentTokenValue"],
  emits: ["onSuccess", "countBlockAdd", "countBlockDelete"],
  setup(props, { emit }) {
    const loading = ref(false);
    const paxesDetails = ref<IPaxMin[]>([]);
    const paxDetailsRefs = ref<Ref[]>([]);

    const router = useRouter();
    const currentToken = ref(props.currentTokenValue);

    watch(
      () => props.currentTokenValue,
      (newValue) => {
        currentToken.value = newValue;
      }
    );

    const submit = () => {
      paxesDetails.value = [];
      callSubmit();
      setTimeout(async () => {
        if (paxesDetails.value.length === paxDetailsRefs.value.length) {
          emit("onSuccess");
          const token = currentToken.value;
          const paxData = paxesDetails.value;
          router.push({
            path: `/booking/card/${token}`,
            query: { data: JSON.stringify(paxData) },
          });
        }
      });
    };

    const onPaxSuccess = (paxDetailsParam: {
      gender: "m" | "f";
      first_name: string;
      last_name: string;
      middle_name: string;
      birthday: string;
    }) => {
      paxesDetails.value.push(paxDetailsParam);
    };

    const callSubmit = () => {
      for (const paxRef of paxDetailsRefs.value) {
        paxRef.value[0].submit();
      }
    };

    const block = ref(false);
    let countBlock = 0;
    const addBlock = () => {
      const newPaxDetailsRef = ref<any>(null);
      paxDetailsRefs.value.push(newPaxDetailsRef);

      const blockPax = document.querySelectorAll(".block-pax");
      if (blockPax.length >= 0) {
        block.value = false;
      } else {
        block.value = true;
      }
      countBlock++;
      emit("countBlockAdd", countBlock);
    };

    onMounted(() => {
      addBlock();
    });

    const removeBlock = (index: number) => {
      paxDetailsRefs.value.splice(index, 1);

      const blockPax = document.querySelectorAll(".block-pax");
      if (blockPax.length > 1) {
        block.value = false;
      } else {
        block.value = true;
      }
      countBlock--;
      emit("countBlockDelete", countBlock);
    };

    return {
      paxDetailsRefs,
      submit,
      loading,
      onPaxSuccess,
      addBlock,
      removeBlock,
      block,
      callSubmit,
    };
  },
});
</script>

<style lang="scss">
.agentBookInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}

.contAgentProfile {
  display: flex;
  justify-content: end;
}

.numberBookAgent {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.emailBookAgent {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.svgImage {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: rgb(205, 205, 205);
  border-radius: 50%;
}

.svgImage svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}

.btnDesign {
  color: white;
  padding: 10px 20px !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
  border-radius: 10px !important;
  background: #c39673 !important;
  transition: 0.2s all ease !important;
}

.btnDesign:hover {
  background: #ac8160 !important;
  color: white;
}

.whiteSvg {
  fill: white;
}

.continueWithPaymentDesign {
  background-color: rgba(0, 50, 34, 0.8) !important;
}
.continueWithPaymentDesign:hover {
  background-color: rgba(0, 39, 26, 0.8) !important;
}
</style>
