<template>
  <div class="card-header">
    <div class="card-title col-12">
      <h2 class="fw-bold">Credit/Debit Card Information</h2>
    </div>
  </div>

  <div class="card-body pb-0 pt-0">
    <el-form
      class="form fv-plugins-bootstrap5 fv-plugins-framework row d-flex"
      id="card"
      @submit.prevent="submit()"
      :rules="rules"
      ref="formRef"
      :model="cardDetails"
    >
      <div
        class="col-xxl-5 col-lg-6 col-12 d-flex align-items-center justify-content-center"
      >
        <div class="card-view d-block w-100">
          <div class="card-view__title">
            <h3 class="card-view__details card-view__card">
              Credit/Debit Card
            </h3>
          </div>

          <div>
            <inline-svg
              class="card-svg ms-2 me-2"
              src="/media/icons/duotune/payment/chip.svg"
            />
          </div>

          <div>
            <input
              class="card-view__details card-view__card-number"
              type="text"
              v-model="formattedCardNumber"
              readonly
              placeholder="0000 0000 0000 0000"
            />
          </div>

          <div>
            <input
              class="card-view__details card-view__cvv"
              type="text"
              v-model="cardDetails.cvv"
              readonly
              placeholder="000"
            />
          </div>

          <div class="d-flex align-items-center justify-content-end w-100">
            <input
              class="card-view__details card-view__date text-end"
              type="text"
              :value="fullDate"
              readonly
            />
          </div>

          <div class="d-flex align-items-center justify-content-start">
            <input
              class="card-view__details card-view__name"
              type="text"
              :value="fullName"
              readonly
            />
          </div>
        </div>
      </div>

      <!--begin::Section-->
      <div class="col-12 col-lg-6 col-xxl-7">
        <!--begin::Title-->
        <!--end::Title-->
        <div class="row">
          <!--begin::Label-->
          <label class="col-form-label fw-semobold fs-6 pt-0">
            <span class="required">Bank Card Number</span>
          </label>
          <!--end::Label-->

          <!--begin::Col-->
          <div class="fv-row">
            <el-form-item prop="card_number">
              <el-input
                type="text"
                name="card_number"
                class="form-control form-control-lg form-control-solid mb-3 mb-lg-0 form-control-extended"
                placeholder="0000 0000 0000 0000"
                v-model="cardDetails.card_number"
                maxlength="16"
                :readonly="$props.readonly"
              />
            </el-form-item>
          </div>
        </div>

        <div class="row">
          <!--begin::Label-->
          <label class="col-form-label fw-semobold fs-6 pt-0">
            <span class="required">Card Date and CVV</span>
          </label>
          <!--end::Label-->

          <!--begin::Col-->
          <div class="fv-row">
            <div class="row">
              <div class="col-lg-4 fv-row">
                <el-form-item prop="month">
                  <el-select
                    name="month"
                    class="form-control form-control-solid form-select-solid form-select-lg fw-semobold mr-1"
                    v-model="cardDetails.month"
                    placeholder="Select Month"
                  >
                    <el-option value="01" :disabled="$props.readonly"
                      >01</el-option
                    >
                    <el-option value="02" :disabled="$props.readonly"
                      >02</el-option
                    >
                    <el-option value="03" :disabled="$props.readonly"
                      >03</el-option
                    >
                    <el-option value="04" :disabled="$props.readonly"
                      >04</el-option
                    >
                    <el-option value="05" :disabled="$props.readonly"
                      >05</el-option
                    >
                    <el-option value="06" :disabled="$props.readonly"
                      >06</el-option
                    >
                    <el-option value="07" :disabled="$props.readonly"
                      >07</el-option
                    >
                    <el-option value="08" :disabled="$props.readonly"
                      >08</el-option
                    >
                    <el-option value="09" :disabled="$props.readonly"
                      >09</el-option
                    >
                    <el-option value="10" :disabled="$props.readonly"
                      >10</el-option
                    >
                    <el-option value="11" :disabled="$props.readonly"
                      >11</el-option
                    >
                    <el-option value="12" :disabled="$props.readonly"
                      >12</el-option
                    >
                  </el-select>
                </el-form-item>
              </div>

              <div class="col-lg-4 fv-row">
                <el-form-item prop="year">
                  <el-select
                    name="year"
                    class="form-control form-control-solid form-select-solid form-select-lg fw-semobold mr-1"
                    v-model="cardDetails.year"
                    placeholder="Select Year"
                  >
                    <el-option value="23" :disabled="$props.readonly"
                      >2023</el-option
                    >
                    <el-option value="24" :disabled="$props.readonly"
                      >2024</el-option
                    >
                    <el-option value="25" :disabled="$props.readonly"
                      >2025</el-option
                    >
                    <el-option value="26" :disabled="$props.readonly"
                      >2026</el-option
                    >
                    <el-option value="27" :disabled="$props.readonly"
                      >2027</el-option
                    >
                    <el-option value="28" :disabled="$props.readonly"
                      >2028</el-option
                    >
                    <el-option value="29" :disabled="$props.readonly"
                      >2029</el-option
                    >
                    <el-option value="30" :disabled="$props.readonly"
                      >2030</el-option
                    >
                    <el-option value="31" :disabled="$props.readonly"
                      >2031</el-option
                    >
                    <el-option value="32" :disabled="$props.readonly"
                      >2032</el-option
                    >
                    <el-option value="33" :disabled="$props.readonly"
                      >2033</el-option
                    >
                  </el-select>
                </el-form-item>
              </div>

              <div class="col-lg-4 fv-row">
                <el-form-item prop="cvv">
                  <el-input
                    type="text"
                    name="cvv"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="CVV"
                    v-model="cardDetails.cvv"
                    maxlength="4"
                    @input="restrictToDigits"
                    :readonly="$props.readonly"
                  />
                </el-form-item>
              </div>
            </div>
          </div>
          <!--end::Col-->
        </div>

        <!--begin::Card title-->
        <div class="row mb-6">
          <!--begin::Label-->
          <label class="col-form-label required fw-semobold fs-6 pt-0"
            >Cardholder Name</label
          >
          <!--end::Label-->
          <!--begin::Col-->
          <div class="">
            <!--begin::Row-->
            <div class="row">
              <!--begin::Col-->
              <div class="col-lg-6 fv-row">
                <el-form-item prop="first_name">
                  <el-input
                    type="text"
                    name="first_name"
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                    placeholder="First name"
                    v-model="cardDetails.first_name"
                    :readonly="$props.readonly"
                  />
                </el-form-item>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="col-lg-6 fv-row">
                <el-form-item prop="last_name">
                  <el-input
                    type="text"
                    name="last_name"
                    class="form-control form-control-lg form-control-solid"
                    placeholder="Last name"
                    v-model="cardDetails.last_name"
                    :readonly="$props.readonly"
                  />
                </el-form-item>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Row-->
          </div>
          <!--end::Col-->
        </div>
      </div>
      <!--end::Section-->
    </el-form>
  </div>
  <!--end::Card body-->

  <!--end::Card-->
</template>

<script lang="ts">
import { defineComponent, ref, computed, watch } from "vue";
import type { ICard } from "@/core/types/bookingTypes";

export default defineComponent({
  name: "card-details",
  components: {},
  emits: ["onSuccess"],
  props: { initValue: Object, readonly: Boolean },
  setup(props, { emit }) {
    const formRef = ref<null | HTMLFormElement>(null);
    const loading = ref<boolean>(false);

    const cardDetails = ref<ICard>({
      card_number: "",
      month: "",
      year: "",
      cvv: "",
      first_name: "",
      last_name: "",
      valid_thru: "",
      owner: "",
    });

    watch(
      () => props.initValue,
      () => {
        if (props.initValue) {
          const initialValue = props.initValue as ICard;
          cardDetails.value = initialValue;
        }
      }
    );

    const submit = () => {
      if (!formRef.value) {
        return;
      }

      formRef.value.validate((valid: boolean) => {
        if (valid) {
          emit("onSuccess", cardDetails.value);
        } else {
          return false;
        }
      });
    };

    const resetForm = () => {
      if (formRef.value) {
        formRef.value.resetFields();
      }
    };

    const rules = ref({
      card_number: [
        {
          required: true,
          message: "Please input card number",
          trigger: "blur",
        },
        {
          validator: (rule, value, callback) => {
            const firstDigit = value.charAt(0);
            const validLength = ["3"].includes(firstDigit) ? 15 : 16;

            if (["3", "4", "5", "6"].includes(firstDigit)) {
              if (value.length === validLength && /^\d+$/.test(value)) {
                callback(); // Всё в порядке, вызываем колбэк без ошибки
              } else {
                callback(new Error("A valid card number is required"));
              }
            } else {
              callback(new Error("A valid card number is required"));
            }
          },
          trigger: "blur",
        },
      ],

      month: [
        {
          required: true,
          message: "Please input month",
          trigger: "change",
        },
      ],
      year: [
        {
          required: true,
          message: "Please input year",
          trigger: "change",
        },
      ],
      cvv: [
        {
          required: true,
          message: "Please input cvv",
          trigger: "blur",
        },
      ],
      first_name: [
        {
          required: true,
          message: "Please input name",
          trigger: "blur",
        },
      ],
      last_name: [
        {
          required: true,
          message: "Please input surname",
          trigger: "blur",
        },
      ],
    });

    const cardFirstNumber = ref({
      card_number: "",
    });

    const formattedCardNumber = computed(() => {
      const cardNumber = cardDetails.value.card_number;
      const formattedNumber = cardNumber.replace(/(.{4})/g, "$1 ");
      return formattedNumber.trim();
    });

    const validCardNumber = computed(() => {
      const firstDigit = cardDetails.value.card_number.charAt(0);
      return ["3", "4", "5", "6"].includes(firstDigit);
    });

    const fullName = computed<string>({
      get: () => {
        if (
          cardDetails.value.first_name === "" &&
          cardDetails.value.last_name === ""
        ) {
          return `FULL NAME`;
        } else {
          return `${cardDetails.value.first_name} ${cardDetails.value.last_name}`.toUpperCase();
        }
      },
      set: (value) => {
        const [firstName, lastName] = value.split(" ");
        cardDetails.value.first_name = firstName;
        cardDetails.value.last_name = lastName;
      },
    });

    const fullDate = computed<string>({
      get: () => {
        if (cardDetails.value.month === "" && cardDetails.value.year === null) {
          return `MM/YY`;
        } else {
          return `${cardDetails.value.month}/${cardDetails.value.year}`;
        }
      },
      set: (value) => {
        const [month, year] = value.split(" ");
        cardDetails.value.month = month;
        cardDetails.value.year = year;
      },
    });

    const restrictToDigits = () => {
      cardDetails.value.cvv = cardDetails.value.cvv.replace(/\D/g, "");
    };

    return {
      cardDetails,
      loading,
      formRef,
      submit,
      rules,
      resetForm,
      formattedCardNumber,
      fullName,
      fullDate,
      validCardNumber,
      cardFirstNumber,
      restrictToDigits,
    };
  },
});
</script>

<style lang="scss">
.card-view {
  margin-bottom: 2.5rem;
  width: 400px;
  height: 236px;
  max-width: 400px;
  max-height: 236px;
  background: linear-gradient(45deg, #b9bcbd, #f5f8fa);
  box-shadow: 4px 4px 4px rgb(242, 239, 236);
  border-radius: 1.5rem;
  border: 0.05rem solid #caced0;
}

.card-svg {
  width: 18%;
  height: auto;
  padding-left: 2rem;
  padding-top: 0.6rem;
}

.card-view__title {
  width: 100%;
  padding-top: 1.5rem;
}

.card-view__details {
  border: none;
  background-color: transparent;
  padding: 4px;
  color: white;
  padding-left: 2rem;
  padding-right: 2rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgb(170, 167, 162);
}

.card-view__card-number {
  font-size: x-large;
  padding-top: 1.2rem;
  line-height: 0%;
  padding-bottom: 0;
  width: 100%;
}

.card-view__cvv {
  font-size: small;
  line-height: 0%;
  padding-top: 0;
  padding-bottom: 0;
}

.card-view__name,
.card-view__date {
  font-size: medium;
  width: fit-content;
  display: flex;
  padding-top: 0;
  line-height: 0%;
}

.card-view__details::placeholder {
  color: white;
}

@media (max-width: 575px) {
  .card-view__card-number {
    width: 101%;
    font-size: 18px;
  }

  .card-view__details {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .card-view {
    height: 205px;
    max-height: 205px;
    margin-bottom: 1.5rem;
  }
}

.form-control-extended {
  .el-input__wrapper {
    width: 100% !important;
  }
}
</style>
