<template>
  <div class="card card-flush pt-3 mb-5 mb-xl-10 booking-page block-pax">
    <div class="card-header">
      <div
        class="card-title col-12 d-flex align-items-start justify-content-between"
      >
        <input
          v-if="$props.readonly"
          name="enabled"
          class="flex-shrink-0 mt-1"
          type="checkbox"
          v-model="isChecked"
          :true-value="true"
          :false-value="false"
          id="termsPrivacyCheckbox"
          onclick="return false"
        />
        <input
          v-else
          name="enabled"
          class="flex-shrink-0 mt-1"
          type="checkbox"
          v-model="isChecked"
          :true-value="true"
          :false-value="false"
          id="termsPrivacyCheckbox"
        />
        <div class="d-block mb-5">
          <label for="termsPrivacyCheckbox">
            <h6 class="fw-normal lh-base mb-0 mt-0 ms-4">
              <strong>By checking this box I affirm that I have read</strong>,
              understood and accepted present
              <a
                href="https://flyluxury.com/terms"
                target="_blank"
                class="extra-link"
                ><b>Terms and Conditions</b></a
              >,
              <a
                href="https://flyluxury.com/privacy"
                target="_blank"
                class="extra-link"
                ><b>Privacy Policy</b></a
              >
              and airline liability limitations, confirmed the accuracy of
              flight itinerary, and verified the spelling of the name(s) of the
              passenger(s) to be matching passenger(s) passport(s) / valid
              travel document(s), as well as I have taken the consent of Credit
              Card Holder and all the passengers regarding the
              <a
                href="https://flyluxury.com/terms"
                target="_blank"
                class="extra-link"
                ><b>Terms and Conditions</b></a
              >
              and
              <a
                href="https://flyluxury.com/privacy"
                target="_blank"
                class="extra-link"
                ><b>Privacy Policy</b></a
              >.
            </h6>
          </label>
          <p class="fw-normal fs-6 ms-4 text-danger pt-2" v-if="!isChecked">
            Please check this box if you accept the Rules and Restrictions
          </p>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="kt_modal_ticket_protection"
      tabindex="-1"
      aria-hidden="true"
      v-if="showModalTerms"
    >
      <div class="modal-dialog modal-dialog-centered mw-650px">
        <!--begin::Modal content-->
        <div class="modal-content">
          <!--begin::Modal header-->
          <div
            class="modal-header d-block"
            id="kt_modal_ticket_protection_header"
          >
            <!--begin::Modal title-->
            <div class="d-flex align-items-center justify-content-between">
              <h2 class="fw-bold">Terms and conditions</h2>

              <div
                id="kt_modal_add_client_close"
                data-bs-dismiss="modal"
                class="btn btn-icon btn-sm btn-active-icon-primary"
              >
                <span class="svg-icon svg-icon-1">
                  <inline-svg src="/media/icons/duotune/arrows/arr061.svg" />
                </span>
              </div>
            </div>

            <TermsAndConditions></TermsAndConditions>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "vue";
import { Modal } from "bootstrap";
import TermsAndConditions from "@/components/booking-page/TermsAndConditions.vue";

export default defineComponent({
  name: "complete-purchase",
  components: {
    TermsAndConditions,
  },
  props: ["initialValue", "readonly"],
  emits: ["update:checked"],
  setup(props, { emit }) {
    const formRef = ref<null | HTMLFormElement>(null);
    const loading = ref<boolean>(false);

    const isChecked = ref(props.initialValue);

    watch(isChecked, (newValue) => {
      emit("update:checked", newValue);
    });

    const showModalTerms = ref(false);

    const openModal = () => {
      showModalTerms.value = true;
      setTimeout(() => {
        const modal = new Modal(
          document.getElementById("kt_modal_ticket_protection") as Element
        );
        modal.show();
      });
    };

    const openModalTerms = () => {
      openModal();
    };

    return {
      loading,
      formRef,
      isChecked,
      openModalTerms,
      showModalTerms,
      openModal,
    };
  },
});
</script>

<style lang="scss">
.form-switch-additional-services .form-check-input {
  width: 4rem !important;
}

#termsPrivacyCheckbox:checked {
  accent-color: #c39673;
}

#termsPrivacyCheckbox:checked ~ label {
  color: #47be7d !important;
}

.extra-link {
  color: #c39673;
}
</style>
