<template>
  <div class="card card-flush pt-3 mb-5 mb-xl-10">
    <div class="card-header">
      <div class="card-title col-12 d-block">
        <h2 class="fw-bold">Contact Person</h2>
      </div>
      <p class="text-muted fw-normal">
        Contact information required to receive the booking confirmation and
        E-Ticket, as well as flight change SMS notifications
      </p>
    </div>

    <div class="card-body pt-3">
      <el-form
        class="form fv-plugins-bootstrap5 fv-plugins-framework"
        id="contact"
        @submit.prevent="submit()"
        :rules="rules"
        ref="formRef"
        :model="contactPerson"
      >
        <!--begin::Section-->
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-12 col-md-6 col-xl-3">
                <!--begin::Label-->
                <label class="col-form-label fw-semobold fs-6">
                  <span class="required">Confirmation Email</span>
                </label>
                <!--end::Label-->

                <!--begin::Col-->
                <div class="fv-row">
                  <el-form-item prop="email">
                    <el-input
                      type="text"
                      name="email"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Email"
                      v-model="contactPerson.email"
                      :readonly="$props.readonly"
                    />
                  </el-form-item>
                </div>
              </div>

              <div class="col-12 col-md-6 col-xl-3">
                <!--begin::Label-->
                <label class="col-form-label fs-6 fw-semobold">
                  <span class="required">Phone</span>
                </label>
                <!--end::Label-->

                <!--begin::Input-->
                <el-form-item prop="phone">
                  <VueTelInput
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0 d-flex"
                    v-model="contactPerson.phone"
                    :value="contactPerson.phone"
                    mode="international"
                    @input="onInputContact"
                    :defaultCountry="'US'"
                    :disabled="$props.readonly"
                  />
                </el-form-item>
              </div>

              <div class="col-12 col-md-6 col-xl-3">
                <!--begin::Label-->
                <label class="col-form-label fw-semobold fs-6">
                  <span>Additional Email</span>
                </label>
                <!--end::Label-->

                <!--begin::Col-->
                <div class="fv-row">
                  <el-form-item prop="email">
                    <el-input
                      type="text"
                      name="email"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="Email"
                      v-model="contactPerson.additional_email"
                      :readonly="$props.readonly"
                    />
                  </el-form-item>
                </div>
              </div>

              <div class="col-12 col-md-6 col-xl-3">
                <!--begin::Label-->
                <label class="col-form-label fs-6 fw-semobold">
                  <span>Additional Phone</span>
                </label>
                <!--end::Label-->

                <!--begin::Input-->
                <el-form-item prop="phone">
                  <VueTelInput
                    class="form-control form-control-lg form-control-solid mb-3 mb-lg-0 d-flex"
                    v-model="contactPerson.additional_phone"
                    :value="contactPerson.additional_phone"
                    mode="international"
                    @input="onInputAdditional"
                    :defaultCountry="'US'"
                    :disabled="$props.readonly"
                  />
                </el-form-item>
              </div>
            </div>
          </div>
        </div>
        <!--end::Section-->
      </el-form>
    </div>
    <!--end::Card body-->
  </div>
  <!--end::Card-->
</template>

<script lang="ts">
import { defineComponent, ref, watch, watchEffect } from "vue";
import type { IClient } from "@/core/types/bookingTypes";
import { VueTelInput } from "vue3-tel-input";
import "vue3-tel-input/dist/vue3-tel-input.css";

export default defineComponent({
  name: "contact-person",
  components: {
    VueTelInput,
  },
  props: {
    clientDetails: { type: Object },
    readonly: { type: Boolean },
  },
  emits: ["onSuccess"],
  setup(props, { emit }) {
    const formRef = ref<null | HTMLFormElement>(null);
    const loading = ref<boolean>(false);

    const clientDetails = ref();

    watchEffect(() => {
      clientDetails.value = props.clientDetails;
    });

    const contactPerson = ref<IClient>({
      email: clientDetails.value?.email,
      phone: clientDetails.value?.phone,
      contact_email: clientDetails.value?.email,
      contact_phone: clientDetails.value?.phone,
      additional_email: "",
      additional_phone: "",
    });

    watch(clientDetails, (newClientDetails) => {
      contactPerson.value = newClientDetails as IClient;
    });

    const submit = () => {
      if (!formRef.value) {
        return;
      }

      formRef.value.validate((valid: boolean) => {
        if (valid) {
          emit("onSuccess", contactPerson.value);
        } else {
          return false;
        }
      });
    };

    const resetForm = () => {
      if (formRef.value) {
        formRef.value.resetFields();
      }
    };

    const rules = ref({
      email: [
        {
          required: true,
          message: "Please input email",
          trigger: "blur",
        },
      ],
      phone: [
        {
          required: true,
          message: "Please input phone",
          trigger: "blur",
        },
      ],
    });

    const onInputContact = (phone, phoneObject) => {
      if (phoneObject?.formatted) {
        contactPerson.value.phone = phoneObject.formatted;
      }
    };

    const onInputAdditional = (phone, phoneObject) => {
      if (phoneObject?.formatted) {
        contactPerson.value.additional_phone = phoneObject.formatted;
      }
    };

    return {
      contactPerson,
      loading,
      formRef,
      submit,
      rules,
      resetForm,
      onInputContact,
      onInputAdditional,
    };
  },
});
</script>

<style lang="scss">
.form-control {
  padding-left: 16px;
}

.vue-tel-input {
  border: unset;
  background-color: #f5f8fa;
  border-radius: 0.625rem;
}

.vti__input {
  border-radius: 0.625rem;
  background-color: #f5f8fa;
}

.vti__dropdown {
  border-radius: 0.625rem;
  background-color: #f5f8fa;
}

.vti__dropdown-list {
  z-index: 999;
  top: 54px !important;
  border: unset;
  background-color: #f5f8fa;
  border-radius: 0.625rem;
  box-shadow: none;
}

.departure_date .el-form-item__content {
  padding-left: unset;
}

label {
  padding-left: 4px;
}

.scroll-y {
  overflow-y: unset;
}
</style>
