<!-- eslint-disable prettier/prettier -->
<template>
  <!--begin::List Widget 5-->
  <div class="card" :class="widgetClasses">
    <!--begin::Header-->
    <div class="card-header align-items-center border-0 justify-content-center title-hide">
      <h2 class="fw-bold">
        Travel Summary
      </h2>
    </div>
    <!--end::Header-->

    <!--begin::Header-->
    <div class="card-header align-items-center border-0 justify-content-between btn-hide-details">
      <h2 class="fw-bold">
        Travel Summary
      </h2>
    <button class="btn btn-lg btn-primary" @click.prevent="$emit('closeDetails')">
      <span class="indicator-label">Hide Details</span>
    </button>
  </div>
    <!--end::Header-->
  </div>
  <template v-for="(reservations, index) in reservationsDivided" :key="index">


    <div class="card mt-4 destinationFromTo gap-3 gap-md-10 p-3 flex-column flex-md-row">


      <div class="fw-mormal timeline-content">
        <div class="flightShortInfo d-flex gap-5">
          <div>
            <h4 class="m-0 text-center">
              {{ reservations[0].airport_from.city }}

              ({{ reservations[0].airport_from.code }})
            </h4>
          </div>
          <div>
            <i class="fa-solid fa-arrow-right-long text-dark"></i>
          </div>
          <div>
            <h4 class="m-0 text-center">
              {{ reservations[reservations.length - 1].airport_to.city }}
              ({{ reservations[reservations.length - 1].airport_to.code }})
            </h4>
          </div>
        </div>
      </div>

      <div class="card-title align-items-start d-flex flex-column m-0">

        <h4 class="brandColor m-0 text-center">
          Total travel time: {{ calculateTotalTravelTime(reservations) }} ・
          {{ (reservations.length - 1 === 0) ? 'Nonstop flight' : (reservations.length - 1) + ' ' +
            ((reservations.length
              - 1
              === 1) ? 'stop' : 'stops') }}
        </h4>

      </div>
    </div>
    <div class="card mt-4" v-for="reservation in reservations" :key="reservation.index">
      <div class="card-body pb-3">
        <div class="card-title align-items-start d-flex justify-content-between align-items-center m-0 flex-column flex-md-row">
          <h4 class="fw-bold text-dark m-0 mb-1 mb-md-0">{{
            formatDate(reservation.date_from.date)
          }}</h4>
          <p class="text-muted fw-semibold m-0 fs-5">Flight time: {{ reservation.travel_time }}</p>
        </div>
      </div>

      <!--begin::Body-->
      <div class="card-body pt-0 d-flex flex-wrap justify-content-between align-items-center">

        <!--begin::Timeline-->
        <div class="timeline-label col-12 col-sm-4 col-md-4 display-grid justify-content-center justify-content-md-start mb-1 mb-md-0">
          <!--begin::Item-->
          <div class="timeline-item">
            <!--begin::Label-->
            <div class="timeline-label timeline-time fw-bold text-gray-800 fs-5 mb-2">
              {{ reservation.date_from.time }}
            </div>
            <!--end::Label-->

            <!--begin::Badge-->
            <div class="timeline-badge">
              <i class="fa fa-genderless text-warning fs-1"></i>
            </div>
            <!--end::Badge-->

            <!--begin::Text-->
            <div class="fw-semibold timeline-content text-muted ps-3 fs-5">
              {{ reservation.airport_from.city }}
              ({{ reservation.airport_from.code }})
            </div>
            <!--end::Text-->
          </div>
          <!--end::Item-->
          <!--begin::Item-->
          <div class="timeline-item d-flex align-items-center">
            <!--begin::Label-->
            <div class="fw-bold text-gray-800 fs-5 timeline-time">
              {{ reservation.date_to.time }}
            </div>
            <!--end::Label-->

            <!--begin::Badge-->
            <div class="timeline-badge">
              <i class="fa fa-genderless text-success fs-1"></i>
            </div>
            <!--end::Badge-->

            <!--begin::Text-->
            <div class="timeline-content fw-semibold text-muted ps-3 fs-5">
              {{ reservation.airport_to.city }}
              ({{ reservation.airport_to.code }})
            </div>
            <!--end::Text-->
          </div>
          <!--end::Item-->
        </div>

        <div class="d-block col-md-4 col-sm-4 col-12 text-center align-self-end">
          <p class="fw-semibold text-dark text-muted text-center fs-5 m-0" v-if="reservation.layover_time">{{
            reservation.layover_time }} layover in
            {{ reservation.airport_to.city }}
          </p>
        </div>

        <div class="d-block col-md-4 col-sm-4 col-12 text-sm-end text-center">
          <img class="img-airline" :src="reservation.airline.logo" />
          <p v-if="reservation.operated_by" class="timeline-content text-muted mt-2 mb-0 fs-5 fw-semibold">
            <el-tooltip class="item" effect="light" :content="'Operated by ' + reservation.operated_by" placement="top">
              {{ reservation.operated_by }}
            </el-tooltip>
            <br />
            {{ reservation.flight_number }} | {{ reservation.class_name }}
          </p>

          <p v-else class="timeline-content text-muted mt-2 mb-0 fs-5 fw-semibold">
            {{ reservation.airline.name }} <br />
            {{ reservation.flight_number }} | {{ reservation.class_name }}
          </p>
        </div>
          
      </div>
      <!--end: Card Body-->
    </div>
  </template>
  <!--end: List Widget 5-->
</template>

<script lang="ts">
import type { IReservation } from "@/core/types/bookingTypes";
import { useBookingStore } from "@/stores/booking";
import { defineComponent, onMounted, ref, type PropType } from "vue";
import { formatDate } from "@/core/helpers/formatDate";

export default defineComponent({
  name: "flight-details",
  props: {
    widgetClasses: String,
    callback: {
      type: Function as PropType<(data: Array<IReservation>) => void>,
      required: true,
    },
    token: String,
  },
  emits: ["closeDetails"],
  setup(props) {
    const store = useBookingStore();
    const reservations = ref<Array<IReservation>>([]);
    const reservationsDivided = ref<Array<Array<IReservation>> | undefined>([]);

    const divideReservations = (reservationArray: IReservation[]) => {
      const firstWayReservations: IReservation[] = [];
      const secondWayReservations: IReservation[] = [];
      let isNotDivided = true;

      for (const reservationObj of reservationArray) {
        if (isNotDivided) {
          firstWayReservations.push(reservationObj);
          isNotDivided = "layover_time" in reservationObj;
        } else {
          secondWayReservations.push(reservationObj);
        }
      }

      if (secondWayReservations.length === 0) {
        return [firstWayReservations];
      } else {
        return [firstWayReservations, secondWayReservations];
      }
    };

    const fetchData = async () => {
      try {
        const token = props.token as string;
        reservations.value = (await store.getReservationByToken(
          token
        )) as Array<IReservation>;
        props.callback(reservations.value);
        reservationsDivided.value = divideReservations(reservations.value);
      } catch (error) {
        console.error("Failed to fetch reservations:", error);
      }
    };

    const calculateTotalTravelTime = (
      reservations: Array<IReservation>
    ): string => {
      let totalMinutes = 0;

      for (const reservation of reservations) {
        const { travel_time, layover_time } = reservation;
        const travelMinutes = getTimeInMinutes(travel_time);
        const layoverMinutes = layover_time
          ? getTimeInMinutes(layover_time)
          : 0;

        totalMinutes += travelMinutes + layoverMinutes;
      }

      const totalHours = Math.floor(totalMinutes / 60);
      const remainingMinutes = totalMinutes % 60;

      const formattedTime = `${totalHours}h ${remainingMinutes}m`;

      return formattedTime;
    };

    function getTimeInMinutes(timeString: string): number {
      const timeParts = timeString.split(" ");

      let totalMinutes = 0;

      for (const part of timeParts) {
        if (part.includes("h")) {
          const hours = parseInt(part);
          totalMinutes += hours * 60;
        } else if (part.includes("m")) {
          const minutes = parseInt(part);
          totalMinutes += minutes;
        }
      }

      return totalMinutes;
    }

    onMounted(fetchData);

    return {
      reservationsDivided,
      calculateTotalTravelTime,
      formatDate,
    };
  },
});
</script>

<style lang="scss">
.destinationFromTo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.timeline-label:before {
  top: 5px;
  left: 77px;
  height: 55px;
}

.timeline-time {
  min-width: 76px;
}

.img-airline {
  max-height: 70px;
}

.font-size-95 {
  font-size: 0.95rem;
}

.display-grid {
  display: grid !important;
  &::before {
    display: none;
  }
}
</style>
