<!-- eslint-disable prettier/prettier -->
<template>
  <!--begin::List Widget 5-->

  <template v-if="reservationsDivided">
    <div class="card mt-4 pb-6">
      <div class="card" :class="widgetClasses">
        <!--begin::Header-->
        <div class="card-header align-items-center border-0 m-0">
          <div>
            <div class="card-title align-items-start flex-column">
              <h2 class="fw-bold text-dark">Flight Details</h2>
            </div>
          </div>
        </div>
      </div>
      <div v-for="(reservation, index) in reservationsDivided[0]" :key="index" class="d-flex">
        <div class="d-block w-50">
          <div class="card-body pb-3 w-100" v-if="index === 0">
            <h5 class="card-title align-items-start d-flex justify-content-between align-items-center">
              <span class="fw-bold mb-2 text-dark" v-if="reservationsDivided.length === 1">One-Way Flight</span>
              <span class="fw-bold mb-2 text-dark" v-if="reservationsDivided.length === 2">Round-Trip Flight</span>
            </h5>
          </div>

          <!--begin::Body-->
          <div class="card-body pt-3 pb-3 d-flex flex-wrap justify-content-between align-items-center mb-3"
            v-if="index === 0">
            <!--begin::Timeline-->
            <div class="timeline-label timeline-label-short col-12">
              <!--begin::Item-->
              <div class="timeline-item">
                <!--begin::Label-->
                <div class="timeline-time timeline-time-short fw-bold text-gray-800 fs-5 mb-2">
                  {{ reservation.date_from.time }}
                  {{ reservation.date_from.date }}
                </div>
                <!--end::Label-->

                <!--begin::Badge-->
                <div class="timeline-badge">
                  <i class="fa fa-genderless text-warning fs-1"></i>
                </div>
                <!--end::Badge-->

                <!--begin::Text-->
                <div class="fw-semibold timeline-content text-muted ps-3 fs-5">
                  {{ reservation.airport_from.city }}
                  ({{ reservation.airport_from.code }})
                </div>
                <!--end::Text-->
              </div>
              <!--end::Item-->
            </div>
          </div>

          <div class="card-body pt-3 pb-3 d-flex flex-wrap justify-content-between align-items-center mb-5"
            v-if="index === reservationsDivided[0].length - 1">
            <div class="timeline-label timeline-label-short timeline-label-none col-12">
              <!--begin::Item-->
              <div class="timeline-item d-flex align-items-center">
                <!--begin::Label-->
                <div class="fw-bold text-gray-800 fs-5 timeline-time timeline-time-short">
                  {{ reservation.date_to.time }} {{ reservation.date_to.date }}
                </div>
                <!--end::Label-->

                <!--begin::Badge-->
                <div class="timeline-badge">
                  <i class="fa fa-genderless text-success fs-1"></i>
                </div>
                <!--end::Badge-->

                <!--begin::Text-->
                <div class="fw-semibold timeline-content text-muted ps-3 fs-5">
                  {{ reservation.airport_to.city }}
                  ({{ reservation.airport_to.code }})
                </div>
                <!--end::Text-->
              </div>
              <!--end::Item-->
            </div>
            <!--end::Timeline-->
          </div>
          <!--end: Card Body-->
        </div>

        <div class="col-md-6 col-sm-5 col-12 text-end img-airline-short-block" v-if="index === 0">
          <img class="img-airline img-airline-short" :src="reservation.airline.logo" />
          <p v-if="reservation.operated_by" class="timeline-content fw-mormal text-muted mt-2 mb-0">
            <el-tooltip class="item" effect="light" :content="'Operated by ' + reservation.operated_by" placement="top">
              {{ reservation.operated_by }}
            </el-tooltip>
          </p>
          <p v-else class="timeline-content fw-mormal text-muted mt-2 mb-0">
            {{ reservation.airline.name }}
          </p>
        </div>
      </div>
      <!--begin::Footer-->
      <div class="card-header align-items-center border-0 mt-4 mb-4 justify-content-center justify-content-md-between">
          <div>
            <div class="verifyOption">
              <div class="messageFlightDetails">
                <div class="d-flex">
                  <input v-if="$props.readonly" name="enabled" class="flex-shrink-0" type="checkbox" v-model="isChecked" :true-value="true"
                    :false-value="false" id="checkBoxFlightDetails"  onclick="return false" />
                  <input v-else name="enabled" class="flex-shrink-0" type="checkbox" v-model="isChecked" :true-value="true"
                    :false-value="false" id="checkBoxFlightDetails" />
                  <label for="checkBoxFlightDetails">
                    <h5 class="fw-normal lh-base mb-2 mb-md-0 mt-0 ms-4">
                      I hereby confirm that I have verified the flight dates and times, and they
                      are
                      accurate.
                    </h5>
                  </label>
                </div>
                <div>
                  <p class="fw-normal fs-6 ms-4 text-danger pt-2" v-if="!isChecked">
                    Please check this box if you accept the Rules and Restrictions
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-lg btn-primary" @click.prevent="$emit('openDetails')">
            <span class="indicator-label">Details</span>
          </button>
        </div>
    </div>
  </template>
</template>

<script lang="ts">
import type { IReservation } from "@/core/types/bookingTypes";
import { useBookingStore } from "@/stores/booking";
import { defineComponent, onMounted, ref, type PropType, watch } from "vue";

export default defineComponent({
  name: "flight-details",

  props: {
    initCheckedDetails: Boolean,
    widgetClasses: String,
    callback: {
      type: Function as PropType<(data: Array<IReservation>) => void>,
      required: true,
    },
    token: String,
    readonly: Boolean,
  },
  emits: ["openDetails", "update:checked"],

  setup(props, { emit }) {
    const formRef = ref<null | HTMLFormElement>(null);
    const loading = ref<boolean>(false);
    const store = useBookingStore();
    const reservations = ref<Array<IReservation>>([]);
    const reservationsDivided = ref<Array<Array<IReservation>> | undefined>([]);

    const isChecked = ref(props.initCheckedDetails);

    watch(isChecked, (newValue) => {
      emit("update:checked", newValue);
    });

    const divideReservations = (reservationArray: IReservation[]) => {
      const firstWayReservations: IReservation[] = [];
      const secondWayReservations: IReservation[] = [];
      let isNotDivided = true;

      for (const reservationObj of reservationArray) {
        if (isNotDivided) {
          firstWayReservations.push(reservationObj);
          isNotDivided = "layover_time" in reservationObj;
        } else {
          secondWayReservations.push(reservationObj);
        }
      }

      if (secondWayReservations.length === 0) {
        return [firstWayReservations];
      } else {
        return [firstWayReservations, secondWayReservations];
      }
    };

    const fetchData = async () => {
      const token = props.token as string;
      reservations.value = (await store.getReservationByToken(
        token
      )) as Array<IReservation>;
      props.callback(reservations.value);
      reservationsDivided.value = divideReservations(reservations.value);
    };

    onMounted(fetchData);

    return {
      reservationsDivided,
      isChecked,
      formRef,
      loading,
    };
  },
});
</script>

<style lang="scss">
.timeline-time-short {
  min-width: 169px !important;
  width: 169px !important;
}

.img-airline-short {
  max-height: 110px !important;

  @media (max-width: 768px) {
    display: none !important;
  }
}

.timeline-label-none:before {
  display: none !important;
}

.timeline-label-short:before {
  left: 170px !important;
  height: 69px !important;
  top: 7px !important;
}

.img-airline-short-block {
  position: absolute !important;
  display: block !important;
  right: 0 !important;
  padding-right: 2.5rem !important;
  padding-top: 1rem !important;

  @media (max-width: 768px) {
    padding-right: 2.25rem !important;
    padding-top: 1rem !important;
    top: 75px;
  }
}

.confirmationSpan {
  opacity: 0.6;
}

.verifyOption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#checkBoxFlightDetails:checked {
  accent-color: #c39673;
}

.messageFlightDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
</style>
