<template>
  <div class="card card-flush pt-3 mb-5 mb-xl-10 booking-page block-pax">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="card-title col-8 d-block">
        <h2 class="fw-bold">Passenger Details</h2>
      </div>

      <div class="col-3 d-flex justify-content-end">
        <button
          type="button"
          class="border-0 bg-transparent btn-remove-block"
          id="buttonDelete"
          @click="removeBlock"
          v-if="isSpecificPage"
        >
          <span class="svg-icon svg-icon-1">
            <inline-svg src="/media/icons/duotune/arrows/arr061.svg" />
          </span>
        </button>
      </div>

      <p class="text-muted fw-normal">
        Traveler names must match the government-issued identification document
        intended to use during travel.
      </p>
    </div>

    <div class="card-body py-0">
      <el-form
        class="form fv-plugins-bootstrap5 fv-plugins-framework"
        id="pax_details"
        @submit.prevent="submit()"
        :rules="rules"
        ref="formRef"
        :model="paxDetails"
      >
        <!--begin::Section-->
        <div class="mb-10">
          <!--begin::Card title-->
          <div class="row">
            <!--begin::Col-->
            <div class="col-lg-12">
              <!--begin::Row-->
              <div class="row">
                <!--begin::Col-->
                <div class="col-12 col-md-6 col-lg-4 fv-row">
                  <label class="col-form-label required fw-semobold fs-6"
                    >Name</label
                  >
                  <el-form-item prop="first_name">
                    <el-input
                      type="text"
                      name="first_name"
                      class="form-control form-control-lg form-control-solid mb-3 mb-lg-0"
                      placeholder="First name"
                      v-model="paxDetails.first_name"
                      :readonly="$props.readonly"
                    />
                  </el-form-item>
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-12 col-md-6 col-lg-4 fv-row">
                  <label class="col-form-label required fw-semobold fs-6"
                    >Last name</label
                  >
                  <el-form-item prop="last_name">
                    <el-input
                      type="text"
                      name="surname"
                      class="form-control form-control-lg form-control-solid"
                      placeholder="Last name"
                      v-model="paxDetails.last_name"
                      :readonly="$props.readonly"
                    />
                  </el-form-item>
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-12 col-md-6 col-lg-4 fv-row">
                  <label class="col-form-label fw-semobold fs-6">
                    <span
                      >Middle name
                      <el-tooltip
                        content="Include if listed on passport or ID"
                        placement="top"
                        effect="light"
                      >
                        <i class="bi bi-info-circle"></i>
                      </el-tooltip>
                    </span>
                  </label>
                  <el-form-item prop="middle_name" class="mb-1">
                    <el-input
                      type="text"
                      name="middle_name"
                      class="form-control form-control-lg form-control-solid"
                      placeholder="Middle name"
                      v-model="paxDetails.middle_name"
                      :readonly="$props.readonly"
                    />
                  </el-form-item>
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-12 col-md-6 col-lg-4 fv-row">
                  <label class="col-form-label fw-semobold fs-6">
                    <span class="required">Gender</span>
                  </label>
                  <el-form-item prop="gender">
                    <el-select
                      name="gender"
                      class="form-control d-flex justify-content-between form-control-solid form-select-solid fw-semobold"
                      v-model="paxDetails.gender"
                      placeholder="Gender"
                      :readonly="$props.readonly"
                    >
                      <el-option
                        value="m"
                        label="Male"
                        :disabled="$props.readonly"
                      ></el-option>
                      <el-option
                        value="f"
                        label="Female"
                        :disabled="$props.readonly"
                      ></el-option>
                    </el-select>
                  </el-form-item>
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-12 col-lg-8 fv-row">
                  <label class="col-form-label fw-semobold fs-6">
                    <span class="required">Date of Birth</span>
                  </label>

                  <div class="row">
                    <div class="col-4">
                      <el-form-item prop="month">
                        <el-select
                          v-model="paxDetails.month"
                          class="el-select form-control d-flex justify-content-between form-control-solid form-select-solid fw-semobold"
                          placeholder="Month"
                        >
                          <el-option
                            v-for="item in optionsMonth"
                            :key="item.value"
                            :label="item.abbreviation"
                            :value="item.value"
                            :disabled="$props.readonly"
                          />
                        </el-select>
                      </el-form-item>
                    </div>

                    <div class="col-4">
                      <el-form-item prop="day">
                        <el-select
                          :disabledDate="disabledDate"
                          v-model="paxDetails.day"
                          type="date"
                          :teleported="false"
                          format="DD"
                          class="el-select form-control d-flex justify-content-between form-control-solid form-select-solid fw-semobold"
                          placeholder="Day"
                        >
                          <el-option
                            v-for="item in optionsDays"
                            :key="item.value"
                            :value="item.value"
                            :disabled="$props.readonly"
                          />
                        </el-select>
                      </el-form-item>
                    </div>

                    <div class="col-4">
                      <el-form-item prop="year">
                        <el-date-picker
                          :disabledDate="disabledDate"
                          v-model="paxDetails.year"
                          type="year"
                          :teleported="false"
                          format="YYYY"
                          value-format="YYYY"
                          class="form-control h-100 d-flex justify-content-between form-control-solid form-select-solid fw-semobold"
                          placeholder="Year"
                          :readonly="$props.readonly"
                        />
                      </el-form-item>
                    </div>
                  </div>

                  <div v-if="isIncorrectDate" class="text-danger">
                    Incorrect date of birth
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Col-->
          </div>
        </div>
      </el-form>
    </div>
  </div>
  <!--end::Car-->
</template>

<script lang="ts">
import { defineComponent, ref, computed, onMounted } from "vue";
import type { IPax } from "@/core/types/bookingTypes";
import { useRouter } from "vue-router";

export default defineComponent({
  name: "pax-details",
  components: {},
  emits: ["onSuccess", "removeBlock"],
  props: ["paxData", "readonly"],
  setup(props, { emit }) {
    const formRef = ref<null | HTMLFormElement>(null);
    const loading = ref<boolean>(false);

    const paxDetails = ref({
      gender: "m" || "f",
      first_name: "",
      last_name: "",
      middle_name: "",
      year: "",
      day: "",
      month: "",
      email: "",
      phone: "",
    });
    const submit = () => {
      if (!formRef.value) {
        return;
      }

      formRef.value.validate((valid: boolean) => {
        if (valid && !isIncorrectDate.value) {
          const data = ref<IPax>({
            gender: (paxDetails.value.gender as "m") || "f",
            first_name: paxDetails.value.first_name,
            last_name: paxDetails.value.last_name,
            middle_name: paxDetails.value.middle_name,
            birthday: `${paxDetails.value.year}-${paxDetails.value.month}-${paxDetails.value.day}`,
            email: paxDetails.value.email,
            phone: paxDetails.value.phone,
          });

          emit("onSuccess", data.value);
        } else {
          return false;
        }
      });
    };

    const fullBirthDate = computed(() => {
      if (
        paxDetails.value.day &&
        paxDetails.value.month &&
        paxDetails.value.year
      ) {
        return new Date(
          `${paxDetails.value.year}-${paxDetails.value.month}-${paxDetails.value.day}`
        );
      }
      return null;
    });

    const isIncorrectDate = computed(() => {
      if (fullBirthDate.value) {
        const currentDate = new Date();
        const birthdayString1 = fullBirthDate.value
          .toISOString()
          .substring(0, 10);
        const birthdayString2 = `${paxDetails.value.year}-${paxDetails.value.month}-${paxDetails.value.day}`;
        return (
          fullBirthDate.value > currentDate ||
          birthdayString1 !== birthdayString2
        );
      }
      return false;
    });

    const resetForm = () => {
      if (formRef.value) {
        formRef.value.resetFields();
      }
    };

    const rules = ref({
      gender: [
        {
          required: true,
          message: "Please input gender",
          trigger: "blur",
        },
      ],
      year: [
        {
          required: true,
          message: "Please input year",
          trigger: "change",
        },
      ],
      month: [
        {
          required: true,
          message: "Please input month",
          trigger: "change",
        },
      ],
      day: [
        {
          required: true,
          message: "Please input day",
          trigger: "change",
        },
      ],
      middle_name: [
        {
          required: false,
          message: "Please input middle name",
          trigger: "blur",
        },
      ],
      first_name: [
        {
          required: true,
          message: "Please input First name",
          trigger: "blur",
        },
      ],
      last_name: [
        {
          required: true,
          message: "Please input Last name",
          trigger: "blur",
        },
      ],
    });

    const removeBlock = () => {
      emit("removeBlock");
    };

    const router = useRouter();

    const isSpecificPage = computed(() => {
      return (
        router.currentRoute.value.path ===
        "/booking/" + router.currentRoute.value.params.token
      );
    });

    const fillPaxData = () => {
      if (props.paxData) {
        paxDetails.value = {
          gender: props.paxData.gender,
          first_name: props.paxData.first_name,
          last_name: props.paxData.last_name,
          middle_name: props.paxData.middle_name,
          year: props.paxData.birthday.split("-")[0],
          month: props.paxData.birthday.split("-")[1],
          day: props.paxData.birthday.split("-")[2],
          email: props.paxData.email,
          phone: props.paxData.phone,
        };
      }
    };

    const disabledDate = (date) =>
      date > new Date(new Date().setMonth(new Date().getMonth() - 1));

    onMounted(() => {
      fillPaxData();
    });

    const optionsMonth = [
      {
        value: "01",
        abbreviation: "Jan",
        name: "January",
      },
      {
        value: "02",
        abbreviation: "Feb",
        name: "February",
      },
      {
        value: "03",
        abbreviation: "Mar",
        name: "March",
      },
      {
        value: "04",
        abbreviation: "Apr",
        name: "April",
      },
      {
        value: "05",
        abbreviation: "May",
        name: "May",
      },
      {
        value: "06",
        abbreviation: "Jun",
        name: "June",
      },
      {
        value: "07",
        abbreviation: "Jul",
        name: "July",
      },
      {
        value: "08",
        abbreviation: "Aug",
        name: "August",
      },
      {
        value: "09",
        abbreviation: "Sep",
        name: "September",
      },
      {
        value: "10",
        abbreviation: "Oct",
        name: "October",
      },
      {
        value: "11",
        abbreviation: "Nov",
        name: "November",
      },
      {
        value: "12",
        abbreviation: "Dec",
        name: "December",
      },
    ];
    const optionsDays = [
      {
        key: "01",
        value: "01",
      },
      {
        key: "02",
        value: "02",
      },
      {
        key: "03",
        value: "03",
      },
      {
        key: "04",
        value: "04",
      },
      {
        key: "05",
        value: "05",
      },
      {
        key: "06",
        value: "06",
      },
      {
        key: "07",
        value: "07",
      },
      {
        key: "08",
        value: "08",
      },
      {
        key: "09",
        value: "09",
      },
      {
        key: "10",
        value: "10",
      },
      {
        key: "11",
        value: "11",
      },
      {
        key: "12",
        value: "12",
      },
      {
        key: "13",
        value: "13",
      },
      {
        key: "14",
        value: "14",
      },
      {
        key: "15",
        value: "15",
      },
      {
        key: "16",
        value: "16",
      },
      {
        key: "17",
        value: "17",
      },
      {
        key: "18",
        value: "18",
      },
      {
        key: "19",
        value: "19",
      },
      {
        key: "20",
        value: "20",
      },
      {
        key: "21",
        value: "21",
      },
      {
        key: "22",
        value: "22",
      },
      {
        key: "23",
        value: "23",
      },
      {
        key: "24",
        value: "24",
      },
      {
        key: "25",
        value: "25",
      },
      {
        key: "26",
        value: "26",
      },
      {
        key: "27",
        value: "27",
      },
      {
        key: "28",
        value: "28",
      },
      {
        key: "29",
        value: "29",
      },
      {
        key: "30",
        value: "30",
      },
      {
        key: "31",
        value: "31",
      },
    ];

    const selectedDate = ref({
      day: null,
      month: null,
      year: null,
    });

    return {
      submit,
      paxDetails,
      formRef,
      rules,
      resetForm,
      removeBlock,
      loading,
      isSpecificPage,
      router,
      disabledDate,
      selectedDate,
      optionsMonth,
      optionsDays,
      isIncorrectDate,
    };
  },
});
</script>

<style lang="scss">
.el-select {
  width: 100%;
}

.el-select .select-trigger {
  width: 100%;
}

.booking-page .form-control {
  display: flex;
  align-items: center;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100%;
}

.el-input__wrapper {
  background-color: unset !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.el-input__wrapper {
  background-color: unset !important;
  border: none !important;
  box-shadow: none !important;
}

.middleNameTip {
  margin-left: 6px;
  font-size: inherit;
}
</style>
