<template>
  <div class="card card-flush pt-3 mb-5 mb-xl-10">
    <div class="card-header">
      <div class="card-title col-12 d-block">
        <h2 class="fw-bold">Payment Information</h2>
      </div>

      <div class="d-flex align-items-cener justufy-content-start">
        <inline-svg
          class="me-1"
          src="/media/icons/duotune/general/gen047.svg"
        />
        <h6 class="text-muted fw-normal mb-0 mt-0 lh-base pt-1">
          All transactions are secure and encrypted.
        </h6>
      </div>
    </div>

    <div
      class="card-body pt-3 mb-5 d-flex align-items-center justify-content-between"
    >
      <h6 class="mb-0 mt-0 lh-base">Credit Card / Debit Card</h6>

      <div>
        <inline-svg
          class="payment-svg ms-2 me-2"
          src="/media/icons/duotune/payment/visa.svg"
        />
        <inline-svg
          class="payment-svg ms-2 me-2"
          src="/media/icons/duotune/payment/discover.svg"
        />
        <inline-svg
          class="payment-svg ms-2 me-2"
          src="/media/icons/duotune/payment/diners-club.svg"
        />
        <inline-svg
          class="payment-svg ms-2 me-2"
          src="/media/icons/duotune/payment/american-express.svg"
        />
      </div>
      <h6>${{ formatPrice($props.getTotal) }}</h6>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { formatPrice } from "@/core/helpers/formatPrice";

export default defineComponent({
  name: "payment-information",
  components: {},
  props: {
    getTotal: {
      type: Number,
      required: true,
    },
  },
  setup() {
    const formRef = ref<null | HTMLFormElement>(null);

    return {
      formRef,
      formatPrice,
    };
  },
});
</script>

<style lang="scss">
.payment-svg {
  height: 1rem;
  width: auto;
}
</style>
