<template>
  <div
    class="card card-flush pt-3 mb-5 pb-5 mt-4 mb-xl-10 booking-page block-pax block-widget shadow-none"
  >
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="card-title col-12 d-block">
        <h2 class="fw-bold">Purchase Summary</h2>
      </div>
    </div>

    <template v-if="flightType === 'Round-Trip Flight'">
      <template
        v-for="(reservations, index) in reservationsDivided"
        :key="index"
      >
        <div
          class="d-flex align-items-start justify-content-between row ps-4 pe-4"
          v-for="(reservation, idx) in reservations"
          :key="reservation.index"
        >
          <!--begin::Body-->
          <div class="col-8 card-body pt-3 pb-3 d-block mb-3" v-if="idx === 0">
            <!--begin::Timeline-->

            <!--begin::Item-->

            <!--begin::Label-->
            <div
              class="fw-bold text-gray-800 fs-5 timeline-time timeline-time-short"
            >
              {{ reservation.date_from.time }}
              {{ reservation.date_from.date }}
            </div>
            <!--end::Label-->

            <!--begin::Text-->
            <div class="fw-mormal timeline-content text-muted">
              {{ reservation.airport_from.city }},
              {{ reservation.airport_from.code }}
              - {{ reservations[reservations.length - 1].airport_to.city }},
              {{ reservations[reservations.length - 1].airport_to.code }}
            </div>
            <!--end::Text-->

            <!--end::Item-->
          </div>

          <div
            class="col-6 col-md-4 mb-4 text-end img-airline-short-block"
            v-if="index === 0 && idx === 0"
          >
            <img
              class="img-airline img-airline-short-widget"
              :src="reservation.airline.logo"
            />
            <p
              v-if="reservation.operated_by"
              class="timeline-content fw-mormal text-muted mt-2 mb-0"
            >
              {{ reservation.operated_by }}
            </p>
            <p v-else class="timeline-content fw-mormal text-muted mt-1 mb-0">
              {{ reservation.airline.name }}
            </p>
          </div>
          <!--end: Card Body-->
        </div>
      </template>
    </template>
    <template v-if="flightType === 'One-Way Flight'">
      <template v-if="reservationsDivided">
        <div
          v-for="(reservation, index) in reservationsDivided[0]"
          :key="reservation.index"
          class="d-flex align-items-start justify-content-between row ps-4 pe-4"
        >
          <!--begin::Body-->
          <div
            class="col-8 card-body pt-3 pb-3 d-block mb-3"
            v-if="index === 0"
          >
            <!--begin::Timeline-->

            <!--begin::Item-->

            <!--begin::Label-->
            <div
              class="fw-bold text-gray-800 fs-6 timeline-time timeline-time-short"
            >
              {{ reservation.date_from.time }}
              {{ reservation.date_from.date }}
            </div>
            <!--end::Label-->

            <!--begin::Text-->
            <div class="fw-mormal timeline-content text-muted">
              {{ reservation.airport_from.city }},
              {{ reservation.airport_from.code }}
            </div>
            <!--end::Text-->

            <!--end::Item-->
          </div>

          <div
            class="col-6 col-md-4 mb-4 text-end img-airline-short-block"
            v-if="index === 0"
          >
            <img
              class="img-airline img-airline-short-widget"
              :src="reservation.airline.logo"
            />
            <p
              v-if="reservation.operated_by"
              class="timeline-content fw-mormal text-muted mt-2 mb-0"
            >
              {{ reservation.operated_by }}
            </p>
            <p v-else class="timeline-content fw-mormal text-muted mt-1 mb-0">
              {{ reservation.airline.name }}
            </p>
          </div>

          <div
            class="col-8 card-body pt-3 pb-3 d-flex flex-wrap justify-content-between align-items-center border-bottom pb-4"
            v-if="index === reservationsDivided[0].length - 1"
          >
            <div
              class="timeline-label timeline-label-short timeline-label-none col-12"
            >
              <!--begin::Item-->

              <!--begin::Label-->
              <div
                class="fw-bold text-gray-800 fs-5 timeline-time timeline-time-short"
              >
                {{ reservation.date_to.time }}
                {{ reservation.date_to.date }}
              </div>
              <!--end::Label-->

              <!--begin::Text-->
              <div class="timeline-content fw-mormal text-muted">
                {{ reservation.airport_to.city }},
                {{ reservation.airport_to.code }}
              </div>
              <!--end::Text-->

              <!--end::Item-->
            </div>
            <!--end::Timeline-->
          </div>
          <!--end: Card Body-->
        </div>
      </template>
    </template>

    <div class="card-body pt-2 pb-4 mt-4 w-100 border-bottom">
      <h4
        class="card-title align-items-start d-flex justify-content-between align-items-center"
      >
        <span class="fw-bold mb-2 text-dark"
          >{{ flightType }} (x{{ paxesCount }})</span
        >
        <span class="fw-normal mb-2 text-dark"
          >${{ formatPrice(getCurrentPrice) }}</span
        >
      </h4>

      <div
        v-if="hasTicketProtection"
        class="card-title align-items-start d-flex justify-content-between align-items-start mt-4"
      >
        <div class="d-block">
          <h6 class="card-title">
            <span class="fw-bold mb-2 text-dark"
              >Tickets Protection Service (x{{ paxesCount }})</span
            >
          </h6>

          <h6 class="card-title text-muted">
            <span>Non-refundable charge by Fly Luxury</span>
          </h6>
        </div>

        <h6 class="card-title align-items-start">
          <span class="fw-normal mb-2 text-dark"
            >${{ formatPrice(getTicketsProtectionPrice) }}</span
          >
        </h6>
      </div>

      <div
        class="card-title align-items-start d-flex justify-content-between align-items-start mt-4"
      >
        <div class="d-block">
          <h6 class="card-title">
            <span class="fw-bold mb-2 text-dark">Tips</span>
          </h6>

          <h6 class="card-title text-muted">
            <span>Your gratitude for our work</span>
          </h6>
        </div>

        <h6 class="card-title align-items-start">
          <span class="fw-normal mb-2 text-dark"
            >${{ formatPrice(getSumTips) }}</span
          >
        </h6>
      </div>
    </div>

    <div class="card-body pt-2 pb-3 mt-4 w-100 border-bottom">
      <h4
        class="card-title align-items-start d-flex justify-content-between align-items-center"
      >
        <span class="fw-bold mb-2 text-dark fs-20 fs-md-25"
          >Total to be charged</span
        >
        <span class="fw-bold mb-2 text-dark fs-20 fs-md-25"
          >${{ formatPrice(getTotal) }}</span
        >
      </h4>
    </div>

    <div
      class="card-body rating-block pt-2 pb-3 mt-4 d-flex align-items-center justify-content-between"
    >
      <h6 class="card-title mb-0">{{ getRatingText() }} Service</h6>

      <div
        v-if="$props.readonly"
        class="d-flex align-items-center justify-content-end"
      >
        <span v-for="count in 5" :key="count">
          <span class="rating-color rating-color-active" v-if="count <= rating"
            >&#9733;</span
          >
          <span class="rating-color" v-else>&#9733;</span>
        </span>
      </div>

      <div v-else class="d-flex align-items-center justify-content-end">
        <span v-for="count in 5" :key="count" @click="setRating(count)">
          <span class="rating-color rating-color-active" v-if="count <= rating"
            >&#9733;</span
          >
          <span class="rating-color" v-else>&#9733;</span>
        </span>
      </div>
    </div>
  </div>
  <!--end: List Widget 5-->
</template>

<script lang="ts">
import type { IPriceQuote, IReservation } from "@/core/types/bookingTypes";
import { useBookingStore } from "@/stores/booking";
import {
  defineComponent,
  onMounted,
  ref,
  type PropType,
  computed,
  getCurrentInstance,
  watch,
} from "vue";
import { useRoute } from "vue-router";
import { formatPrice } from "@/core/helpers/formatPrice";

export default defineComponent({
  name: "purchase-summary",
  props: {
    callback: {
      type: Function as PropType<(data: Array<IReservation>) => void>,
      required: true,
    },
    paxesCount: {
      type: Number,
      required: true,
    },
    hasTicketProtection: {
      type: Boolean,
      required: true,
    },
    sumTips: {
      type: Number,
      required: true,
    },
    onDataEmitted: {
      type: Function,
      required: true,
    },
    initRating: {
      type: Number,
      required: false,
    },
    readonly: {
      type: Boolean,
      required: false,
    },
  },
  emits: ["rating-changed", "dataEmitted"],
  setup(props, context) {
    const store = useBookingStore();
    const reservations = ref<Array<IReservation>>([]);
    const route = useRoute();
    const pricePerOnePax = ref<any>(null);
    const reservationsDivided = ref<Array<Array<IReservation>> | undefined>([]);
    const flightType = ref<string>("");

    const divideReservations = (reservationArray: IReservation[]) => {
      const firstWayReservations: IReservation[] = [];
      const secondWayReservations: IReservation[] = [];
      let isNotDivided = true;

      for (const reservationObj of reservationArray) {
        if (isNotDivided) {
          firstWayReservations.push(reservationObj);
          isNotDivided = "layover_time" in reservationObj;
        } else {
          secondWayReservations.push(reservationObj);
        }
      }

      if (secondWayReservations.length === 0) {
        return [firstWayReservations];
      } else {
        return [firstWayReservations, secondWayReservations];
      }
    };

    const fetchData = async () => {
      const token = route.params.token as string;
      reservations.value = (await store.getReservationByToken(
        token
      )) as Array<IReservation>;
      props.callback(reservations.value);
      reservationsDivided.value = divideReservations(reservations.value);
      flightType.value =
        reservationsDivided.value?.length === 2
          ? "Round-Trip Flight"
          : "One-Way Flight";
      const currentPriceQuote = (await store.getPriceQuote(
        token
      )) as IPriceQuote;
      pricePerOnePax.value = currentPriceQuote.price;
    };

    const getCurrentPrice = computed(() => {
      return pricePerOnePax.value * props.paxesCount;
    });

    const getTicketsProtectionPrice = computed(() => {
      const percentage = (pricePerOnePax.value * 7) / 100; // 7% от цены билета
      const fixedValue = 50; // 50 $ с пассажира
      return Math.max(percentage, fixedValue) * props.paxesCount;
    });

    const getSumTips = computed(() => {
      return props.sumTips;
    });

    const getTotal = computed(() => {
      const currentPrice = getCurrentPrice.value;
      const ticketProtectionPrice = props.hasTicketProtection
        ? getTicketsProtectionPrice.value
        : 0;
      const sumTips = getSumTips.value;

      return currentPrice + ticketProtectionPrice + sumTips;
    });

    onMounted(fetchData);

    const rating = ref();

    watch(
      () => props.initRating,
      () => {
        if (props.initRating) {
          const initialRating = props.initRating;
          rating.value = initialRating;
        }
      }
    );

    function setRating(value: number) {
      rating.value = value;
      context.emit("rating-changed", rating.value);
    }

    function getRatingText() {
      switch (rating.value) {
        case 1:
          return "Bad";
        case 2:
          return "Normal";
        case 3:
          return "Good";
        case 4:
          return "Great";
        case 5:
          return "Perfect";
        default:
          return "Rate the";
      }
    }

    const ip = ref("");

    onMounted(() => {
      fetch("https://api.ipify.org?format=json")
        .then((response) => response.json())
        .then((data) => {
          ip.value = data.ip;
        })
        .catch((error) => {
          console.error("Failed to fetch IP address:", error);
        });
    });

    onMounted(() => {
      const data = getTotal.value;

      const instance = getCurrentInstance();

      if (instance) {
        const { emit } = instance;
        emit("dataEmitted", data);
      }
    });

    watch(
      () => getTotal.value,
      (newTotal) => {
        context.emit("dataEmitted", newTotal);
      },
      { deep: true }
    );

    return {
      setRating,
      rating,
      getRatingText,
      ip,
      getCurrentPrice,
      getTicketsProtectionPrice,
      getSumTips,
      getTotal,
      flightType,
      reservationsDivided,
      formatPrice,
    };
  },
});
</script>

<style lang="scss">
.timeline-time-short {
  min-width: 169px !important;
  width: 169px !important;
}

.img-airline-short-widget {
  max-width: 14rem;
  max-height: unset;
  padding-right: 2.5rem !important;

  @media (max-width: 992px) {
    padding-right: 0 !important;
  }

  @media (max-width: 768px) {
    max-width: 10rem;
  }
}

.timeline-label-none:before {
  display: none !important;
}

.block-widget .img-airline-short-block {
  display: block !important;
  right: 0 !important;
  padding-top: 1rem !important;
  top: 0;

  @media (max-width: 768px) {
    padding-right: 2.25rem !important;
  }
}

.rating-color {
  text-shadow: 0.5px 0.5px 0.5px rgb(124, 123, 123);
  font-size: 18px;
  color: #f5f8fa;
  cursor: pointer;
}

.rating-color-active {
  color: rgb(255, 212, 133) !important;
}

.rating-block {
  border-radius: 0.625rem;
}
.fs-25 {
  font-size: 25px;
}
</style>
