<template>
  <div class="mt-5">
    <div
      v-for="(item, index) in items"
      :key="index"
      class="accordion-item"
      :class="{ active: activeIndex === index }"
    >
      <div class="accordion-header" @click="toggleAccordion(index)">
        <h5>{{ item.title }}</h5>
        <button class="accordion-toggle" @click.stop="toggleAccordion(index)">
          <span v-if="activeIndex === index" class="svg-icon svg-icon-1 me-3">
            <inline-svg
              src="/media/icons/duotune/arrows/accordion-rotate.svg"
            />
          </span>
          <span v-else class="svg-icon svg-icon-1 me-3"
            ><inline-svg src="/media/icons/duotune/arrows/accordion.svg"
          /></span>
        </button>
      </div>
      <div class="accordion-body" v-show="activeIndex === index">
        <div v-html="item.content"></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { ref } from "vue";

export default {
  name: "terms_and_conitions",
  setup() {
    const activeIndex = ref(-1);
    const items = [
      {
        title: "DEFINITIONS",
        content: `
          <h6>The following definitions are used in these Terms and Conditions:</h6></br>
          <strong>«Airline bankruptcy»</strong> means a legal status of the airline that is unable to repay its debts as they fall due which has been confirmed by a court order. </br></br>
          <strong>«Family member»</strong> means direct relatives which include parents, children, spouse, brothers and sisters. </br></br>
          <strong>«Flight cancellation»</strong> or <strong>«cancellation»</strong> means an event, which occurs when the airline does not make the flight due to unforeseen circumstances or airline bankruptcy, confirmed in written form by the airline. </br></br>
          <strong>«Flight delay»</strong> or <strong>«delay»</strong> means an event, when a passenger reaches its final flight destination six hours later than its scheduled time due to unforeseen circumstances, confirmed in written form by the airline, and reported by the passenger to FlyLuxury by phone or email no later than 12 hours after delayed flight arrival time to the final destination airport.</br></br>
          <strong>«Hospitalisation»</strong> means the passenger’s condition of being hospitalized, confirmed by hospital admittance or discharge forms, which should include the dates (time period) when the passenger is prohibited to take the trip for hospitalization reasons.</br></br>
          <strong>«FlyLuxury»</strong> means Luxury Travel Services LLC. </br></br>
          <strong>«Mishandled baggage»</strong> or <strong>«baggage»</strong> or <strong>«bag»</strong> means the passenger’s baggage that was lost during the trip and undelivered/unreturned within more than 120 hours from the passenger’s flight arrival time.</br></br>
          <strong>«Passenger»</strong> means a person who purchased an airline ticket with FlyLuxury Travel, purchased the Travel Care Service and was affected by one of the following circumstances: sickness, hospitalization, mishandled baggage, flight delay, flight cancellation, unforeseen circumstances as described in the T&Cs.</br></br>
          <strong>«Reservation»</strong> means an arrangement the passenger makes to have a ticket for flight at a particular time in the future.</br></br>
          <strong>«Sickness»</strong> means the passenger’s state of being ill or pregnant, confirmed by a verifiable doctor’s note, where the doctor clearly states the dates (time period) when the passenger is prohibited to take the trip for medical reasons.</br></br>
          <strong>«T&Cs»</strong> means these Terms and Conditions. </br></br>
          <strong>«Ticket Protection plan»</strong> or <strong>«TP»</strong> means travel assistance services provided by FlyLuxury and available for the passengers for additional charge. </br></br>
          <strong>«Trip»</strong> means the process by which the airline carries the passenger in accordance with the conditions and within the timeframe, specified in the ticket purchased with FlyLuxury Travel.</br></br>
          <strong>«Unforeseen circumstances»</strong> means an extraordinary event or circumstance beyond the control of the airline, such as a war, strike, riot, crime, terrorist attack or an event described by the legal term as an Act of God (hurricane, flood, earthquake, volcanic eruption, etc.), political instability, pandemic, epidemic, lockdown, travel ban, quarantine, natural disaster, civil disorder or unrest, aircraft maintenance problems, security issues, airline glitches, fueling, high winds, hail, excessive precipitation, wildfires, thunderstorms, downbursts, waterspouts, tropical cyclones, and extratropical cyclones, blizzards (snowstorms), ice storms, and dust storms.
        `,
      },
      {
        title: "FLEXIBLE TICKETS FOR 24H",
        content: `
            FlyLuxury will provide free cancellation of the airline ticket, free rebooking of the airline ticket or free passenger name change on the airline ticket if the Passenger has requested the relevant changes within 24 hours from booking of the airline ticket and purchase of the Travel Care Service. FlyLuxury and airline fees waived. </br>
            Please note that you may be liable to pay the fare difference if the requested re-booking is more expensive than the original fare and airline fees.
          `,
      },
      {
        title: "FLIGHT CANCELLATION",
        content: `
          FlyLuxury will work with the airline on passenger's behalf to get a 100% fare compensation if there is a flight cancellation due to unforeseen circumstances or airline bankruptcy. The passenger must request the service as soon as the flight cancellation is confirmed in written form by the airline, but not later than 24 hours after cancellation. Requests received beyond this period of time will not be serviced. For obtaining compensation, please submit written documentation from your airline confirming flight cancellation. </br>
          If FlyLuxury fails for any reason to get compensation from the airline for the passenger for flight cancellation due to unforeseen circumstances or airline bankruptcy within 2 weeks, FlyLuxury will pay to the passenger the amount of unreceived compensation as special damages.
        `,
      },
      {
        title: "FLIGHT DELAY",
        content: `
          FlyLuxury will work with the airline on passenger's behalf to get a $ 300 compensation if a flight is delayed for more than 6 hours due to unforeseen circumstances. The passenger must request the service as soon as a 6 hours delay is confirmed in written form by the airline, but not later than 12 hours after delayed flight arrival time to the final destination airport. Requests received beyond this period of time will not be serviced. For obtaining compensation, please submit written documentation from your airline confirming the passenger's delayed flight and its delay duration. To get compensation, you must have checked in at the first departure airport two hours minimum before the scheduled time flight. </br>
          If FlyLuxury fails for any reason to get compensation from the airline for the passenger for flight delay within 2 weeks, FlyLuxury will pay to the passenger the amount of unreceived compensation as special damages.
        `,
      },
      {
        title: "MISSED FLIGHT DUE TO UNFORESEEN CIRCUMSTANCES",
        content: `
          FlyLuxury will work with the airline on passenger's behalf to get free ticket exchange if the passenger misses the trip departure as a result of unforeseen circumstances. If FlyLuxury fails for any reason to procure free ticket exchange from the airline within 2 days, FlyLuxury will exchange the ticket free of any airline fees (as special damages of the passenger) provided seats are available in the same booking code. FlyLuxury exchange fees waived in any case.
        `,
      },
      {
        title: "HOSPITALIZATION",
        content: `
          FlyLuxury will work with the airline on passenger's behalf to get 100% refund of fully unused tickets for passenger (i) hospitalized who, as a consequence of hospitalization, is unable to take the trip; (ii) whose Family member has died, and, as a consequence, such passenger is unable to take the trip; or (iii) whose travel companion on the reservation booked with FlyLuxury has died, and, as a consequence, such passenger is unable to take the trip. The passenger must provide his/her hospital admittance, discharge forms or the relevant death certificate to FlyLuxury and cancel the reservation before the scheduled departure. If FlyLuxury fails for any reason to get compensation from the airline for the passenger for flight cancellation due to the said events within 2 weeks, FlyLuxury will pay to the passenger the amount of unreceived compensation as special damages.
          Exchanges of partially used tickets: FlyLuxury will work with the airline on passenger's behalf to exchange free of charge partially used tickets for passenger (i) hospitalized who, as a consequence of hospitalization, is unable to take the trip; (ii) whose Family member has died, and, as a consequence, such passenger is unable to take the trip; or (iii) whose travel companion on the reservation booked with FlyLuxury has died, and, as a consequence, such passenger is unable to take the trip. The passenger must provide his/her hospital admittance, discharge papers or the relevant death certificate to FlyLuxury and cancel the reservation before the scheduled return. If FlyLuxury fails for any reason to get free exchange from the airline within 2 days, FlyLuxury will exchange the ticket free of any airline fees (as special damages of the passenger).
        `,
      },
      {
        title: "SICKNESS",
        content: `
          FlyLuxury will work with the airline on passenger's behalf to get a 50% refund of a fully unused ticket for passengers unable to take his/her trip due to sickness. The passenger must provide a doctor's note to FlyLuxury and cancel the reservation before the scheduled departure. If FlyLuxury fails for any reason to get compensation from the airline for the passenger for flight cancellation due to sickness within 2 weeks, FlyLuxury will pay to the passenger the amount of unreceived compensation as special damages.
        `,
      },
      {
        title: "PRICE DROP ASSURANCE",
        content: `
          By purchasing a Price Drop Assurance service with us you authorize FlyLuxury to look for available savings on airline ticket(s) booked with us. Upon locating such savings we will reissue your ticket with a new discounted price and provide you a voucher for the difference. </br>
          We will search your exact itinerary (travel dates, airports, passengers, airlines & flights) for 24 hours after you book your ticket(s) with FlyLuxury to look for opportunities of additional savings. If we identify an opportunity to realize additional savings, you authorize us to rebook your ticket(s) for the same exact itinerary that you already purchased. The difference will be returned to you in the form of a voucher that you can use for future deals with FlyLuxury. </br>
          The Price Drop Assurance is not a guarantee of savings. If we are unable to find meaningful additional savings on your exact itinerary (typically $ 30 or more), your original tickets will remain in place and we will be unable to offer you any additional value. Price Drop Assurance is not available for all itineraries or all airlines, but will only be offered when available. </br>
          When we reissue your ticket(s) as part of the Price Drop Assurance, we will send you a new confirmation email with a new ticket number(s) for the new ticket(s) that we have issued to you. We strongly recommend that if you sign up for the Price Drop Assurance service, you do not purchase any ancillary services, such as seats or prepaid bags, directly from the airline until after the 24-hour search period has ended. If you have purchased any ancillary services, such as seats or prepaid bags, directly from the airline in the interim, you will need to call the airline and request that they associate those items with your new ticket number(s), rather than your original one(s). Airline rules may restrict the transferability of ancillary services to new tickets or specify that such items are non-refundable; therefore, we cannot guarantee that these requests will be honored. </br>
          Please be aware that the original fare may be eligible for a full refund if requested within 24-hours of booking. Other fares may be refundable pursuant to the original fare rules. By purchasing the Price Drop Assurance with us, you understand that once we have commenced the rebooking process (which may occur any time within the 24-hour period from booking), you waive your right to a refund (if eligible) on the original ticket and elect to apply any refund to the purchase of the rebooked ticket. The rebooked ticket(s) will be eligible for a refund to the same extent as the original ticket(s), and will be subject to the airline’s rules and restrictions, as well as these FlyLuxury 's Rules & Conditions.
        `,
      },
      {
        title: "WAIVER OF FLYLUXURY FEES",
        content: `
        FlyLuxury processing fees waived for all passengers unable to take their trip for any reason. The passenger must cancel the reservation before the scheduled departure. Airline penalties and fare differences might apply. The fees are waived for the first change of the protected reservation only.
        `,
      },
      {
        title: "MISHANDLED BAGGAGE",
        content: `
          FlyLuxury works with the airline on passenger's behalf to locate and return the mishandled checked bags. Conditions of service under the TC: </br>
          Service covers only baggage checked in at the airport. Carry-on bags are not covered. Each service is per person and per airline confirmation number, regardless of the number of stopovers and connections associated with that airline confirmation number. </br>
          Service does not cover tickets bought separately under different airline confirmation numbers. </br>
          You must file a claim with the airline before reporting your mishandled bag to FlyLuxury. </br>
          Mishandled bags must be reported to FlyLuxury within 24 hours of the arrival time of the flight on which the bag was lost, by calling or emailing FlyLuxury Travel Assistance. FlyLuxury will not provide the service for the bags reported missing after the deadline of 24 hours. </br>
          If the undelivered bag is not returned to you within 120 hours of your flight arrival time, will pay to the passenger $ 1000 as special damages for each undelivered bag. </br>
          Payments of special damages are limited to 2 undelivered bags per person. </br>
          Payments of special damages will be made regardless of the return of your baggage after 120 hours. </br>
          Special damages are limited to $ 1000 and apply only to undelivered baggage mishandled by the airline. </br>
          If a wrong bag is delivered to you, you will need to provide proof of the delivery receipt to show that the wrong bag has been delivered. In this event, FlyLuxury will have another 72 hours to locate the correct bag, either from the initial delivery time or from the time you report the incorrect delivery to FlyLuxury. </br>
          If you provide the wrong information when filing a mishandled baggage report, you will receive an email asking you to correct that information. If you do not reply to that email within 12 hours, FlyLuxury will not provide the service. </br>
          If you did not provide a delivery address to the airline when filing a lost baggage claim with them, FlyLuxury will close the case once the bag arrives at the designated airport.
        `,
      },
      {
        title: "FREE VOUCHER UP TO $ 150",
        content: `
        If a protected trip was completed by the passenger as scheduled, and no services were claimed on the TC, each passenger for whom the TC was purchased is entitled to one free voucher from FlyLuxury in the amount of 50% from the Travel Care service price or up to $ 150, valid for one year after completion of such trip. The voucher is transferable and may be used by any third party. Only one voucher may be used to purchase a ticket.
        `,
      },
      {
        title: "OTHER TERMS",
        content: `
          Upon the purchase of Travel Care Service All included FlyLuxury will waive all processing fees for exchanges, will cover airline penalties for exchange, and up to $ 100 from fare difference. </br>
          Any service available under the TC is personal to the passenger and does not apply to his/her companions unless such companions have also purchased a ticket and TP with FlyLuxury. </br>
          If the Passenger is entitled for more than one type of compensation, refund or exchange under the TP he/she will be granted only one type of compensation, refund or exchange, which will have the highest value. </br>
          FlyLuxury will not service requests under the TC for any circumstances, which are not covered by the T&Cs. </br>
          FlyLuxury may offer services covered by the Travel Care Service in different plans that include all or part of such services only. The price of different plans offered under the Travel Care Service varies depending on the number of services included into a particular plan. </br>
          Any request for service under the TP, with the exception of a Free Voucher, shall be submitted to FlyLuxury Customer Travel Care.
        `,
      },
    ];

    function toggleAccordion(index: number) {
      activeIndex.value = activeIndex.value === index ? -1 : index;
    }

    return {
      activeIndex,
      items,
      toggleAccordion,
    };
  },
};
</script>

<style lang="scss">
.accordion-item {
  margin-bottom: 1rem;
}

.accordion-header {
  cursor: pointer;
  padding: 1rem;
  border: 1px solid #dee2e6;
  position: relative;
  border-radius: 0.625rem;
}

.accordion-toggle {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  border: none;
  background-color: #fff;
}

.accordion-body {
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease;
  border-radius: 0 0 0.625rem 0.625rem;
  border-top: none;
}

.active .accordion-header {
  background-color: #fff;
  border-radius: 0.625rem 0.625rem 0 0;
}

.active .accordion-body {
  max-height: unset !important;
  height: fit-content;
  transition: max-height 0.3s ease;
}
</style>
