<template>
  <div class="card card-flush pt-3 mb-3">
    <div class="card-header">
      <div class="card-title col-12 d-block">
        <span class="recommended-block">
          <small class="text-white">Recommended</small>
        </span>

        <h2 class="fw-bold">Ticket Protection</h2>
        <h4 class="mt-3 text-muted">Reasons you might need it:</h4>

        <div
          class="d-flex align-items-start justify-content-between mt-10 mb-4 flex-wrap"
        >
          <div class="d-block w-100 w-md-50">
            <div class="d-flex align-items-start mb-5">
              <span class="svg-icon svg-icon-1 me-3">
                <inline-svg src="/media/icons/duotune/arrows/vector.svg" />
              </span>
              <div>
                <p class="ticketProtection mb-0">
                  Upgrade to a higher-level ticket category
                </p>
                <small>Obtain a ticket with flexible fare options</small>
              </div>
            </div>

            <div class="d-flex align-items-start mb-5">
              <span class="svg-icon svg-icon-1 me-3">
                <inline-svg src="/media/icons/duotune/arrows/vector.svg" />
              </span>
              <div>
                <p class="ticketProtection mb-0">
                  Experienced lost or mishandled baggage
                </p>
                <small>
                  We guarantee to retrieve your baggage or compensate you with
                  $1000.00 per bag!
                </small>
              </div>
            </div>

            <div class="d-flex align-items-start">
              <span class="svg-icon svg-icon-1 me-3">
                <inline-svg src="/media/icons/duotune/arrows/vector.svg" />
              </span>
              <p>Priority access to our VIP concierge desk 24/7</p>
            </div>

            <ul class="ms-5 ticket-protection-ul">
              <li>
                <small class="text-muted">Instant assistance</small>
              </li>
              <li>
                <small class="text-muted">Lounge access advice</small>
              </li>
              <li>
                <small class="text-muted">Meet and Greet Service</small>
              </li>
            </ul>
          </div>

          <div class="d-block w-100 w-md-50">
            <div class="d-flex align-items-start mb-5">
              <span class="svg-icon svg-icon-1 me-3">
                <inline-svg src="/media/icons/duotune/arrows/vector.svg" />
              </span>
              <div>
                <p class="ticketProtection mb-0">
                  Feeling unwell and unable to travel?
                </p>
                <small>You're protected: 100% refund or travel credit.</small>
              </div>
            </div>

            <div class="d-flex align-items-start mb-5">
              <span class="svg-icon svg-icon-1 me-3">
                <inline-svg src="/media/icons/duotune/arrows/vector.svg" />
              </span>
              <div>
                <p class="ticketProtection mb-0">
                  Encountered a missed connection, flight delay, or flight
                  cancellation?
                </p>
                <small
                  >We guarantee a full refund or travel credit for flight
                  disruptions</small
                >
              </div>
            </div>

            <div class="d-flex align-items-start">
              <span class="svg-icon svg-icon-1 me-3">
                <inline-svg src="/media/icons/duotune/arrows/vector.svg" />
              </span>
              <p>Extra Benefits:</p>
            </div>

            <ul class="ms-5 ticket-protection-ul">
              <li>
                <small class="text-muted">Seat and Meal assignments</small>
              </li>
              <li>
                <small class="text-muted"
                  >Stopover Paid by Carrier guidance</small
                >
              </li>
              <li>
                <small class="text-muted"
                  >Pet travel consultancy and more</small
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-flush pt-3 mb-3">
    <div class="card-header">
      <div class="card-title col-12 d-block">
        <div class="d-flex align-items-center">
          <input
            class="form-check-input flex-shrink-0"
            type="radio"
            :value="true"
            name="theme_mode"
            v-model="isChecked"
            :disabled="$props.readonly"
          />
          <span class="d-block ms-4 mt-4">
            <h4 class="text-success">
              Yes, I would like to add Ticket Protection to my purchase for ${{
                formatPrice(getTicketsProtectionPrice)
              }}
            </h4>
            <p>
              <small class="text-muted"
                >%7 of ticket price. Travel with confidence knowing we got your
                back. Recommended.</small
              >
            </p>
          </span>
        </div>

        <div class="d-flex align-items-center mb-4">
          <input
            class="form-check-input flex-shrink-0"
            type="radio"
            :value="false"
            name="theme_mode"
            v-model="isChecked"
            :disabled="$props.readonly"
          />
          <span class="d-block ms-4 mt-4">
            <h4 class="text-muted">No, I'm willing to risk my flight</h4>
            <p>
              <small class="text-muted"
                >I understand by declining this coverage that I may be
                responsible for cancellation fees and delay expenses</small
              >
            </p>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="card card-flush pt-3 mb-5 mb-xl-10">
    <div class="card-header">
      <div class="card-title col-12 d-block">
        <h5 class="mb-3 mt-4">
          Shown prices are average per passenger.
          <a
            href="https://flyluxury.com/terms"
            target="_blank"
            class="extra-link"
            >Terms and Conditions</a
          >
          apply. Full description of Ticket Protection Plan you can find here.
          Your card will be charged for the chosen service.
        </h5>
        <h6 class="text-muted mb-10">
          Ticket Protection - is not an insurance policy. Travel insurance is
          available with an insurance company per passenger’s request against
          payment
        </h6>
      </div>
    </div>
  </div>

  <div
    class="modal fade"
    id="kt_modal_ticket_protection"
    tabindex="-1"
    aria-hidden="true"
    v-if="showModalTerms"
  >
    <div class="modal-dialog modal-dialog-centered mw-650px">
      <!--begin::Modal content-->
      <div class="modal-content">
        <!--begin::Modal header-->
        <div
          class="modal-header d-block"
          id="kt_modal_ticket_protection_header"
        >
          <!--begin::Modal title-->
          <div class="d-flex align-items-center justify-content-between">
            <h2 class="fw-bold">Terms and conditions</h2>

            <div
              id="kt_modal_add_client_close"
              data-bs-dismiss="modal"
              class="btn btn-icon btn-sm btn-active-icon-primary"
            >
              <span class="svg-icon svg-icon-1">
                <inline-svg src="/media/icons/duotune/arrows/arr061.svg" />
              </span>
            </div>
          </div>

          <TermsAndConditions></TermsAndConditions>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref, watch } from "vue";
import { Modal } from "bootstrap";
import TermsAndConditions from "@/components/booking-page/TermsAndConditions.vue";
import { formatPrice } from "@/core/helpers/formatPrice";
import type { IPriceQuote } from "@/core/types/bookingTypes";
import { useBookingStore } from "@/stores/booking";
import { useRoute } from "vue-router";

export default defineComponent({
  name: "ticket-protection",
  components: {
    TermsAndConditions,
  },
  props: ["initialValue", "paxesCount", "readonly"],
  emits: ["update:checked"],
  setup(props, { emit }) {
    const isChecked = ref(props.initialValue);

    watch(
      () => props.initialValue,
      () => {
        isChecked.value = props.initialValue;
      }
    );

    watch(isChecked, (newValue) => {
      emit("update:checked", newValue);
    });

    const showModalTerms = ref(false);

    const openModal = () => {
      showModalTerms.value = true;
      setTimeout(() => {
        const modal = new Modal(
          document.getElementById("kt_modal_ticket_protection") as Element
        );
        modal.show();
      });
    };

    const openModalTerms = () => {
      openModal();
    };

    const store = useBookingStore();

    const route = useRoute();

    const pricePerOnePax = ref(0);

    const fetchData = async () => {
      const token = route.params.token as string;
      const currentPriceQuote = (await store.getPriceQuote(
        token
      )) as IPriceQuote;
      pricePerOnePax.value = currentPriceQuote.price;
    };

    const getTicketsProtectionPrice = computed(() => {
      const percentage = (pricePerOnePax.value * 7) / 100; // 7% от цены билета
      const fixedValue = 50; // 50 $ с пассажира
      return Math.max(percentage, fixedValue) * props.paxesCount;
    });

    onMounted(fetchData);

    return {
      openModalTerms,
      showModalTerms,
      openModal,
      isChecked,
      formatPrice,
      getTicketsProtectionPrice,
    };
  },
});
</script>

<style lang="scss">
.recommended-block {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #335b4e;
  width: 120px;
  height: 26px;
  border-radius: 0.625rem 0.625rem 0.625rem 0;
  margin-bottom: 0.5rem;
}

.extra-link {
  color: #c39673;
}
</style>
