<template>
  <div class="card card-flush pt-3 mb-5 mb-xl-10 booking-page">
    <div class="card-header d-flex justify-content-between align-items-center">
      <div class="card-title col-12 d-block">
        <h2 class="fw-bold">Tips</h2>
      </div>
    </div>

    <div class="card-header row mb-5 d-flex align-items-start">
      <div class="card-title col-12 col-md-6 d-block">
        <div class="d-flex align-items-start justify-content-start">
          <div>
            <inline-svg
              class="person-svg"
              src="/media/icons/duotune/communication/com006.svg"
            />
          </div>

          <div class="d-block">
            <h5 class="mb-0 mt-0 ms-4">Did I meet your expectations?</h5>
            <p class="fw-normal fs-6 ms-4 pt-2 mb-5">
              If you feel that the service provided was exceptional, you can
              express your gratitude (optional)
            </p>
          </div>
        </div>
      </div>

      <div class="card-title col-12 col-md-5 d-block block-range">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-block w-25">
            <h6 class="mb-0 mt-0 text-center">Good</h6>
            <h6 class="fw-normal mb-0 mt-0 text-center">25$</h6>
          </div>
          <div class="d-block w-25">
            <h6 class="mb-0 mt-0 text-center">Great</h6>
            <h6 class="fw-normal mb-0 mt-0 text-center">50$</h6>
          </div>
          <div class="d-block w-25">
            <h6 class="mb-0 mt-0 text-center">Excellent</h6>
            <h6 class="fw-normal mb-0 mt-0 text-center">75$</h6>
          </div>
          <div class="d-block w-25">
            <h6 class="mb-0 mt-0 text-center">Perfect</h6>
            <h6 class="fw-normal mb-0 mt-0 text-center">100$</h6>
          </div>
        </div>
        <div class="mt-2">
          <input
            class="tip-scale__range"
            type="range"
            v-model.number="tipAmount"
            min="25"
            max="100"
            step="1"
            :rules="rules"
            name="tips"
            :style="getRangeColor"
            @change="emitTipAmount"
            :disabled="$props.readonly"
          />
        </div>
        <div>
          <h4 class="mb-4 mt-6 ms-4 text-center">How was my service?</h4>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div
          class="card-title w-100 d-flex align-items-center justify-content-between m-0"
        >
          <p class="fw-normal fs-4 mb-0 me-5">Think I did better?</p>
          <input
            class="tip-scale__value"
            type="number"
            v-model.number="tipAmount"
            @change="emitTipAmount"
            min="0"
            :readonly="$props.readonly"
          />
        </div>
      </div>

      <div
        class="card-title col-12 d-flex align-items-start justify-content-start mt-5"
      >
        <label
          class="form-check form-switch form-switch-additional-services form-check-custom form-check-solid"
        >
          <input
            v-if="$props.readonly"
            type="checkbox"
            v-model="isChecked"
            :true-value="true"
            :false-value="false"
            :rules="rules"
            name="checkbox"
            id="tipsCheckbox"
            onclick="return false"
          />
          <input
            v-else
            type="checkbox"
            v-model="isChecked"
            :true-value="true"
            :false-value="false"
            :rules="rules"
            name="checkbox"
            id="tipsCheckbox"
          />
        </label>
        <label for="tipsCheckbox">
          <div class="d-block">
            <h6 class="fw-normal mb-0 mt-0 ms-4 lh-base">
              <strong>I agree</strong>, that this amount will be charged in
              addition to the cost of the airline ticket(s)
            </h6>
            <p class="fw-normal fs-6 ms-4 text-danger pt-2" v-if="!isChecked">
              Please check this box if you agree, that this amount will be
              charged in addition to the cost of the airline ticket(s). If you
              do not agree, please set the amount to zero.
            </p>
          </div>
        </label>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watch } from "vue";
import { Modal } from "bootstrap";

export default defineComponent({
  name: "tips-component",
  props: ["initialValue", "initSum", "readonly"],
  methods: {
    emitTipAmount() {
      this.tipAmount = this.tipAmount < 0 ? 0 : this.tipAmount;
      this.$emit("tip-amount-changed", this.tipAmount);
    },
  },
  emits: ["update:checked", "tip-amount-changed"],
  setup(props, { emit }) {
    const formRef = ref<null | HTMLFormElement>(null);
    const loading = ref<boolean>(false);

    const isChecked = ref(props.initialValue);

    watch(isChecked, (newValue) => {
      emit("update:checked", newValue);
    });

    const showModalTerms = ref(false);

    const openModal = () => {
      showModalTerms.value = true;
      setTimeout(() => {
        const modal = new Modal(
          document.getElementById("kt_modal_ticket_protection") as Element
        );
        modal.show();
      });
    };

    const openModalTerms = () => {
      openModal();
    };

    const tipAmount = ref<number>(25);
    const tipAmountMax = 100;

    watch(
      () => props.initSum,
      () => {
        const initialSum = props.initSum as number;
        tipAmount.value = initialSum;
      }
    );

    const getRangeColor = computed(() => {
      const percentFilled =
        ((tipAmount.value - 25) / (tipAmountMax - 25)) * 100;

      if (percentFilled >= 0 && percentFilled <= 100) {
        return {
          background: `linear-gradient(to right, #C39673 ${percentFilled}%, #f5f8fa ${percentFilled}%)`,
        };
      } else if (percentFilled > 100) {
        return { background: "#C39673" };
      } else {
        return { background: "#f5f8fa" };
      }
    });

    const rules = ref({
      tips: [
        {
          required: true,
          message: "Please input tips value",
          trigger: "blur",
        },
      ],
    });

    return {
      rules,
      loading,
      formRef,
      isChecked,
      openModalTerms,
      showModalTerms,
      openModal,
      tipAmount,
      getRangeColor,
    };
  },
});
</script>

<style lang="scss">
.tip-scale {
  display: flex;
  align-items: center;
}

.tip-scale__range {
  flex: 1;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 80%;
  height: 8px;
  background-color: #f5f8fa;
  border-radius: 4px;
  outline: none;
  margin-right: 10%;
  margin-left: 10%;
}

.tip-scale__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #335b4e;
  border-radius: 50%;
  cursor: pointer;
}

.tip-scale__value {
  width: 80px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 0.625rem;
  background: #f5f8fa;
  padding: 4px;
}

.person-svg {
  width: 60px;
  height: 60px;
}

.block-range {
  border-radius: 0.625rem;
}
#tipsCheckbox:checked {
  accent-color: #c39673;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
