<template>
  <div class="card">
    <div class="card-header border-0 pt-6">
      <!--begin::Card title-->
      <div class="card-title">
        <button
          type="button"
          class="btn btn-sm me-3"
          :class="{ 'btn-dark': status === 0 }"
          v-can="'show unassigned'"
          @click="status = 0"
        >
          Unassigned
        </button>
        <button
          type="button"
          class="btn btn-sm me-3"
          :class="{ 'btn-primary': status === 1 }"
          @click="status = 1"
        >
          PQ not send
        </button>
        <button
          type="button"
          class="btn btn-sm me-3"
          :class="{ 'btn-warning': status === 2 }"
          @click="status = 2"
        >
          PQ send
        </button>
        <button
          type="button"
          class="btn btn-sm me-3"
          :class="{ 'btn-success': status === 3 }"
          @click="status = 3"
        >
          PQ sold
        </button>
        <button
          type="button"
          class="btn btn-sm me-3"
          :class="{ 'btn-success': status === 4 }"
          @click="status = 4"
        >
          PQ sold and closed
        </button>
      </div>
      <!--begin::Card title-->

      <!--begin::Card toolbar-->
      <div class="card-toolbar">
        <!--begin::Toolbar-->
        <div
          class="d-flex justify-content-end"
          data-kt-customer-table-toolbar="base"
        >
          <LeadsFilter @filter-change="onFilterChange" />

          <!--begin::Take a lead-->
          <button
            type="button"
            class="btn btn-light-success me-3 text-white"
            @click="takeLead"
            :disabled="store.numUnassignedLeads === 0"
          >
            Take a Lead
            <div class="badge badge-primary">
              {{ store.numUnassignedLeads }}
            </div>
          </button>
          <!--end::Take a lead-->

          <!--begin::Add lead-->
          <router-link to="/leads/create" class="btn btn-success">
            <span class="svg-icon svg-icon-2">
              <inline-svg src="/media/icons/duotune/arrows/arr075.svg" />
            </span>
            Add Lead
          </router-link>
          <!--end::Add lead-->
        </div>
        <!--end::Toolbar-->
      </div>
      <!--end::Card toolbar-->
    </div>
    <div class="card-body pt-0">
      <Datatable
        :data="store.leads"
        :header="tableHeader"
        :loading="loading"
        :total="store.meta?.total"
        :items-per-page-dropdown-enabled="false"
        @page-change="onPageChange"
        :items-per-page="15"
      >
        <template v-slot:number="{ row: lead }">
          <router-link
            :to="{
              name: 'leads-view',
              params: { number: lead.number },
            }"
            class="menu-link"
          >
            {{ lead.number }}
          </router-link>
        </template>
        <template v-slot:created_at="{ row: lead }">
          {{ lead.created_at }}
        </template>
        <template v-slot:agent="{ row: lead }">
          {{ lead.agent }}
        </template>
        <template v-slot:client="{ row: lead }">
          <router-link
            :to="{
              name: 'leads-view',
              params: { number: lead.number },
            }"
            class="menu-link px-3"
          >
            {{ lead.client }}
          </router-link>
        </template>
        <template v-slot:request_details="{ row: lead }">
          {{ lead.request_details_text }}
        </template>
        <template v-slot:status="{ row: lead }">
          <div :class="`badge badge-light-${lead.status_color}`">
            {{ lead.status }}
          </div>
        </template>
      </Datatable>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted, watch } from "vue";
import Datatable from "@/components/kt-datatable/KTDataTable.vue";
import LeadsFilter from "@/components/leads/LeadsFilter.vue";
import { useLeadStore } from "@/stores/leads";
import type { ILead } from "@/core/types/leadTypes";

export default defineComponent({
  name: "users-list",
  components: {
    Datatable,
    LeadsFilter,
  },
  setup() {
    const tableHeader = ref([
      {
        columnName: "ID",
        columnLabel: "number",
      },
      {
        columnName: "Created at",
        columnLabel: "created_at",
      },
      {
        columnName: "Agent",
        columnLabel: "agent",
      },
      {
        columnName: "Client",
        columnLabel: "client",
      },
      {
        columnName: "Request Details",
        columnLabel: "request_details",
      },
      {
        columnName: "Status",
        columnLabel: "status",
      },
    ]);

    const items = ref<Array<ILead>>([]);

    const loading = ref(false);

    const store = useLeadStore();

    const status = ref<number>(1);

    const page = ref<number>(1);

    const filters = ref<any>({});

    const fetchLeads = async () => {
      loading.value = true;
      const params = {
        page: page.value,
        status: status.value,
        ...filters.value,
      };
      await store.getLeads(params);
      loading.value = false;
    };

    const takeLead = async () => {
      loading.value = true;
      await store.takeLead();
      const params = { page: 1, status: status.value };
      await store.getLeads(params);
      store.getUnassignedLeads();
      loading.value = false;
    };

    onMounted(() => {
      fetchLeads();
      store.getUnassignedLeads();
    });

    const onPageChange = (selPage: number) => {
      page.value = selPage;
      fetchLeads();
    };

    const onFilterChange = (selFilters: any) => {
      filters.value = selFilters;
      fetchLeads();
    };

    watch(
      () => status.value,
      () => fetchLeads()
    );

    return {
      tableHeader,
      loading,
      items,
      store,
      onPageChange,
      status,
      takeLead,
      onFilterChange,
    };
  },
});
</script>
