<template>
  <!--begin::Layout-->
  <div class="d-flex flex-column flex-xl-row">
    <!--begin::Sidebar-->
    <div
      class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10"
      v-if="lead"
    >
      <!--begin::Card-->
      <div class="card mb-5 mb-xl-8">
        <!--begin::Card body-->
        <div class="card-body pt-15">
          <!--begin::Summary-->
          <div class="d-flex flex-center flex-column mb-5">
            <!--begin::Name-->
            <span class="fs-3 text-gray-800 fw-bold mb-1">
              {{ lead.client.name }} {{ lead.client.surname }}
            </span>
            <!--end::Name-->

            <!--begin::Position-->
            <div class="fs-5 fw-semobold text-muted">
              {{ lead.client.email }}
            </div>
            <!--end::Position-->
            <!--begin::Position-->
            <div class="fs-5 fw-semobold text-muted mb-6">
              {{ lead.client.phone }}
            </div>

            <span
              v-if="count > 1"
              data-bs-toggle="tooltip"
              data-bs-trigger="hover"
              title="Edit lead details"
            >
              <router-link
                :to="{
                  name: 'leads-client-requests',
                  query: { clientId, agentName },
                }"
                class="btn btn-sm btn-light-primary"
              >
                Clients Requests ({{ count }})
              </router-link>
            </span>
            <!--end::Position-->
          </div>
          <!--end::Summary-->

          <!--begin::Details toggle-->
          <div class="d-flex flex-stack fs-4 py-3">
            <div
              class="fw-bold rotate collapsible"
              data-bs-toggle="collapse"
              href="#kt_customer_view_details"
              role="button"
              aria-expanded="false"
              aria-controls="kt_customer_view_details"
            >
              Details
              <span class="ms-2 rotate-180">
                <span class="svg-icon svg-icon-3">
                  <inline-svg src="/media/icons/duotune/arrows/arr072.svg" />
                </span>
              </span>
            </div>

            <span
              data-bs-toggle="tooltip"
              data-bs-trigger="hover"
              title="Edit lead details"
            >
              <router-link
                :to="{ name: 'leads-edit', params: { number: lead.number } }"
                class="btn btn-sm btn-light-primary"
              >
                Edit
              </router-link>
            </span>
          </div>
          <!--end::Details toggle-->

          <div class="separator separator-dashed my-3"></div>

          <!--begin::Details content-->
          <div id="kt_customer_view_details" class="collapse show">
            <div class="py-5 fs-6">
              <!--begin::Badge-->
              <div :class="`badge badge-light-${lead.status_color}`">
                {{ lead.status }}
              </div>
              <!--begin::Badge-->
              <!--begin::Details item-->

              <div class="fw-bold mt-5">Request Details</div>
              <span class="request-details">
                <div v-if="lead.request_details_text">
                  <div v-if="lead.request_details">
                    <span
                      class="text-gray-600 request-details-item"
                      v-for="(item, index) in lead.request_details"
                      :key="index"
                    >
                      <span v-if="index === 0">
                        {{ item.airport_from_code }}
                      </span>
                      <span
                        v-else-if="
                          item.airport_from_code !==
                          lead.request_details[index - 1]?.airport_to_code
                        "
                      >
                        / {{ item.airport_from_code }}
                      </span>
                      <span> - {{ item.airport_to_code }}</span>
                    </span>

                    <br />

                    <span
                      class="text-gray-600 request-details-item"
                      v-for="(item, index) in lead.request_details"
                      :key="index"
                    >
                      <span>
                        {{ truncate(item.date) }}
                        <span
                          v-if="
                            index !== (lead.request_details?.length ?? 0) - 1
                          "
                        >
                          -
                        </span>
                      </span>
                    </span>

                    <br />

                    <span
                      class="text-gray-600 request-details-item"
                      v-for="(item, index) in lead.request_details"
                      :key="index"
                    >
                      <span
                        v-if="
                          (item.adults !== undefined ? item.adults : 0) &&
                          index === 0
                        "
                      >
                        (Ax{{ item.adults }})
                      </span>

                      <span
                        v-if="
                          (item.children !== undefined ? item.children : 0) &&
                          index === 0
                        "
                      >
                        (Cx{{ item.children }})
                      </span>

                      <span
                        v-if="
                          (item.infants !== undefined ? item.infants : 0) &&
                          index === 0
                        "
                      >
                        (Ix{{ item.infants }})
                      </span>
                    </span>

                    <br />

                    <span
                      class="text-gray-600 request-details-item"
                      v-for="(item, index) in lead.request_details"
                      :key="index"
                    >
                      <span v-if="index === 0">
                        {{
                          getCabinClassName(
                            item.cabin_class !== undefined
                              ? item.cabin_class
                              : 0
                          )
                        }}
                      </span>
                    </span>
                  </div>
                </div>
              </span>
              <!--begin::Details item-->
              <div class="fw-bold mt-5">Lead ID</div>
              <div class="text-gray-600">{{ lead.number }}</div>
              <!--begin::Details item-->
              <div class="fw-bold mt-5">Created at</div>
              <div class="text-gray-600">{{ lead.created_at }}</div>
              <!--begin::Details item-->
              <div class="fw-bold mt-5">Agent</div>
              <div class="text-gray-600">{{ lead.agent?.name }}</div>
              <!--begin::Details item-->
              <div class="fw-bold mt-5">Client type</div>
              <div class="text-gray-600">{{ lead.client_type }}</div>
              <!--begin::Details item-->
              <div v-if="lead.comments" class="fw-bold mt-5">Comments</div>
              <div v-if="lead.comments" class="text-gray-600">
                {{ lead.comments }}
              </div>
            </div>
          </div>
          <!--end::Details content-->
        </div>
        <!--end::Card body-->
      </div>
      <!--end::Card-->
    </div>
    <!--end::Sidebar-->

    <!--begin::Content-->
    <div class="flex-lg-row-fluid ms-lg-15" v-if="lead">
      <!--begin:::Tab content-->
      <div class="tab-content" id="myTabContent" v-if="lead">
        <!--begin:::Tab pane-->
        <div
          class="tab-pane fade show active"
          id="kt_price_quotes_tab"
          role="tabpanel"
        >
          <PriceQuotes
            card-classes="mb-6 mb-xl-9"
            :lead-id="lead.id"
            @on-sent="onPriceQuoteSent"
            :lead-number="lead?.number"
            :clientData="lead.client"
          ></PriceQuotes>
        </div>
        <!--end:::Tab pane-->

        <!--begin:::Tab pane-->
        <div
          class="tab-pane fade show"
          id="kt_additional_info_tab"
          role="tabpanel"
        ></div>
        <!--end:::Tab pane-->
      </div>
      <!--end:::Tab content-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Layout-->
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, watchEffect } from "vue";
import { useRoute } from "vue-router";
import { useLeadStore } from "@/stores/leads";
import type { ILeadDetailsFull } from "@/core/types/leadTypes";
import PriceQuotes from "@/components/leads/price-quotes/PriceQuotes.vue";

export default defineComponent({
  name: "lead-view",
  components: {
    PriceQuotes,
  },
  setup() {
    const route = useRoute();
    const store = useLeadStore();

    const lead = ref<ILeadDetailsFull>();

    onMounted(async () => {
      const number = route.params.number as string;
      lead.value = await store.getLeadByNumber(number);
    });

    const onPriceQuoteSent = () => {
      if (lead.value) {
        lead.value.status_color = "warning";
        lead.value.status = "Assigned with PQ";
      }
    };

    const getCabinClassName = (cabinClass: number): string => {
      switch (cabinClass) {
        case 1:
          return "Business class";
        case 2:
          return "Economy";
        case 3:
          return "First class";
        case 4:
          return "Premium economy";
        default:
          return "";
      }
    };

    const agentName = ref();
    const clientName = ref();
    const clientId = ref();

    let count = ref(0);

    watchEffect(async () => {
      if (lead.value) {
        agentName.value = lead.value.agent?.name;
        clientName.value = lead.value.client.name;
        clientId.value = lead.value.client.id;

        const params = {};
        const leads = await store.getLeads(params);

        for (const lead of leads) {
          if (
            lead.client === clientName.value &&
            lead.agent === agentName.value
          ) {
            count.value += 1;
          }
        }
      }
      return count;
    });

    const truncate = (value: string): string => {
      if (value && value.length >= 10) {
        const month = value.substring(5, 7);
        const monthMap: { [key: string]: string } = {
          "01": "Jan ",
          "02": "Feb ",
          "03": "Mar ",
          "04": "Apr ",
          "05": "May ",
          "06": "Jun ",
          "07": "Jul ",
          "08": "Aug ",
          "09": "Sep ",
          "10": "Oct ",
          "11": "Nov ",
          "12": "Dec ",
        };
        const abbreviatedMonth = monthMap[month] || month;
        return abbreviatedMonth + value.substring(8);
      }
      return value;
    };

    return {
      lead,
      onPriceQuoteSent,
      getCabinClassName,
      count,
      clientId,
      agentName,
      truncate,
    };
  },
});
</script>

<style lang="scss">
.request-details .request-details-item {
  padding-top: 12px;
}

.request-details .request-details-item:first-of-type {
  padding-top: 0 !important;
}
</style>
