<template>
  <div class="card">
    <div class="card-body pt-0">
      <Datatable
        :data="filteredLeads"
        :header="tableHeader"
        :loading="loading"
        :total="store.meta?.total"
        :items-per-page-dropdown-enabled="false"
        @page-change="onPageChange"
        @filter-change="onFilterChange"
        :items-per-page="15"
      >
        <template v-slot:number="{ row: lead }">
          <router-link
            :to="{
              name: 'leads-view',
              params: { number: lead.number },
            }"
            class="menu-link"
          >
            {{ lead.number }}
          </router-link>
        </template>
        <template v-slot:created_at="{ row: lead }">
          {{ lead.created_at }}
        </template>
        <template v-slot:agent="{ row: lead }">
          {{ lead.agent }}
        </template>
        <template v-slot:client="{ row: lead }">
          <router-link
            :to="{
              name: 'leads-view',
              params: { number: lead.number },
            }"
            class="menu-link px-3"
          >
            {{ lead.client }}
          </router-link>
        </template>
        <template v-slot:request_details="{ row: lead }">
          {{ lead.request_details_text }}
        </template>
        <template v-slot:status="{ row: lead }">
          <div :class="`badge badge-light-${lead.status_color}`">
            {{ lead.status }}
          </div>
        </template>
      </Datatable>
    </div>
  </div>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  onMounted,
  watch,
  watchEffect,
  computed,
} from "vue";
import Datatable from "@/components/kt-datatable/KTDataTable.vue";
import { useLeadStore } from "@/stores/leads";
import { useClientsStore } from "@/stores/clients";
import { useRoute } from "vue-router";
import type { ILead } from "@/core/types/leadTypes";

export default defineComponent({
  name: "users-client-requests",
  components: {
    Datatable,
  },
  setup() {
    const tableHeader = ref([
      {
        columnName: "ID",
        columnLabel: "number",
      },
      {
        columnName: "Created at",
        columnLabel: "created_at",
      },
      {
        columnName: "Agent",
        columnLabel: "agent",
      },
      {
        columnName: "Client",
        columnLabel: "client",
      },
      {
        columnName: "Request Details",
        columnLabel: "request_details",
      },
      {
        columnName: "Status",
        columnLabel: "status",
      },
    ]);

    const route = useRoute();
    const agentName = route.query.agentName;
    const clientId = route.query.clientId;

    const loading = ref(false);
    const store = useLeadStore();
    const clientStore = useClientsStore();
    const status = ref<number>(1);

    const page = ref<number>(0);
    const filters = ref<any>({});

    filters.value.client_id = clientId;
    filters.value.agent = agentName;

    const filteredLeads = ref<ILead[]>([]);

    const updateFilteredLeads = async () => {
      const clientIdNumber = Number(clientId);
      const response = await clientStore.getClientLeads(clientIdNumber);

      if (response.data && Array.isArray(response.data)) {
        filteredLeads.value = response.data;
      } else {
        console.log("Data missing or not available.");
      }
    };

    watchEffect(() => {
      updateFilteredLeads();
    });

    const formattedData = computed(() => ({ data: filteredLeads.value }));

    const fetchLeads = async () => {
      loading.value = true;
      const params: any = {
        page: page.value,
        status: status.value,
      };

      if (filters.value.agent && filters.value.agent !== "") {
        params.agent = filters.value.agent;
      }

      await store.getLeads(params);
      loading.value = false;
    };

    onMounted(() => {
      fetchLeads();
    });

    const onPageChange = (selPage: number) => {
      page.value = selPage;
      fetchLeads();
    };

    const onFilterChange = (selFilters: any) => {
      filters.value = selFilters;
      fetchLeads();
    };

    watch(
      () => status.value,
      () => fetchLeads()
    );

    return {
      tableHeader,
      loading,
      filteredLeads,
      store,
      onPageChange,
      status,
      onFilterChange,
      clientId,
      agentName,
      updateFilteredLeads,
      formattedData,
    };
  },
});
</script>
