<template>
  <!--begin::Basic info-->
  <div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header border-0">
      <!--begin::Card title-->
      <div class="card-title m-0">
        <h3 class="fw-bold m-0">Lead Details</h3>
      </div>
      <!--end::Card title-->
    </div>
    <!--begin::Card header-->

    <!--begin::Content-->
    <div id="kt_account_profile_details" class="collapse show">
      <!--begin::Form-->
      <VForm
        as="el-form"
        id="kt_account_profile_details_form"
        class="form"
        @submit="saveChanges()"
        :validation-schema="leadsEdit"
      >
        <!--begin::Card body-->
        <div class="card-body border-top p-9">
          <!--begin::Input group-->
          <div class="row mb-6" v-can="'edit users'">
            <!--begin::Label-->
            <label class="col-lg-2 col-form-label fw-semobold fs-6">
              Agent
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-10 fv-row">
              <Field
                as="select"
                name="agent_id"
                class="form-select form-select-solid form-select-lg fw-semobold"
                v-model="leadDetails.agent_id"
              >
                <option v-if="!leadNumber" value="" selected>Unassigned</option>
                <option
                  v-for="item in agentsStore.agents"
                  :value="item.id"
                  :key="item.id"
                >
                  {{ item.name }}
                </option>
              </Field>
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="agent_id" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="row mb-6" v-can="'edit users'">
            <!--begin::Label-->
            <label class="col-lg-2 col-form-label fw-semobold fs-6">
              <span class="required">Client type</span>
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-10 fv-row">
              <Field
                as="select"
                name="client_type"
                class="form-select form-select-solid form-select-lg fw-semobold"
                v-model="leadDetails.client_type"
              >
                <option value="1">new client</option>
                <option value="2">return client</option>
                <option value="3">referral</option>
                <option value="4">client booked with the company</option>
                <option value="5">self marketing client</option>
              </Field>
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="client_type" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="row mb-6 align-items-center">
            <!--begin::Label-->
            <label class="col-lg-2 col-form-label fw-semobold fs-6">
              <span class="required">Client</span>
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-xl-6 col-xxl-7 fv-row">
              <!--fake field for el-select validation-->
              <el-input filterable v-model="clientName" class="col-12">
              </el-input>
            </div>
            <!--end::Col-->
            <div
              class="col-xl-4 col-xxl-3 fv-row text-end d-flex justify-content-end align-items-center"
            >
              <button
                v-if="leadDetails.client_id && clientName"
                type="button"
                class="btn btn-sm btn-flex btn-primary ms-2 me-2"
                @click="editClient"
              >
                <span class="svg-icon svg-icon-3">
                  <inline-svg src="/media/icons/duotune/general/gen023.svg" />
                </span>
                Edit Client
              </button>

              <button
                type="button"
                class="btn btn-sm btn-flex btn-primary"
                @click="addNewClient"
              >
                <span class="svg-icon svg-icon-3">
                  <inline-svg src="/media/icons/duotune/general/gen035.svg" />
                </span>
                Add new
              </button>
            </div>
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="row mb-6 d-flex justify-content-end align-items-start">
            <!--begin::Label-->
            <label
              class="col-lg-2 col-form-label fw-semobold fs-6 d-flex align-items-start"
            >
              <span>Request details</span>
            </label>

            <!--end::Label-->
            <!--begin::Col-->

            <div
              class="col-lg-10 fv-row d-block mb-5 block-flight"
              v-for="(item, index) in leadDetails.request_details"
              :key="index"
            >
              <div class="d-flex justify-content-end mb-2">
                <button
                  type="button"
                  class="border-0 bg-transparent"
                  id="buttonRequestDelete"
                  :key="index"
                  @click="remove(index)"
                >
                  <span class="svg-icon svg-icon-1">
                    <inline-svg src="/media/icons/duotune/arrows/arr061.svg" />
                  </span>
                </button>
              </div>

              <div class="d-flex">
                <span class="w-50 me-3">
                  <span class="w-50">
                    <el-select
                      v-model="item.airport_from_code"
                      filterable
                      remote
                      reserve-keyword
                      placeholder="Type to search"
                      :loading="loading"
                      :remote-method="fetchAirports"
                      class="col-12"
                    >
                      <el-option
                        v-for="item in airports"
                        :key="item.id"
                        :value="item.id"
                        :label="item.id + ', ' + item.name"
                      >
                      </el-option>
                    </el-select>

                    <div class="fv-plugins-message-container">
                      <div class="fv-help-block">
                        <ErrorMessage name="airport_from" />
                      </div>
                    </div>
                  </span>
                </span>

                <span class="w-50">
                  <el-select
                    v-model="item.airport_to_code"
                    filterable
                    remote
                    reserve-keyword
                    placeholder="Type to search"
                    :loading="loading"
                    :remote-method="fetchAirports"
                    class="col-12"
                  >
                    <el-option
                      v-for="item in airports"
                      :key="item.id"
                      :value="item.id"
                      :label="item.id + ', ' + item.name"
                    >
                    </el-option>
                  </el-select>

                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="airport_to" />
                    </div>
                  </div>
                </span>
              </div>

              <div class="d-flex mt-3 departure_date">
                <span class="d-block align-items-center w-50 me-3">
                  <el-form-item prop="departure_date" class="w-100">
                    <el-date-picker
                      v-model="item.date"
                      type="date"
                      :teleported="false"
                      :name="`departure_date_${index}`"
                      class="form-control form-control-lg form-control-solid"
                      placeholder="Departure date"
                      value-format="YYYY-MM-DD"
                    />
                  </el-form-item>
                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="date" />
                    </div>
                  </div>
                </span>

                <span class="w-50">
                  <el-select
                    v-model="item.cabin_class"
                    filterable
                    class="col-12"
                    placeholder="Cabin class"
                  >
                    <el-option :value="1" label="Business class"></el-option>
                    <el-option :value="2" label="Economy"></el-option>
                    <el-option :value="3" label="First class"></el-option>
                    <el-option :value="4" label="Premium economy"></el-option>
                  </el-select>

                  <div class="fv-plugins-message-container">
                    <div class="fv-help-block">
                      <ErrorMessage name="cabin" />
                    </div>
                  </div>
                </span>
              </div>

              <div class="col-lg-12 fv-row d-block mb-5">
                <div class="d-flex mt-4 mb-5">
                  <span class="passenger-number-select me-3">
                    <NumPassengerSelect
                      placeholder="Adult"
                      v-model="item.adults"
                    ></NumPassengerSelect>

                    <div class="fv-plugins-message-container">
                      <div class="fv-help-block">
                        <ErrorMessage name="adult" />
                      </div>
                    </div>
                  </span>

                  <span class="passenger-number-select me-3">
                    <NumPassengerSelect
                      :name="`child_${index}`"
                      placeholder="Child"
                      v-model="item.children"
                    ></NumPassengerSelect>
                  </span>

                  <span class="passenger-number-select">
                    <NumPassengerSelect
                      :name="`infant_${index}`"
                      placeholder="Infant"
                      v-model="item.infants"
                    ></NumPassengerSelect>
                  </span>
                </div>
              </div>
            </div>

            <div class="col-lg-10 d-flex justify-content-between block-add">
              <div v-if="block" class="fv-plugins-message-container">
                <div class="fv-help-block">No block added Flight Details</div>
              </div>
              <button
                type="button"
                class="btn btn-sm btn-flex btn-primary"
                id="addNewItem"
                @click="addRequestDetails"
              >
                <span class="svg-icon svg-icon-3">
                  <inline-svg src="/media/icons/duotune/general/gen035.svg" />
                </span>
                Add new
              </button>
            </div>
          </div>
          <!--end::Input group-->

          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-2 col-form-label fw-semobold fs-6">
              <span>Comments</span>
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-10 fv-row">
              <Field
                as="textarea"
                name="comments"
                rows="5"
                class="form-control form-control-solid"
                v-model="leadDetails.comments"
              />
            </div>
          </div>

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-2 col-form-label fw-semobold fs-6">
              <span class="required">Status</span>
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-10 fv-row">
              <Field
                as="select"
                name="status"
                class="form-select form-select-solid form-select-lg fw-semobold"
                v-model="leadDetails.status"
              >
                <option value="0" v-if="permission()" :selected="permission()">
                  Unassigned
                </option>
                <option value="1" :selected="!permission()">
                  Assigned no PQ
                </option>
                <option value="2" v-if="permission()">Assigned with PQ</option>
                <option value="3" v-if="permission()">Sold</option>
                <option value="4" v-if="permission()">Sold and closed</option>
                <option value="5" v-if="permission()">Expired</option>
              </Field>
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="status" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
        </div>

        <!--begin::Actions-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button
            type="submit"
            id="kt_account_profile_details_submit"
            ref="submitButton"
            class="btn btn-primary"
          >
            <span class="indicator-label"> Save Changes </span>
            <span class="indicator-progress">
              Please wait...
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </button>
        </div>
        <!--end::Actions-->
      </VForm>
      <!--end::Form-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Basic info-->

  <AddClientModal
    :client-id="clientId"
    v-if="showClientModal"
    @on-hide-modal="showClientModal = false"
  >
  </AddClientModal>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, watch, watchEffect } from "vue";
import { ErrorMessage, Field, Form as VForm } from "vee-validate";
import { useAgentsStore } from "@/stores/agents";
import { useClientsStore } from "@/stores/clients";
import { useLeadStore } from "@/stores/leads";
import type { IAirport } from "@/core/types/airportTypes";
import { useAirportStore } from "@/stores/airports";
import type {
  ILeadDetails,
  IRequestDetails,
  ILeadDetailsFull,
} from "@/core/types/leadTypes";
import AddClientModal from "@/components/leads/AddClientModal.vue";
import { useRoute, useRouter } from "vue-router";

import NumPassengerSelect from "@/components/leads/dropdown/NumPassengerSelect.vue";
import * as Yup from "yup";
import { useAuthStore } from "@/stores/auth";
import { Modal } from "bootstrap";

export default defineComponent({
  name: "leads-edit",
  components: {
    AddClientModal,
    ErrorMessage,
    Field,
    VForm,
    NumPassengerSelect,
  },

  setup() {
    const route = useRoute();
    const router = useRouter();
    const leadNumber = route.query.leadNumber;

    const submitButton = ref<HTMLElement | null>(null);

    const airportStore = useAirportStore();
    const airports = ref<Array<IAirport>>([]);
    const loading = ref(false);
    const clientId = ref<number>();
    const showClientModal = ref(false);

    function permission() {
      const authStore = useAuthStore();
      if (authStore.checkPermission("edit users")) {
        return true;
      } else {
        return false;
      }
    }

    const fetchAirports = async (query: string) => {
      if (query) {
        loading.value = true;
        airports.value = await airportStore.getAirports(query);

        if (airports.value.length === 0) {
          airports.value = await airportStore.getCities(query);
        }

        loading.value = false;
      } else {
        airports.value = [];
      }
    };

    const emptyRequestDetails: IRequestDetails = {
      adults: undefined,
      airport_from_code: "",
      airport_to_code: "",
      date: "",
      cabin_class: undefined,
    };

    const leadDetails = ref<ILeadDetails>({
      comments: "",
      status: permission() ? 0 : 1,
      client_type: 1,
      request_details: [{ ...emptyRequestDetails }],
    });

    const leadDetailsFull = ref<ILeadDetailsFull>;

    const leadsEdit = Yup.object().shape({});

    const agentsStore = useAgentsStore();
    const clientsStore = useClientsStore();
    const leadStore = useLeadStore();
    const authStore = useAuthStore();

    onMounted(async () => {
      clientsStore.selectedClientId = 0;
      if (authStore.checkPermission("change lead agents")) {
        await agentsStore.getAllAgents();
      }
      await clientsStore.getAllClients();

      const number = route.params.number as string;
      if (number) {
        const response = await leadStore.getLeadByNumber(number);
        if (response) {
          leadDetails.value = {
            id: response.id,
            agent_id: response.agent?.id,
            client_id: response.client.id,
            status: response.status_id,
            client_type: response.client_type_id,
            comments: response.comments,
            request_details: response.request_details,
          };
        }
      }
    });

    const block = ref(false);

    const addRequestDetails = () => {
      const blockElement = document.querySelectorAll(".block-flight");
      if (leadDetails.value.request_details.length == 0) {
        leadDetails.value.request_details.push({ ...emptyRequestDetails });
        block.value = false;
        return;
      }
      if (blockElement.length > 0) {
        block.value = false;
      } else {
        block.value = true;
      }
      const lastRequestDetails =
        leadDetails.value.request_details[
          leadDetails.value.request_details.length - 1
        ];
      const newRequestDetails = {
        airport_from_code: lastRequestDetails.airport_to_code, //replace airport_from_code and airport_to_code
        airport_to_code: lastRequestDetails.airport_from_code, //replace airport_to_code and airport_from_code
        date: lastRequestDetails.date,
        cabin_class: lastRequestDetails.cabin_class,
        adults: lastRequestDetails.adults,
        children: lastRequestDetails.children,
        infants: lastRequestDetails.infants,
      };
      leadDetails.value.request_details.push(newRequestDetails);
    };

    const remove = async (index: number) => {
      if (leadDetails.value.request_details[index]) {
        const requestDetailsId = leadDetails.value.request_details[index].id;
        if (requestDetailsId) {
          leadStore.deleteLeadDetails(leadDetails.value, requestDetailsId);
        }

        for (const requestDetails of leadDetails.value.request_details) {
          if (requestDetails.id === index + 1) {
            await leadStore.deleteLeadDetails(leadDetails.value, index);
          }
        }
      }

      leadDetails.value.request_details.splice(index, 1);

      const blockElement = document.querySelectorAll(".block-flight");
      if (blockElement.length >= 2) {
        block.value = false;
      } else {
        block.value = true;
      }
    };

    const removeAll = async () => {
      leadDetails.value.client_type = 0;
      leadDetails.value.agent_id = 0;
      clientName.value = "";

      const count = leadDetails.value.request_details.length;

      for (let number = count; number >= 0; number--) {
        await remove(number);
      }
    };

    const saveChanges = async () => {
      if (submitButton.value) {
        // Activate indicator
        submitButton.value.setAttribute("data-kt-indicator", "on");

        const response = await leadStore.saveLead(leadDetails.value);
        const savedLeadDetails = response;

        submitButton.value.removeAttribute("data-kt-indicator");

        if (response instanceof Object) {
          router.push({
            name: "leads-view",
            params: {
              number: response?.number,
            },
          });
        } else {
          if (savedLeadDetails) {
            const response = await leadStore.getLead(
              savedLeadDetails.toString()
            );

            const number = String(response?.number);

            router.push({
              name: "leads-view",
              params: {
                number: number,
              },
            });
          }
        }
      }
    };

    watch(
      () => clientsStore.selectedClientId,
      function () {
        leadDetails.value.client_id = clientsStore.selectedClientId;
      }
    );

    watch(showClientModal, (newVal) => {
      if (!newVal) {
        updateClientName();
      }
    });

    const addNewClient = () => {
      clientId.value = 0;
      openClientModal();
    };

    const editClient = () => {
      clientId.value = leadDetails.value.client_id;
      openClientModal();
    };

    const openClientModal = () => {
      showClientModal.value = true;
      setTimeout(() => {
        const modal = new Modal(
          document.getElementById("kt_modal_add_client") as Element
        );
        modal.show();
      });
    };

    const clientName = ref("");
    const agentName = ref("");

    watchEffect(async () => {
      if (leadNumber) {
        const params = {};
        const leads = await leadStore.getLeads(params);

        for (const lead of leads) {
          if (lead.number === leadNumber) {
            agentName.value = lead.agent;
            clientName.value = lead.client;
          }
        }

        const response = await leadStore.getLeadByNumber(leadNumber as string);
        leadDetails.value.client_id = response.client.id;

        for (const agent of agentsStore.agents) {
          if (agent.name === agentName.value) {
            leadDetails.value.agent_id = agent.id;
          }
        }
      }

      if (leadDetails.value.client_id) {
        updateClientName();
      }
    });

    const updateClientName = async () => {
      const clientId = leadDetails.value.client_id;
      if (clientId) {
        const clientData = await clientsStore.getClientById(clientId);
        clientName.value =
          clientData.name +
          " " +
          clientData.surname +
          " (" +
          clientData.email +
          ") " +
          clientData.phone;
      }
    };

    return {
      submitButton,
      saveChanges,
      leadDetails,
      agentsStore,
      clientsStore,
      addRequestDetails,
      remove,
      leadsEdit,
      airports,
      loading,
      fetchAirports,
      showClientModal,
      editClient,
      addNewClient,
      clientId,
      block,
      leadStore,
      leadDetailsFull,
      clientName,
      leadNumber,
      permission,
      removeAll,
    };
  },
});
</script>

<style lang="scss">
.el-select__wrapper {
  background-image: var(--kt-form-select-indicator);
}

.el-input__wrapper {
  background-color: var(--kt-input-solid-bg);
  border-color: var(--kt-input-solid-bg);
  box-shadow: none !important;
  color: var(--kt-input-solid-color);
  transition: color 0.2s ease;
  border: none;
  height: 43px;
  padding-left: 1.5rem;
  font-size: 1.15rem;
  border-radius: 0.625rem;
  display: flex;
  width: 100%;
  font-weight: 500;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-position: right 1rem center;
  background-size: 16px 12px;
  align-items: center;
  --el-input-inner-height: calc(var(--el-input-height, 40px) - 2px);
}

.el-input__suffix-inner {
  display: none;
}

.form-control.form-control-solid {
  padding: unset !important;
  padding-left: 1.5rem !important;
}

.row textarea.form-control {
  padding-top: 1rem !important;
}

.el-date-editor.el-input,
.el-date-editor.el-input__wrapper {
  padding-left: unset !important;
}

.el-date-editor.el-input,
.el-date-editor.el-input__wrapper {
  width: 100% !important;
}

.el-form-item {
  margin-bottom: unset !important;
}

.passenger-number-select {
  width: 33%;
}

.block-add {
  height: 34px;
}
</style>
