<template>
  <div
    class="modal fade"
    id="kt_modal_add_client"
    ref="addClientModalRef"
    tabindex="-1"
    aria-hidden="true"
  >
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
      <!--begin::Modal content-->
      <div class="modal-content">
        <!--begin::Modal header-->
        <div class="modal-header" id="kt_modal_add_client_header">
          <!--begin::Modal title-->
          <h2 class="fw-bold">Add Client</h2>
          <!--end::Modal title-->

          <!--begin::Close-->
          <div
            id="kt_modal_add_client_close"
            data-bs-dismiss="modal"
            class="btn btn-icon btn-sm btn-active-icon-primary"
          >
            <span class="svg-icon svg-icon-1">
              <inline-svg src="/media/icons/duotune/arrows/arr061.svg" />
            </span>
          </div>
          <!--end::Close-->
        </div>
        <!--end::Modal header-->
        <!--begin::Form-->
        <VForm
          @submit="submit"
          :model="formData"
          ref="formRef"
          :validation-schema="clientModal"
        >
          <!--begin::Modal body-->
          <div class="modal-body py-10 px-lg-17">
            <!--begin::Scroll-->
            <div
              class="scroll-y me-n7 pe-7"
              id="kt_modal_add_customer_scroll"
              data-kt-scroll="true"
              data-kt-scroll-activate="{default: false, lg: true}"
              data-kt-scroll-max-height="auto"
              data-kt-scroll-dependencies="#kt_modal_add_customer_header"
              data-kt-scroll-wrappers="#kt_modal_add_customer_scroll"
              data-kt-scroll-offset="300px"
            >
              <!--begin::Input group-->
              <div class="row g-9 mb-5">
                <!--begin::Col-->
                <div class="col-md-6 fv-row">
                  <label class="required fs-6 fw-semobold mb-2">Name</label>

                  <el-form-item prop="name">
                    <Field
                      v-model="formData.name"
                      placeholder="Select a Client Name"
                      class="form-control form-control-lg form-control-solid"
                      type="text"
                      autocomplete="off"
                      name="name"
                    >
                    </Field>
                    <div class="fv-plugins-message-container">
                      <div class="fv-help-block">
                        <ErrorMessage name="name" />
                      </div>
                    </div>
                  </el-form-item>
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-md-6 fv-row">
                  <label class="required fs-6 fw-semobold mb-2">Surname</label>

                  <!--begin::Input-->
                  <div class="position-relative align-items-center">
                    <!--begin::Datepicker-->
                    <el-form-item prop="surname">
                      <Field
                        v-model="formData.surname"
                        placeholder="Select a Client Surname"
                        name="surname"
                        class="form-control form-control-lg form-control-solid"
                        type="text"
                        autocomplete="off"
                      >
                      </Field>
                    </el-form-item>

                    <div class="fv-plugins-message-container">
                      <div class="fv-help-block">
                        <ErrorMessage name="surname" />
                      </div>
                    </div>
                    <!--end::Datepicker-->
                  </div>
                  <!--end::Input-->
                </div>
                <!--end::Col-->
              </div>
              <!--end::Input group-->

              <!--begin::Input group-->
              <div class="fv-row mb-7">
                <!--begin::Label-->
                <label class="fs-6 fw-semobold mb-2">
                  <span class="required">Email</span>
                </label>
                <!--end::Label-->

                <!--begin::Input-->
                <el-form-item prop="email">
                  <Field
                    v-model="formData.email"
                    name="email"
                    placeholder="Select a Email"
                    class="form-control form-control-lg form-control-solid"
                    type="text"
                    autocomplete="off"
                  >
                  </Field>
                </el-form-item>

                <div class="fv-plugins-message-container">
                  <div class="fv-help-block">
                    <ErrorMessage name="email" />
                  </div>
                </div>
                <!--end::Input-->
              </div>
              <!--end::Input group-->

              <!--begin::Input group-->
              <div class="fv-row mb-7">
                <!--begin::Label-->
                <label class="fs-6 fw-semobold mb-2">
                  <span class="required">Phone</span>
                </label>
                <!--end::Label-->

                <!--begin::Input-->
                <el-form-item prop="phone">
                  <VueTelInput
                    v-model="formData.phone"
                    :value="formData.phone"
                    mode="international"
                    @input="onInput"
                    :defaultCountry="'US'"
                    name="phone"
                    type="phone"
                  />
                </el-form-item>
                <!--end::Input-->
              </div>
              <!--end::Input group-->
            </div>
            <!--end::Scroll-->
          </div>
          <!--end::Modal body-->

          <!--begin::Modal footer-->
          <div class="modal-footer flex-center">
            <!--begin::Button-->
            <button
              type="button"
              id="kt_modal_add_price_quote_cancel"
              data-bs-dismiss="modal"
              class="btn btn-light me-3"
            >
              Close
            </button>
            <!--end::Button-->

            <!--begin::Button-->
            <button
              :data-kt-indicator="loading ? 'on' : null"
              class="btn btn-lg btn-primary"
              type="submit"
            >
              <span v-if="!loading" class="indicator-label">
                Submit
                <span class="svg-icon svg-icon-3 ms-2 me-0">
                  <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
                </span>
              </span>
              <span v-if="loading" class="indicator-progress">
                Please wait...
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span>
              </span>
            </button>
            <!--end::Button-->
          </div>
          <!--end::Modal footer-->
        </VForm>
        <!--end::Form-->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import { hideModal, onHideModal } from "@/core/helpers/dom";
import { useClientsStore } from "@/stores/clients";
import { useLeadStore } from "@/stores/leads";
import type { IClient } from "@/core/types/clientTypes";
import { VueTelInput } from "vue3-tel-input";
import "vue3-tel-input/dist/vue3-tel-input.css";
import { ErrorMessage, Field, Form as VForm } from "vee-validate";
import * as Yup from "yup";
import { AxiosError } from "axios";
import Swal from "sweetalert2";

export default defineComponent({
  name: "add-client-modal",
  components: {
    VueTelInput,
    ErrorMessage,
    VForm,
    Field,
  },
  props: {
    clientId: Number,
  },
  emits: ["onHideModal"],
  setup(props, { emit }) {
    const clientStore = useClientsStore();
    const leadStore = useLeadStore();
    const formRef = ref<null | HTMLFormElement>(null);
    const addClientModalRef = ref<null | HTMLElement>(null);
    const loading = ref<boolean>(false);

    const formData = ref<IClient>({
      name: "",
      surname: "",
      email: "",
      phone: "",
      additional_emails: [],
      additional_phones: [],
    });

    onMounted(async () => {
      if (props.clientId) {
        formData.value = (await clientStore.getClientById(
          props.clientId
        )) as IClient;
      }
      onHideModal(addClientModalRef.value, () => {
        emit("onHideModal");
      });
    });

    const clientModal = Yup.object().shape({
      name: Yup.string().required().label("Name"),
      surname: Yup.string().required().label("Surname"),
      email: Yup.string().email().required().label("Email"),
    });

    const onInput = (phone, phoneObject) => {
      if (phoneObject?.formatted) {
        formData.value.phone = phoneObject.formatted;
      }
    };

    const submit = async () => {
      if (!formRef.value) {
        return;
      }

      loading.value = true;

      const response = await clientStore.saveClient(formData.value);
      if (response instanceof AxiosError) {
        const existLeadMessage = response.response?.data.errors.email_exists;

        Swal.fire({
          title:
            "Please note that this client has an existing lead in our system.",
          html: existLeadMessage,
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#003E2F",
          cancelButtonColor: "#d33",
          confirmButtonText: "OK, I understand and would like to proceed",
        }).then(async (result) => {
          if (result.isConfirmed) {
            const regex = /Lead ID:\s*(\d+)/;
            const match = existLeadMessage[0].match(regex);
            if (match && match[1]) {
              const leadId = match[1];
              const response = await leadStore.getLead(leadId);
              const newClientData = formData.value;
              const existClientData = response.client;
              const updatedClientData = {
                ...existClientData,
                ...newClientData,
              };
              clientStore.saveClient(updatedClientData);
              clientStore.getAllClients();
              hideModal(addClientModalRef.value);
            } else {
              Swal.fire({
                icon: "error",
                title: "No leads",
                text: "Client with input email has no leads",
              });
            }
          }
          loading.value = false;
        });
      } else {
        if (clientStore.selectedClientId) {
          clientStore.getAllClients();
          hideModal(addClientModalRef.value);
        }
        loading.value = false;
      }
    };

    return {
      formData,
      submit,
      formRef,
      loading,
      addClientModalRef,
      clientStore,
      onInput,
      clientModal,
    };
  },
});
</script>

<style lang="scss">
.form-control {
  padding-left: 16px;
}

.vue-tel-input {
  border: unset;
  background-color: #f5f8fa;
  border-radius: 0.625rem;
}

.vti__input {
  border-radius: 0.625rem;
  background-color: #f5f8fa;
}

.vti__dropdown {
  border-radius: 0.625rem;
  background-color: #f5f8fa;
}

.vti__dropdown-list {
  z-index: 999;
  top: 54px !important;
  border: unset;
  background-color: #f5f8fa;
  border-radius: 0.625rem;
  box-shadow: none;
}

.el-form-item__content {
  padding-left: 4px;
}

.departure_date .el-form-item__content {
  padding-left: unset;
}

label {
  padding-left: 4px;
}

.scroll-y {
  overflow-y: unset;
}
</style>
