<template>
  <!--begin::Basic info-->
  <div class="card mb-5 mb-xl-10">
    <!--begin::Card header-->
    <div class="card-header border-0">
      <!--begin::Card title-->
      <div class="card-title m-0">
        <h3 class="fw-bold m-0">Additional Info</h3>
      </div>
      <!--end::Card title-->
    </div>
    <!--begin::Card header-->

    <!--begin::Content-->
    <div id="kt_additional_info" class="collapse show" v-if="additionalInfo">
      <!--begin::Form-->
      <VForm
        as="el-form"
        id="kt_additional_info_form"
        class="form"
        novalidate
        @submit="saveChanges()"
        :validation-schema="additionalInfoValidator"
      >
        <!--begin::Card body-->
        <div class="card-body border-top p-9">
          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              PCC
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <Field
                name="pcc"
                class="form-control form-control-solid"
                v-model="additionalInfo.pcc"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="pcc" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              PNR
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <Field
                name="pnr"
                class="form-control form-control-solid"
                v-model="additionalInfo.pnr"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="pnr" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              Transaction ID
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <Field
                name="transaction_id"
                class="form-control form-control-solid"
                v-model="additionalInfo.transaction_id"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="transaction_id" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              Mileage Type
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <Field
                name="mileage_type"
                class="form-control form-control-solid"
                v-model="additionalInfo.mileage_type"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="mileage_type" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              Total Miles
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <Field
                type="number"
                name="total_miles"
                class="form-control form-control-solid"
                min="0"
                v-model="additionalInfo.total_miles"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="total_miles" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fw-semobold fs-6">
              Total Amount
            </label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <Field
                type="number"
                name="total_amount"
                class="form-control form-control-solid"
                min="0"
                v-model="additionalInfo.total_amount"
              />
              <div class="fv-plugins-message-container">
                <div class="fv-help-block">
                  <ErrorMessage name="total_amount" />
                </div>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
        </div>
        <!--begin::Actions-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <button
            type="submit"
            id="kt_account_profile_details_submit"
            ref="submitButton"
            class="btn btn-primary"
          >
            <span class="indicator-label"> Save Changes </span>
            <span class="indicator-progress">
              Please wait...
              <span
                class="spinner-border spinner-border-sm align-middle ms-2"
              ></span>
            </span>
          </button>
        </div>
        <!--end::Actions-->
      </VForm>
      <!--end::Form-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Basic info-->
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from "vue";
import { ErrorMessage, Field, Form as VForm } from "vee-validate";
import * as Yup from "yup";
import { useLeadStore } from "@/stores/leads";
import type { IAdditionalInfo } from "@/core/types/leadTypes";
import Swal from "sweetalert2";

export default defineComponent({
  name: "additional-info",
  props: {
    leadId: Number,
  },
  components: {
    ErrorMessage,
    Field,
    VForm,
  },
  setup(props) {
    const submitButton = ref<HTMLElement | null>(null);

    const additionalInfoValidator = Yup.object().shape({
      total_miles: Yup.number().min(0).label("Total miles"),
      total_amount: Yup.number().min(0).label("Total amount"),
    });

    const additionalInfo = ref<IAdditionalInfo>();

    const store = useLeadStore();

    const saveChanges = async () => {
      if (submitButton.value) {
        // Activate indicator
        submitButton.value.setAttribute("data-kt-indicator", "on");
        await store.saveAdditionalInfo(additionalInfo.value);
        submitButton.value.removeAttribute("data-kt-indicator");
        Swal.fire({
          text: "Form has been successfully submitted!",
          icon: "success",
          buttonsStyling: false,
          confirmButtonText: "Ok, got it!",
          heightAuto: false,
          customClass: {
            confirmButton: "btn btn-primary",
          },
        });
      }
    };

    onMounted(async () => {
      const id = props.leadId as number;
      const response = await store.getAdditionalInfo(id);
      additionalInfo.value = response;
    });

    return {
      submitButton,
      saveChanges,
      additionalInfo,
      additionalInfoValidator,
    };
  },
});
</script>
