<template>
  <!--begin::Filter-->
  <button
    type="button"
    class="btn btn-light-primary me-3"
    data-kt-menu-trigger="click"
    data-kt-menu-placement="bottom-start"
  >
    <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
    <span class="svg-icon svg-icon-2">
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z"
          fill="currentColor"
        ></path>
      </svg>
    </span>
    <!--end::Svg Icon-->Filter
  </button>
  <!--begin::Menu 1-->
  <div
    class="menu menu-sub menu-sub-dropdown w-300px w-md-325px"
    data-kt-menu="true"
    id="kt-toolbar-filter"
    style=""
  >
    <!--begin::Header-->
    <div class="px-7 py-5">
      <div class="fs-4 text-dark fw-bold">Filter Options</div>
    </div>
    <!--end::Header-->
    <!--begin::Separator-->
    <div class="separator border-gray-200"></div>
    <!--end::Separator-->
    <!--begin::Content-->
    <div class="px-7 py-5">
      <!--begin::Input group-->
      <div class="mb-10">
        <!--begin::Label-->
        <label class="form-label fs-5 fw-semibold mb-3">Lead ID:</label>
        <!--end::Label-->
        <Field
          type="text"
          class="form-control form-control-lg form-control-solid"
          name="lead_id"
          v-model="filter.lead_id"
        />
      </div>
      <!--end::Input group-->
      <!--begin::Input group-->
      <div class="mb-10">
        <!--begin::Label-->
        <label class="form-label fs-5 fw-semibold mb-3">Client email:</label>
        <!--end::Label-->
        <Field
          type="text"
          class="form-control form-control-lg form-control-solid"
          name="client_email"
          v-model="filter.client_email"
        />
      </div>
      <!--end::Input group-->

      <!--begin::Actions-->
      <div class="d-flex justify-content-end">
        <button
          type="reset"
          class="btn btn-light btn-active-light-primary me-2"
          data-kt-menu-dismiss="true"
          data-kt-customer-table-filter="reset"
          @click="resetFilter"
        >
          Reset
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-kt-menu-dismiss="true"
          data-kt-customer-table-filter="filter"
          @click="applyFilter"
        >
          Apply
        </button>
      </div>
      <!--end::Actions-->
    </div>
    <!--end::Content-->
  </div>
  <!--end::Menu 1-->
  <!--end::Filter-->
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { Field } from "vee-validate";

export default defineComponent({
  name: "leads-filter-component",
  components: {
    Field,
  },
  emits: ["filter-change"],
  setup(params, { emit }) {
    const filter = ref<any>({
      lead_id: undefined,
      client_email: undefined,
    });

    const applyFilter = () => {
      emit("filter-change", filter.value);
    };

    const resetFilter = () => {
      filter.value = {
        lead_id: undefined,
        client_email: undefined,
      };
      applyFilter();
    };

    return {
      filter,
      applyFilter,
      resetFilter,
    };
  },
});
</script>
