<template>
  <div
    class="modal fade"
    id="kt_modal_add_price_quote"
    ref="addPriceQuoteModalRef"
    tabindex="-1"
    aria-hidden="true"
  >
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
      <!--begin::Modal content-->
      <div class="modal-content">
        <!--begin::Modal header-->
        <div class="modal-header" id="kt_modal_add_customer_header">
          <!--begin::Modal title-->
          <h2 class="fw-bold">Add Price Quote</h2>
          <!--end::Modal title-->

          <!--begin::Close-->
          <div
            id="kt_modal_add_customer_close"
            data-bs-dismiss="modal"
            class="btn btn-icon btn-sm btn-active-icon-primary"
          >
            <span class="svg-icon svg-icon-1">
              <inline-svg src="/media/icons/duotune/arrows/arr061.svg" />
            </span>
          </div>
          <!--end::Close-->
        </div>
        <!--end::Modal header-->
        <!--begin::Form-->
        <el-form
          @submit.prevent="submit()"
          :model="formData"
          :rules="rules"
          ref="formRef"
        >
          <!--begin::Modal body-->
          <div class="modal-body py-10 px-lg-17">
            <!--begin::Scroll-->
            <div
              class="scroll-y me-n7 pe-7"
              id="kt_modal_add_customer_scroll"
              data-kt-scroll="true"
              data-kt-scroll-activate="{default: false, lg: true}"
              data-kt-scroll-max-height="auto"
              data-kt-scroll-dependencies="#kt_modal_add_customer_header"
              data-kt-scroll-wrappers="#kt_modal_add_customer_scroll"
              data-kt-scroll-offset="300px"
            >
              <!--begin::Input group-->
              <div class="fv-row mb-7">
                <!--begin::Label-->
                <label class="fs-6 fw-semobold mb-2">
                  <span class="required">Reservation Dump</span>
                </label>
                <!--end::Label-->

                <!--begin::Input-->
                <el-form-item prop="reservation_dump">
                  <el-input
                    v-model="formData.reservation_dump"
                    type="textarea"
                    rows="10"
                    @change="reservationDumpOnChange"
                  />
                </el-form-item>
                <!--end::Input-->
              </div>
              <!--end::Input group-->

              <!--begin::Input group-->
              <div class="fv-row mb-7">
                <!--begin::Label-->
                <label class="fs-6 fw-semobold mb-2">
                  <span class="required">Selling Price</span>
                </label>
                <!--end::Label-->

                <!--begin::Input-->
                <el-form-item prop="selling_price">
                  <el-input
                    v-model="formData.selling_price"
                    type="number"
                    min="0"
                    step="0.01"
                  />
                </el-form-item>
                <!--end::Input-->
              </div>
              <!--end::Input group-->

              <!--begin::Input group-->
              <div class="fv-row mb-7">
                <!--begin::Label-->
                <label class="fs-6 fw-semobold mb-2">
                  <span class="required">Net Price</span>
                </label>
                <!--end::Label-->

                <!--begin::Input-->
                <el-form-item prop="net_price">
                  <el-input
                    v-model="formData.net_price"
                    type="number"
                    min="0"
                    step="0.01"
                  />
                </el-form-item>
                <!--end::Input-->
              </div>
              <!--end::Input group-->

              <!--begin::Input group-->
              <div class="fv-row mb-7">
                <!--begin::Label-->
                <label class="fs-6 fw-semobold mb-2">
                  <span class="required">Profit</span>
                </label>
                <!--end::Label-->

                <!--begin::Input-->
                <el-form-item prop="profit">
                  <el-input
                    v-model="formData.profit"
                    type="number"
                    min="0"
                    step="0.01"
                  />
                </el-form-item>
                <!--end::Input-->
              </div>
              <!--end::Input group-->

              <!--begin::Input group-->
              <div class="fv-row mb-7">
                <!--begin::Label-->
                <label class="fs-6 fw-semobold mb-2">
                  <span>Internal remarks</span>
                </label>
                <!--end::Label-->

                <!--begin::Input-->
                <el-form-item prop="internal_remarks">
                  <el-input
                    v-model="formData.internal_remarks"
                    type="textarea"
                    rows="10"
                  />
                </el-form-item>
                <!--end::Input-->
              </div>
              <!--end::Input group-->
            </div>
            <!--end::Scroll-->
          </div>
          <!--end::Modal body-->

          <!--begin::Modal footer-->
          <div class="modal-footer flex-center">
            <!--begin::Button-->
            <button
              type="button"
              id="kt_modal_add_price_quote_cancel"
              data-bs-dismiss="modal"
              class="btn btn-light me-3"
            >
              Close
            </button>
            <!--end::Button-->

            <!--begin::Button-->
            <button
              :data-kt-indicator="loading ? 'on' : null"
              class="btn btn-lg btn-primary"
              type="submit"
            >
              <span v-if="!loading" class="indicator-label">
                Submit
                <span class="svg-icon svg-icon-3 ms-2 me-0">
                  <inline-svg src="/media/icons/duotune/arrows/arr064.svg" />
                </span>
              </span>
              <span v-if="loading" class="indicator-progress">
                Please wait...
                <span
                  class="spinner-border spinner-border-sm align-middle ms-2"
                ></span>
              </span>
            </button>
            <!--end::Button-->
          </div>
          <!--end::Modal footer-->
        </el-form>
        <!--end::Form-->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "vue";
import { hideModal } from "@/core/helpers/dom";
import { usePriceQuoteStore } from "@/stores/price_quotes";
import type { IPriceQuote } from "@/core/types/priceQuoteTypes";

export default defineComponent({
  name: "add-price-quote-modal",
  components: {},
  props: {
    leadId: {
      type: Number,
      requred: true,
    },
  },
  setup(props) {
    const store = usePriceQuoteStore();
    const formRef = ref<null | HTMLFormElement>(null);
    const addPriceQuoteModalRef = ref<null | HTMLElement>(null);
    const loading = ref<boolean>(false);
    const formData = ref<IPriceQuote>({
      reservation_dump: "",
      selling_price: 0,
      net_price: 0,
      profit: 0,
      internal_remarks: "",
      token: "",
    });

    const rules = ref({
      reservation_dump: [
        {
          required: true,
          message: "Reservation Dump is required",
          trigger: "change",
        },
      ],
      selling_price: [
        {
          required: true,
          message: "Selling Price is required",
          trigger: "change",
        },
      ],
      net_price: [
        {
          required: true,
          message: "Net Price is required",
          trigger: "change",
        },
      ],
      profit: [
        {
          required: true,
          message: "Profit is required",
          trigger: "change",
        },
      ],
    });

    const submit = () => {
      if (!formRef.value) {
        return;
      }
      formRef.value.validate(async (valid: boolean) => {
        if (valid) {
          loading.value = true;
          if (
            await store.savePriceQuote(formData.value, props.leadId as number)
          ) {
            formRef.value?.resetFields();
            hideModal(addPriceQuoteModalRef.value);
          }
          loading.value = false;
        } else {
          return false;
        }
      });
    };

    const refreshProfit = () => {
      formData.value.profit = parseFloat(
        (formData.value.selling_price - formData.value.net_price).toFixed(2)
      );
    };

    watch(() => formData.value.selling_price, refreshProfit);

    watch(() => formData.value.net_price, refreshProfit);

    const reservationDumpOnChange = () => {
      let lines = formData.value.reservation_dump
        .split("\n")
        .map((line) => line.replace(/\s+/g, " ").trim());
      formData.value.reservation_dump = lines.join("\n");
    };

    return {
      formData,
      rules,
      submit,
      formRef,
      loading,
      addPriceQuoteModalRef,
      reservationDumpOnChange,
    };
  },
});
</script>
