<template>
  <div
    class="modal fade"
    id="kt_modal_preview_email"
    ref="previewEmailModalRef"
    tabindex="-1"
    aria-hidden="true"
  >
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <!--begin::Modal content-->
      <div class="modal-content">
        <!--begin::Modal header-->
        <div class="modal-header" id="kt_modal_add_customer_header">
          <!--begin::Modal title-->
          <h2 class="fw-bold">Preview Email</h2>
          <!--end::Modal title-->

          <!--begin::Close-->
          <div
            id="kt_modal_add_customer_close"
            data-bs-dismiss="modal"
            class="btn btn-icon btn-sm btn-active-icon-primary"
            ref="closeModalButton"
          >
            <span class="svg-icon svg-icon-1">
              <inline-svg src="/media/icons/duotune/arrows/arr061.svg" />
            </span>
          </div>
          <!--end::Close-->
        </div>

        <div v-if="modalMailType === 'ticket'" class="container">
          <div class="d-flex justify-content-between align-items-center m-4">
            <div
              class="d-flex align-items-center justify-content-between flex-grow-1 me-2"
            >
              <el-select
                v-model="selectedEmails"
                multiple
                filterable
                allow-create
                default-first-option
                :reserve-keyword="false"
                placeholder="Select email address to send"
                class="w-100"
              >
                <el-option
                  v-for="item in contactEmails"
                  :key="item"
                  :label="item"
                  :value="item"
                />
              </el-select>
            </div>

            <div class="flex-shrink-1">
              <button
                v-if="modalMailType === 'ticket'"
                type="button"
                id="sales_edit_send_ticket_button"
                ref="sendMailButton"
                class="btn btn-primary"
                @click="sendMail"
              >
                <span class="indicator-label"> SEND TICKET </span>
                <span class="indicator-progress">
                  Please wait...
                  <span
                    class="spinner-border spinner-border-sm align-middle ms-2"
                  ></span>
                </span>
              </button>
            </div>
          </div>
        </div>
        <!--end::Modal header-->
        <div v-html="htmlContent"></div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, watch } from "vue";

export default defineComponent({
  name: "preview-email-modal",
  components: {},
  props: {
    content: {
      type: String,
      required: true,
    },
    mailType: {
      type: String,
      required: true,
    },
    emails: {
      type: Array,
      requared: true,
    },
  },
  emits: ["sendingFunction"],
  setup(props, { emit }) {
    const htmlContent = ref();

    const sendMailButton = ref<HTMLElement | null>(null);
    const closeModalButton = ref<HTMLElement | null>(null);

    const selectedEmails = ref<string[]>([]);
    const contactEmails = props.emails as Array<string>;
    const modalMailType = ref(props.mailType);

    watch(
      () => props.content,
      () => {
        htmlContent.value = props.content;
      }
    );

    const sendMail = () => {
      if (sendMailButton.value && selectedEmails.value.length > 0) {
        sendMailButton.value.setAttribute("data-kt-indicator", "on");
        emit("sendingFunction", selectedEmails.value);
        sendMailButton.value.removeAttribute("data-kt-indicator");
        closeModalButton.value?.click();
      }
    };

    return {
      htmlContent,
      sendMail,
      selectedEmails,
      sendMailButton,
      closeModalButton,
      contactEmails,
      modalMailType,
    };
  },
});
</script>
