<template>
  <!--begin::Card-->
  <div :class="`card pt-4 ${cardClasses}`">
    <!--begin::Card header-->
    <div class="card-header border-0">
      <!--begin::Card title-->
      <div class="card-title">
        <h2>Price Quotes</h2>
      </div>
      <!--end::Card title-->

      <!--begin::Card toolbar-->
      <div class="card-toolbar">
        <!--begin::Group actions-->
        <div
          v-if="selectedIds.length > 0"
          class="d-flex align-items-center me-3"
        >
          <div class="fw-bold me-5">
            <span class="me-2">{{ selectedIds.length }}</span
            >Selected
          </div>
          <button
            type="button"
            class="btn btn-sm btn-success"
            @click="sendPriceQuotes"
          >
            Send PQ
            <span
              v-if="loading"
              class="spinner-border spinner-border-sm align-middle ms-2"
            >
            </span>
          </button>
          <button
            type="button"
            class="btn btn-sm ms-2 btn-primary"
            @click="previewEmail"
          >
            Preview Email
            <span
              v-if="loading"
              class="spinner-border spinner-border-sm align-middle ms-2"
            >
            </span>
          </button>
        </div>
        <!--end::Group actions-->

        <a
          href="#"
          class="btn btn-sm ms-2 btn-primary"
          data-kt-menu-trigger="click"
          data-kt-menu-attach="parent"
          data-kt-menu-placement="bottom-end"
        >
          Actions
          <span class="svg-icon svg-icon-3 me-0">
            <inline-svg src="/media/icons/duotune/arrows/arr072.svg" />
          </span>
        </a>
        <LeadDropdown :lead-number="leadNumber"></LeadDropdown>

        <!--begin::Filter-->
        <button
          type="button"
          class="btn btn-sm btn-flex btn-light-primary ms-2"
          data-bs-toggle="modal"
          data-bs-target="#kt_modal_add_price_quote"
        >
          <span class="svg-icon svg-icon-3">
            <inline-svg src="/media/icons/duotune/general/gen035.svg" />
          </span>
          Add PQ
        </button>
        <!--end::Filter-->
      </div>
      <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->

    <!--begin::Card body-->
    <div class="card-body pt-0 pb-5">
      <Datatable
        :loading="loading"
        @on-items-select="onItemSelect"
        :header="tableHeader"
        :data="reversedData"
        :items-per-page="50"
        :items-per-page-dropdown-enabled="false"
        :checkbox-enabled="true"
        checkbox-label="id"
      >
        <template v-slot:id="{ row: item }">
          {{ item.id }}
        </template>

        <template v-slot:reservation_dump="{ row: item }">
          <pre class="text-start">{{ item.reservation_dump }}</pre>
        </template>

        <template v-slot:selling_price="{ row: item }">
          {{ formatPrice(item.selling_price) }}$
        </template>

        <template v-slot:net_price="{ row: item }">
          {{ formatPrice(item.net_price) }}$
        </template>

        <template v-slot:profit="{ row: item }">
          {{ formatPrice(item.profit) }}$
        </template>

        <template v-slot:internal_remarks="{ row: item }">
          {{ item.internal_remarks }}
        </template>

        <template v-slot:selected="{ row: item }">
          <span
            class="badge py-3 px-4 fs-7 badge-light-success text-white"
            v-if="item.selected"
            ><i class="lar la-check-circle text-white"></i>&nbsp;Sent
          </span>
          <span v-else></span>
        </template>

        <template v-slot:actions="{ row: item }">
          <a
            href="#"
            class="btn btn-sm btn-light btn-active-light-primary"
            data-kt-menu-trigger="click"
            data-kt-menu-placement="bottom-end"
            data-kt-menu-flip="top-end"
            >Actions
            <span class="svg-icon svg-icon-5 m-0">
              <inline-svg src="/media/icons/duotune/arrows/arr072.svg" />
            </span>
          </a>
          <!--begin::Menu-->
          <div
            class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semobold fs-7 w-125px py-4"
            data-kt-menu="true"
          >
            <!--begin::Menu item-->
            <div class="menu-item px-3">
              <a
                @click="deletePriceQuote(item.id)"
                class="menu-link px-3 text-danger"
                >Delete
              </a>

              <a
                @click="createSale(item.id)"
                class="menu-link px-3 text-primary"
              >
                Create Sale
              </a>
            </div>
            <!--end::Menu item-->
          </div>
          <!--end::Menu-->
        </template>
      </Datatable>
    </div>
    <!--end::Card body-->
  </div>
  <!--end::Card-->

  <AddPriceQuoteModal :lead-id="leadId"></AddPriceQuoteModal>
  <PreviewEmailModal
    :content="emailContent"
    :emails="contactEmails"
    mailType="priceQuote"
  ></PreviewEmailModal>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, watch, computed } from "vue";
import Datatable from "@/components/kt-datatable/KTDataTable.vue";
import AddPriceQuoteModal from "./AddPriceQuoteModal.vue";
import { usePriceQuoteStore } from "@/stores/price_quotes";
import { MenuComponent } from "@/assets/ts/components/MenuComponent";
import { useSaleStore } from "@/stores/sales";
import { useRouter } from "vue-router";
import PreviewEmailModal from "./PreviewEmailModal.vue";
import { Modal } from "bootstrap";
import LeadDropdown from "@/components/leads/dropdown/LeadDropdown.vue";
import { formatPrice } from "@/core/helpers/formatPrice";

export default defineComponent({
  name: "price-quotes",
  props: {
    cardClasses: String,
    leadId: Number,
    leadNumber: String,
    clientData: { type: Object, requared: true },
  },
  components: {
    Datatable,
    AddPriceQuoteModal,
    PreviewEmailModal,
    LeadDropdown,
  },
  emits: ["onSent"],
  setup(props, { emit }) {
    const tableHeader = ref([
      {
        columnName: "ID",
        columnLabel: "id",
        sortEnabled: false,
      },
      {
        columnName: "Reservation Dump",
        columnLabel: "reservation_dump",
        sortEnabled: false,
      },
      {
        columnName: "Selling Price",
        columnLabel: "selling_price",
        sortEnabled: false,
      },
      {
        columnName: "Net Price",
        columnLabel: "net_price",
        sortEnabled: false,
      },
      {
        columnName: "Profit",
        columnLabel: "profit",
        sortEnabled: false,
      },
      {
        columnName: "Internal remarks",
        columnLabel: "internal_remarks",
        sortEnabled: false,
      },
      {
        columnName: "Sent Status",
        columnLabel: "selected",
        sortEnabled: false,
      },
      {
        columnName: "Actions",
        columnLabel: "actions",
        sortEnabled: false,
      },
    ]);

    const selectedIds = ref<Array<number>>([]);

    const store = usePriceQuoteStore();
    const saleStore = useSaleStore();
    const router = useRouter();
    const emailContent = ref("");

    const loading = ref(false);

    onMounted(async () => {
      loading.value = true;
      await store.getPriceQuotes(props.leadId as number);
      MenuComponent.reinitialization(); // for row actions
      loading.value = false;
    });

    const onItemSelect = (selectedItems: Array<number>) => {
      selectedIds.value = selectedItems;
    };

    const sendPriceQuotes = async () => {
      loading.value = true;
      await store.sendPriceQuotes(selectedIds.value);
      emit("onSent");
      loading.value = false;
    };

    const previewEmail = async () => {
      loading.value = true;
      emailContent.value = await store.previewEmail(selectedIds.value);
      const modal = new Modal(
        document.getElementById("kt_modal_preview_email") as Element
      );
      modal.show();
      loading.value = false;
    };

    const deletePriceQuote = async (id: number) => {
      loading.value = true;
      await store.removePriceQuote(props.leadId as number, id);
      loading.value = false;
    };

    const createSale = async (id: number) => {
      loading.value = true;
      const saleId = await saleStore.createSale(id);
      loading.value = false;
      router.push({
        name: "sales-edit",
        params: {
          id: saleId,
        },
      });
    };

    watch(
      () => store.priceQuotes,
      () => {
        setTimeout(() => MenuComponent.reinitialization()); // for row actions
      }
    );

    const reversedData = computed(() => {
      // Создаем копию массива store.priceQuotes перед применением метода reverse()
      const reversed = [...store.priceQuotes];
      return reversed.reverse(); // Применяем метод reverse() к копии массива
    });

    let contactEmails = [props.clientData?.email];
    contactEmails = props.clientData?.additional_emails
      ? [...contactEmails, ...props.clientData.additional_emails]
      : contactEmails;

    return {
      tableHeader,
      store,
      selectedIds,
      onItemSelect,
      loading,
      sendPriceQuotes,
      deletePriceQuote,
      createSale,
      reversedData,
      previewEmail,
      emailContent,
      formatPrice,
      contactEmails,
    };
  },
});
</script>

<style lang="scss">
.table > thead {
  white-space: nowrap;
}

.table tr,
.table th,
.table td {
  text-align: center;
  padding-right: 0.75rem !important;
}
</style>
