<template>
  <!--begin::Authentication Layout -->
  <div class="d-flex flex-column flex-lg-row flex-column-fluid">
    <!--begin::Body-->
    <div
      class="d-flex flex-column flex-lg-row-fluid w-lg-50 p-10 order-2 order-lg-1"
    >
      <!--begin::Form-->
      <div class="d-flex flex-center flex-column flex-lg-row-fluid">
        <!--begin::Wrapper-->
        <div class="<?php echo $params['wrapperClass']?> p-10">
          <router-view></router-view>
        </div>
        <!--end::Wrapper-->
      </div>
      <!--end::Form-->

      <!--begin::Footer-->
      <div class="d-flex flex-center flex-wrap px-5">
        <!--begin::Links-->
        <div class="d-flex fw-semibold text-primary fs-base">
          <a href="#" class="px-5" target="_blank">Terms</a>

          <a href="#" class="px-5" target="_blank">Plans</a>

          <a href="#" class="px-5" target="_blank">Contact Us</a>
        </div>
        <!--end::Links-->
      </div>
      <!--end::Footer-->
    </div>
    <!--end::Body-->

    <!--begin::Aside-->
    <div
      class="d-flex flex-center align-items-end flex-lg-row-fluid w-lg-50 bgi-size-cover bgi-position-center order-1 order-lg-2"
      style="background-image: url('/media/misc/auth-bg.png')"
    >
      <!--begin::Content-->
      <span class="d-block h-100">
        <div class="h-25 w-100"></div>
        <div
          class="d-flex flex-column flex-center py-7 py-lg-15 px-5 px-md-15 w-100 h-50"
        >
          <!--begin::Logo-->
          <router-link to="/" class="mb-0 mb-lg-12">
            <img alt="Logo" src="/media/logos/avia-crm.png" />
          </router-link>
          <!--end::Logo-->

          <!--begin::Title-->
          <h1
            class="d-none d-lg-block text-white fs-2qx fw-bolder text-center mb-7"
          >
            Fast, Efficient and Productive
          </h1>
          <!--end::Title-->
        </div>

        <div
          class="d-none d-lg-flex justify-content-center align-items-end pb-10 w-100 h-25"
        >
          <span class="text-white pe-1">Development ©</span>
          <a
            class="text-white hover-link-light"
            href="https://xsort.net"
            target="_blank"
            >Xsort Web Studio</a
          >
        </div>
      </span>
    </div>
    <!--end::Content-->
  </div>

  <div
    class="d-flex d-lg-none justify-content-center align-items-end pb-10 w-100 h-25"
  >
    <span class="text-muted pe-1">Development ©</span>
    <a class="hover-link" href="https://xsort.net" target="_blank"
      >Xsort Web Studio</a
    >
  </div>
  <!--end::Aside-->

  <!--end::Authentication Layout -->
</template>

<script lang="ts">
import { defineComponent, onMounted } from "vue";
import LayoutService from "@/core/services/LayoutService";
import { useBodyStore } from "@/stores/body";

export default defineComponent({
  name: "auth-layout",
  components: {},
  setup() {
    const store = useBodyStore();

    onMounted(() => {
      LayoutService.emptyElementClassesAndAttributes(document.body);

      store.addBodyClassname("app-blank");
      store.addBodyClassname("bg-body");
    });
  },
});
</script>

<style>
.hover-link:hover {
  color: deepskyblue !important;
}
.hover-link-light:hover {
  color: lightblue !important;
}
</style>
