<template>
  <div v-if="formVisible">
    <el-form
      @submit.prevent="submit()"
      :model="formData"
      :rules="rules"
      ref="formRef"
    >
      <!--begin::Modal body-->
      <div class="modal-body border-bottom pb-5">
        <!--begin::Scroll-->
        <div
          class="scroll-y me-n7 pe-7"
          id="kt_modal_add_customer_scroll"
          data-kt-scroll="true"
          data-kt-scroll-activate="{default: false, lg: true}"
          data-kt-scroll-max-height="auto"
          data-kt-scroll-dependencies="#kt_modal_add_customer_header"
          data-kt-scroll-wrappers="#kt_modal_add_customer_scroll"
          data-kt-scroll-offset="300px"
        >
          <!--begin::Input group-->
          <div class="row g-9 mb-3 mt-3">
            <div class="d-flex align-items-end mt-4">
              <!--begin::Col-->
              <div class="col-md-3 col-xl-4 fv-row pe-5">
                <label class="mb-2">Airline</label>
                <el-form-item prop="airline_code">
                  <el-select
                    v-model="formData.airline_code"
                    filterable
                    remote
                    reserve-keyword
                    placeholder="Type to search"
                    :loading="loading"
                    :remote-method="fetchAirlines"
                    class="col-12"
                    :disabled="disabled"
                  >
                    <el-option
                      v-for="item in airlines"
                      :key="item.id"
                      :value="item.id"
                      :label="itemLabel(item)"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="col-md-3 col-xl-4 fv-row pe-5">
                <label class="mb-2">Total Profit</label>
                <el-form-item prop="total_profit">
                  <el-input
                    :value="formatPrice(formData.total_profit)"
                    :disabled="true"
                  >
                  </el-input>
                </el-form-item>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="col-md-2 fv-row mt-4">
                <label class="mb-2">Sale Type</label>
                <el-form-item prop="type">
                  <el-select
                    name="type"
                    v-model="formData.type"
                    :disabled="disabled"
                  >
                    <el-option :value="1" label="Revenue sale"></el-option>
                    <el-option :value="2" label="Award Sale"></el-option>
                  </el-select>
                </el-form-item>
              </div>
              <!--end::Col-->

              <div
                class="modal-footer d-flex align-items-end justify-content-end col-md-4 col-xl-2"
              >
                <!--begin::Button-->
                <button
                  type="button"
                  class="btn btn-lg btn-danger me-3"
                  @click="remove"
                  :disabled="disabledStatus"
                >
                  Delete
                </button>
                <!--end::Button-->

                <!--begin::Button-->
                <button
                  :data-kt-indicator="loading ? 'on' : null"
                  class="btn btn-lg btn-primary"
                  type="submit"
                  @click="adjustRow"
                  :disabled="disabledStatus"
                >
                  <span v-if="!loading" class="indicator-label">
                    {{ buttonLabel }}
                    <span class="svg-icon svg-icon-3 ms-2 me-0">
                      <inline-svg
                        src="/media/icons/duotune/arrows/arr064.svg"
                      />
                    </span>
                  </span>
                  <span v-if="loading" class="indicator-progress">
                    Please wait...
                    <span
                      class="spinner-border spinner-border-sm align-middle ms-2"
                    ></span>
                  </span>
                </button>
                <!--end::Button-->
              </div>
            </div>

            <div class="d-flex align-items-center mt-4">
              <!--begin::Col-->
              <div class="col-6 col-lg-4 fv-row pe-5">
                <label class="fs-6 fw-semobold mb-2">GDS PNR</label>
                <el-form-item prop="gds_pnr">
                  <el-input
                    v-model="formData.gds_pnr"
                    maxlength="6"
                    :disabled="disabled"
                  >
                  </el-input>
                </el-form-item>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="col-6 col-lg-4 fv-row pe-5">
                <label class="mb-2">Ticket Number</label>
                <el-form-item prop="ticket_number">
                  <el-input
                    v-model="formData.ticket_number"
                    :disabled="disabled"
                  >
                  </el-input>
                </el-form-item>
              </div>
              <!--end::Col-->
            </div>

            <div class="d-flex align-items-center mt-4">
              <!--begin::Col-->
              <div class="fv-row pe-5">
                <label class="mb-2">Selling Price</label>
                <el-form-item prop="selling_price">
                  <el-input
                    v-model.number="formData.selling_price"
                    :disabled="disabled"
                    type="number"
                    step="0.01"
                    min="0"
                  >
                  </el-input>
                </el-form-item>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="fv-row pe-5">
                <label class="fs-6 fw-semobold mb-2">Net Price</label>
                <el-form-item prop="net_price">
                  <el-input
                    :value="formatPrice(formData.net_price)"
                    :disabled="true"
                  >
                  </el-input>
                </el-form-item>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="fv-row pe-5">
                <label class="fs-6 fw-semobold mb-2">Taxes</label>
                <el-form-item prop="taxes">
                  <el-input
                    v-model.number="formData.taxes"
                    :disabled="disabled"
                    type="number"
                    step="0.01"
                    min="0"
                  >
                  </el-input>
                </el-form-item>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="fv-row pe-5" v-show="formData.type == 2">
                <label class="fs-6 fw-semobold mb-2">Price Per Mile</label>
                <el-form-item prop="price_per_mile">
                  <el-input
                    v-model.number="formData.price_per_mile"
                    :disabled="disabled"
                    type="number"
                    step="0.01"
                    min="0"
                  >
                  </el-input>
                </el-form-item>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="fv-row pe-5" v-show="formData.type == 2">
                <label class="fs-6 fw-semobold mb-2">Miles Amount</label>
                <el-form-item prop="miles_amount">
                  <el-input
                    v-model.number="formData.miles_amount"
                    :disabled="disabled"
                    type="number"
                    step="1"
                    min="0"
                  >
                  </el-input>
                </el-form-item>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="fv-row pe-5" v-show="formData.type == 1">
                <label class="fs-6 fw-semobold mb-2">Fare</label>
                <el-form-item prop="fare">
                  <el-input
                    v-model.number="formData.fare"
                    :disabled="disabled"
                    type="number"
                    step="0.01"
                    min="0"
                  >
                  </el-input>
                </el-form-item>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="fv-row pe-5" v-show="formData.type == 1">
                <label class="fs-6 fw-semobold mb-2">Commission</label>
                <el-form-item prop="commission_amount">
                  <el-input
                    v-model.number="formData.commission_amount"
                    :disabled="disabled"
                    type="number"
                    step="0.01"
                    min="0"
                  >
                  </el-input>
                </el-form-item>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="fv-row pe-5">
                <label class="fs-6 fw-semobold mb-2">CK Fees</label>
                <el-form-item prop="ck_fees">
                  <el-input
                    v-model.number="formData.ck_fees"
                    :disabled="disabled"
                    type="number"
                    step="0.01"
                    min="0"
                  >
                  </el-input>
                </el-form-item>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="fv-row pe-5" v-show="formData.type == 1">
                <label class="fs-6 fw-semobold mb-2">Issuing Fees</label>
                <el-form-item prop="issuing_fees">
                  <el-input
                    v-model.number="formData.issuing_fees"
                    :disabled="disabled"
                    type="number"
                    step="0.01"
                    min="0"
                  >
                  </el-input>
                </el-form-item>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="fv-row pe-5">
                <label class="fs-6 fw-semobold mb-2">FOP</label>
                <el-form-item prop="fop">
                  <el-select
                    v-model="formData.fop"
                    class="col-12"
                    :disabled="disabled"
                  >
                    <el-option value="CK" label="CK"></el-option>
                    <el-option value="Pax CC" label="Pax CC"></el-option>
                    <el-option
                      value="Corp CC"
                      label="Corp CC"
                      v-if="formData.type == 1"
                    ></el-option>
                  </el-select>
                </el-form-item>
              </div>
              <!--end::Col-->

              <!--begin::Col-->
              <div class="fv-row" v-show="formData.type == 1">
                <label class="fs-6 fw-semobold mb-2">PCC</label>
                <el-form-item prop="pcc">
                  <el-input v-model="formData.pcc" :disabled="disabled">
                  </el-input>
                </el-form-item>
              </div>
              <!--end::Col-->
            </div>
          </div>
          <!--end::Input group-->
        </div>
        <!--end::Scroll-->
      </div>
      <!--end::Modal body-->
    </el-form>
  </div>
  <!--end::Form-->
</template>

<script lang="ts">
import {
  defineComponent,
  onMounted,
  ref,
  watch,
  watchEffect,
  reactive,
} from "vue";
import { hideModal } from "@/core/helpers/dom";
import { useSaleStore } from "@/stores/sales";
import type { ISaleDetail } from "@/core/types/saleTypes";
import { useAirportStore } from "@/stores/airports";
import type { IAirline } from "@/core/types/airportTypes";
import { formatPrice } from "@/core/helpers/formatPrice";

export default defineComponent({
  name: "add-sale-detail-modal",
  props: {
    saleId: {
      type: Number,
      required: true,
    },
    saleDetail: {
      type: Object,
    },
    sellingPrice: {
      type: Number,
      default: 0,
    },
    netPrice: {
      type: Number,
      default: 0,
    },
    disabledStatus: {
      type: Boolean,
      default: false,
    },
    paxId: {
      type: Number,
      required: true,
    },
  },
  setup(props, { emit }) {
    const store = useSaleStore();
    const formRef = ref<null | HTMLFormElement>(null);
    const addClientModalRef = ref<null | HTMLElement>(null);
    const loading = ref<boolean>(false);

    const formData = ref<ISaleDetail>({
      type: 1,
      airline_code: "",
      gds_pnr: "",
      airline_pnr: "",
      ticket_number: "",
      selling_price: props.sellingPrice,
      net_price: props.netPrice,
      total_profit: props.sellingPrice - props.netPrice,
      fare: 0,
      commission_amount: 0,
      ck_fees: 0,
      fop: "CK",
      issuing_fees: 0,
      pcc: "",
      taxes: 0,
      price_per_mile: 0,
      miles_amount: 0,
      tips: 0,
      ticket_protection: true,
      rating: 0,
      pax_id: props.paxId,
    });

    const rules = ref();

    const airportStore = useAirportStore();
    const airlines = ref<Array<IAirline>>([]);

    const fetchAirlines = async (query: string) => {
      if (query) {
        loading.value = true;
        airlines.value = await airportStore.getAirlines(query);
        loading.value = false;
      } else {
        airlines.value = [];
      }
    };

    const loadFormData = () => {
      const savedFormData = localStorage.getItem("form_data");
      if (savedFormData) {
        formData.value = JSON.parse(savedFormData);
      }
    };

    const saveFormData = (newFormData) => {
      localStorage.setItem("form_data", JSON.stringify(newFormData));
    };

    const deleteFormData = () => {
      localStorage.removeItem("form_data");
    };

    watch(
      () => props.saleDetail,
      (newFormData) => {
        Object.assign(formData.value, newFormData);
      },
      { deep: true }
    );

    let prevValues = reactive({
      taxes: formData.value.taxes,
      fare: formData.value.fare,
      ck_fees: formData.value.ck_fees,
      issuing_fees: formData.value.issuing_fees,
      commission_amount: formData.value.commission_amount,
      net_price: formData.value.net_price,
      total_profit: formData.value.total_profit,
      miles_amount: formData.value.miles_amount,
      price_per_mile: formData.value.price_per_mile,
    });

    /** Net price calc */
    watchEffect(() => {
      if (
        formData.value.taxes !== prevValues.taxes ||
        formData.value.fare !== prevValues.fare ||
        formData.value.miles_amount !== prevValues.miles_amount ||
        formData.value.price_per_mile !== prevValues.price_per_mile
      ) {
        if (formData.value.type == 1) {
          formData.value.net_price =
            +formData.value.fare + +formData.value.taxes;

          formData.value.total_profit =
            +formData.value.selling_price -
            +formData.value.fare -
            +formData.value.taxes -
            +formData.value.ck_fees -
            +formData.value.issuing_fees +
            +formData.value.commission_amount;
        } else {
          formData.value.net_price =
            +formData.value.miles_amount * +formData.value.price_per_mile +
            +formData.value.taxes;

          formData.value.total_profit =
            +formData.value.selling_price -
            +formData.value.fare -
            +formData.value.net_price -
            +formData.value.ck_fees;
        }
        if (Object.keys(formData.value).length === 0) {
          mounted();
        }
      }
    });

    let updateProfit = formData.value;

    const submit = () => {
      if (!formRef.value) {
        return;
      }

      formRef.value.validate(async (valid: boolean) => {
        if (valid) {
          loading.value = true;
          if (await store.saveSaleDetail(formData.value, props.saleId)) {
            hideModal(addClientModalRef.value);
          }
          loading.value = false;
        }
      });

      updateProfit = formData.value;
      emit("variable-updated", updateProfit);

      localStorage.removeItem("form_data");
    };

    const formVisible = ref(true);
    const remove = async () => {
      if (formData.value) {
        await store.deleteSaleDetail(formData.value, props.saleId);
      }

      if (formRef.value !== null) {
        formRef.value.resetFields();
      }

      formVisible.value = false;

      updateProfit = formData.value;
      emit("variable-updated", updateProfit);
    };

    watch(
      [
        () => formData.value.selling_price,
        () => formData.value.net_price,
        () => formData.value.ck_fees,
        () => formData.value.issuing_fees,
        () => formData.value.commission_amount,
      ],
      () => {
        if (formData.value.type == 1) {
          formData.value.total_profit =
            +formData.value.selling_price -
            +formData.value.net_price -
            +formData.value.ck_fees -
            +formData.value.issuing_fees +
            +formData.value.commission_amount;
        } else {
          formData.value.total_profit =
            +formData.value.selling_price -
            +formData.value.net_price -
            +formData.value.ck_fees;
        }
      }
    );

    const mounted = async () => {
      loadFormData();
      await fetchAirlines("");
    };

    onMounted(() => {
      Object.assign(formData.value, props.saleDetail);
    });

    const buttonLabel = ref("Adjust");
    const disabled = ref(true);

    const adjustRow = () => {
      disabled.value = false;

      if (buttonLabel.value === "Adjust") {
        buttonLabel.value = "Save";
        disabled.value = false;
        const button = document.querySelector(".adjust-row");
        if (button) {
          button.setAttribute("type", "button");
        }
      } else {
        buttonLabel.value = "Adjust";
        disabled.value = true;
        const button = document.querySelector(".adjust-row");
        if (button) {
          button.setAttribute("type", "submit");
        }
      }
    };

    const itemLabel = (item) => `${item.id}, ${item.name}`;

    return {
      formData,
      rules,
      submit,
      formRef,
      loading,
      addClientModalRef,
      store,
      fetchAirlines,
      airlines,
      saveFormData,
      deleteFormData,
      remove,
      formVisible,
      buttonLabel,
      adjustRow,
      disabled,
      formatPrice,
      itemLabel,
    };
  },
});
</script>
