<template>
  <div
    class="modal fade"
    id="kt_modal_booking"
    ref="addClientModalRef"
    tabindex="-1"
    aria-hidden="true"
  >
    <!--begin::Modal dialog-->
    <div class="modal-dialog modal-dialog-centered mw-650px">
      <!--begin::Modal content-->
      <div class="modal-content">
        <!--begin::Modal header-->
        <div class="modal-header" id="kt_modal_add_client_header">
          <!--begin::Modal title-->
          <h2 class="fw-bold">Booking Details</h2>
          <!--end::Modal title-->

          <!--begin::Close-->
          <div
            id="kt_modal_add_client_close"
            data-bs-dismiss="modal"
            class="btn btn-icon btn-sm btn-active-icon-primary"
          >
            <span class="svg-icon svg-icon-1">
              <inline-svg src="/media/icons/duotune/arrows/arr061.svg" />
            </span>
          </div>
          <!--end::Close-->
        </div>

        <!--begin::Modal body-->
        <div class="modal-body py-10 px-lg-17">
          <!--begin::Scroll-->
          <div
            class="scroll-y me-n7 pe-7"
            id="kt_modal_add_customer_scroll"
            data-kt-scroll="true"
            data-kt-scroll-activate="{default: false, lg: true}"
            data-kt-scroll-max-height="auto"
            data-kt-scroll-dependencies="#kt_modal_add_customer_header"
            data-kt-scroll-wrappers="#kt_modal_add_customer_scroll"
            data-kt-scroll-offset="300px"
          >
            <!--begin::Input group-->
            <div class="row g-4 mb-5">
              <h5>Billing Details:</h5>

              <div class="col-md-6 fw-semobold fs-6">
                <span
                  ><strong>Country:</strong>
                  {{ sale?.billing_details?.country }}</span
                >
              </div>

              <div class="col-md-6 fw-semobold fs-6">
                <span
                  ><strong>Zip:</strong> {{ sale?.billing_details?.zip }}</span
                >
              </div>

              <div class="col-md-6 fw-semobold fs-6">
                <span
                  ><strong>State:</strong>
                  {{ sale?.billing_details?.state }}</span
                >
              </div>

              <div class="col-md-6 fw-semobold fs-6">
                <span
                  ><strong>City:</strong>
                  {{ sale?.billing_details?.city }}</span
                >
              </div>

              <div class="col-md-6 fw-semobold fs-6">
                <span
                  ><strong>Email:</strong>
                  {{ sale?.billing_details?.email }}</span
                >
              </div>

              <div class="col-md-6 fw-semobold fs-6">
                <span
                  ><strong>Phone:</strong>
                  {{ sale?.billing_details?.phone }}</span
                >
              </div>

              <div class="col-md-6 fw-semobold fs-6">
                <span>
                  <strong>Street Address:</strong>
                  {{ sale?.billing_details?.street_address }}
                </span>
              </div>
            </div>

            <div class="row g-4 mb-5 mt-5 pt-2 border-top">
              <h5>Card Details:</h5>

              <div class="col-md-6 fw-semobold fs-6">
                <span>
                  <strong>Card Number:</strong>
                  {{ maskedCard(sale?.card?.card_number) }}</span
                >
              </div>

              <div class="col-md-6 fw-semobold fs-6">
                <span
                  ><strong>Month/Year:</strong>
                  {{ masked(sale?.card?.valid_thru) }}
                </span>
              </div>

              <div class="col-md-6 fw-semobold fs-6">
                <span><strong>CVV:</strong> {{ masked(sale?.card?.cvv) }}</span>
              </div>

              <div class="col-md-6 fw-semobold fs-6">
                <span><strong>Owner:</strong> {{ sale?.card?.owner }}</span>
              </div>
            </div>

            <div
              v-if="sale?.additional_services"
              class="row g-4 mb-5 mt-5 pt-2 border-top"
            >
              <h5>Additional Services:</h5>

              <div class="col-md-6 fw-semobold fs-6">
                <span>
                  <strong>Seat Preference:</strong>
                  {{ sale?.additional_services.seat_preference }}
                </span>
              </div>

              <div class="col-md-6 fw-semobold fs-6">
                <span>
                  <strong>Meal Preference:</strong>
                  {{ sale?.additional_services.meal_preference }}</span
                >
              </div>

              <div class="col-md-12 fw-semobold fs-6">
                <span>
                  <strong>Special Assistance:</strong>
                  {{ sale?.additional_services.special_assistance }}</span
                >
              </div>

              <div class="col-md-6 fw-semobold fs-6">
                <span>
                  <strong>Frequent Flyer:</strong>
                  {{ sale?.additional_services.frequent_flyer }}</span
                >
              </div>

              <div class="col-md-6 fw-semobold fs-6">
                <span>
                  <strong>Program Number:</strong>
                  {{ sale?.additional_services.program_number }}</span
                >
              </div>
            </div>

            <div class="row g-4 mb-5 mt-5 pt-2 border-top">
              <div class="col-md-12 fw-semobold fs-6">
                <span>
                  <strong>Ticket Protection:</strong>
                  {{
                    sale?.ticket_protection
                      ? "$" + getTicketsProtectionPrice
                      : "none"
                  }}
                </span>
              </div>

              <div class="col-md-12 fw-semobold fs-6">
                <span><strong>Rating:</strong> {{ sale?.rating }}</span>
              </div>

              <div class="col-md-12 fw-semobold fs-6">
                <span><strong>Tips:</strong> ${{ sale?.tips }}</span>
              </div>
            </div>

            <div class="row g-4 mb-5 mt-5 pt-2 border-top">
              <div class="col-md-12 fw-semobold fs-6">
                <h5>Total Cost: ${{ getTotal }}</h5>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Scroll-->
        </div>
        <!--end::Modal body-->

        <!--begin::Modal footer-->
        <div class="modal-footer flex-center">
          <!--begin::Button-->
          <button
            type="button"
            id="kt_modal_add_price_quote_cancel"
            data-bs-dismiss="modal"
            class="btn btn-light me-3"
          >
            Close
          </button>
          <!--end::Button-->
        </div>
        <!--end::Modal footer-->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref } from "vue";
import { onHideModal } from "@/core/helpers/dom";
import type { ISale } from "@/core/types/saleTypes";
import { useSaleStore } from "@/stores/sales";
import { useAuthStore } from "@/stores/auth";

export default defineComponent({
  name: "add-client-modal",
  props: {
    saleId: Number,
  },
  emits: ["onHideModal"],
  setup(props, { emit }) {
    const authStore = useAuthStore();
    const addBookingModalRef = ref<null | HTMLElement>(null);

    onMounted(async () => {
      onHideModal(addBookingModalRef.value, () => {
        emit("onHideModal");
      });
    });

    const sale = ref<ISale>();
    const salesStore = useSaleStore();

    onMounted(async () => {
      const saleId = String(props.saleId);
      if (saleId) {
        sale.value = await salesStore.getSale(saleId);
      }
    });

    const masked = (value) => {
      if (value) {
        if (authStore.checkPermission("edit users")) {
          return value;
        } else {
          return "*".repeat(value.toString().length);
        }
      } else {
        return value;
      }
    };

    const maskedCard = (value) => {
      if (value && value.toString().length > 4) {
        if (authStore.checkPermission("edit users")) {
          return value;
        } else {
          const lastFourDigits = value.toString().slice(-4);
          return "*".repeat(value.toString().length - 4) + lastFourDigits;
        }
      } else {
        return value;
      }
    };

    const paxesCount = computed(() => {
      const paxes = sale.value?.paxes;

      if (paxes) {
        return paxes.length;
      }

      return 0;
    });

    const getCurrentPrice = computed(() => {
      const sellingPrice = sale.value?.price_quote?.selling_price;

      if (sellingPrice) {
        return sellingPrice * paxesCount.value;
      }

      return 0;
    });

    const getTicketsProtectionPrice = computed(() => {
      const sellingPrice = sale.value?.price_quote?.selling_price;

      if (sellingPrice) {
        const percentage = (sellingPrice * 7) / 100; // 7% от цены билета
        const fixedValue = 50; // 50 $ с пассажира

        return Math.max(percentage, fixedValue) * paxesCount.value;
      }
      return 0;
    });

    const getTotal = computed(() => {
      const currentPrice = getCurrentPrice.value;
      const ticketProtectionPrice = sale.value?.ticket_protection
        ? getTicketsProtectionPrice.value
        : 0;
      const sumTips = sale.value?.tips;

      if (sumTips) {
        return currentPrice + ticketProtectionPrice + sumTips;
      }

      return 0;
    });

    return {
      sale,
      masked,
      maskedCard,
      getTotal,
      getTicketsProtectionPrice,
    };
  },
});
</script>
