<template>
  <div class="card">
    <div class="card-header border-0 pt-6">
      <!--begin::Card title-->
      <div class="card-title">
        <!--begin::Search-->
        <div class="d-flex align-items-center position-relative my-1">
          <span class="svg-icon svg-icon-1 position-absolute ms-6">
            <inline-svg src="/media/icons/duotune/general/gen021.svg" />
          </span>
          <input
            type="text"
            v-model="search"
            @input="searchItems()"
            class="form-control form-control-solid w-250px ps-15"
            placeholder="Search Users"
          />
        </div>
        <!--end::Search-->
      </div>
      <!--end::Card title-->
    </div>
    <div class="card-body pt-0">
      <Datatable
        @on-sort="sort"
        :data="tableData"
        :header="tableHeader"
        :loading="loading"
        :enable-items-per-page-dropdown="true"
      >
        <template v-slot:id="{ row: user }">
          {{ user.id }}
        </template>
        <template v-slot:created_at="{ row: user }">
          {{ user.created_at }}
        </template>
        <template v-slot:name="{ row: user }">
          <a
            @click.prevent="openUserModal(user)"
            class="text-blue-600 mb-1 cursor-pointer"
          >
            {{ user.name }}
          </a>
        </template>
        <template v-slot:email="{ row: user }">
          {{ user.email }}
        </template>
        <template v-slot:phone="{ row: user }">
          {{ user.phone }}
        </template>
        <template v-slot:role="{ row: user }">
          {{ user.role }}
        </template>
        <template v-slot:enabled="{ row: user }">
          <div class="badge badge-light-success" v-if="user.enabled">
            Enabled
          </div>
          <div class="badge badge-light-danger" v-if="!user.enabled">
            Disabled
          </div>
        </template>
      </Datatable>
    </div>
  </div>

  <EditUserModal :user="selectedUser" v-if="selectedUser"></EditUserModal>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from "vue";
import Datatable from "@/components/kt-datatable/KTDataTable.vue";
import type { Sort } from "@/components/kt-datatable//table-partials/models";
import arraySort from "array-sort";
import { useUsersStore } from "@/stores/users";
import type { IUser } from "@/core/types/userTypes";
import EditUserModal from "@/components/users/EditUserModal.vue";
import { Modal } from "bootstrap";

export default defineComponent({
  name: "users-listing",
  components: {
    Datatable,
    EditUserModal,
  },
  setup() {
    const tableHeader = ref([
      {
        columnName: "ID",
        columnLabel: "id",
        sortEnabled: true,
      },
      {
        columnName: "Created at",
        columnLabel: "created_at",
        sortEnabled: true,
      },
      {
        columnName: "Name",
        columnLabel: "name",
        sortEnabled: true,
      },
      {
        columnName: "Email",
        columnLabel: "email",
        sortEnabled: true,
      },
      {
        columnName: "Phone",
        columnLabel: "phone",
        sortEnabled: true,
      },
      {
        columnName: "Role",
        columnLabel: "role",
        sortEnabled: true,
      },
      {
        columnName: "Enabled",
        columnLabel: "enabled",
        sortEnabled: true,
      },
    ]);

    const loading = ref(false);
    const store = useUsersStore();
    const tableData = ref<Array<IUser>>([]);
    const initCustomers = ref<Array<IUser>>([]);
    const selectedUser = ref<IUser>();

    onMounted(async () => {
      loading.value = true;
      await store.getUsers();
      tableData.value = store.users;
      initCustomers.value.splice(0, tableData.value.length, ...tableData.value);
      loading.value = false;
    });

    const search = ref<string>("");
    const searchItems = () => {
      tableData.value.splice(0, tableData.value.length, ...initCustomers.value);
      if (search.value !== "") {
        let results: Array<IUser> = [];
        for (let j = 0; j < tableData.value.length; j++) {
          if (searchingFunc(tableData.value[j], search.value)) {
            results.push(tableData.value[j]);
          }
        }
        tableData.value.splice(0, tableData.value.length, ...results);
      }
    };

    const searchingFunc = (obj: any, value: string): boolean => {
      for (let key in obj) {
        if (
          !Number.isInteger(obj[key]) &&
          !(typeof obj[key] === "object") &&
          !(typeof obj[key] === "boolean")
        ) {
          if (obj[key].indexOf(value) != -1) {
            return true;
          }
        }
      }
      return false;
    };

    const sort = (sort: Sort) => {
      const reverse: boolean = sort.order === "asc";
      if (sort.label) {
        arraySort(tableData.value, sort.label, { reverse });
      }
    };

    const openUserModal = (user) => {
      selectedUser.value = user;
      setTimeout(() => {
        const modal = new Modal(
          document.getElementById("kt_modal_edit_user") as Element
        );
        modal.show();
      });
    };

    return {
      tableData,
      tableHeader,
      search,
      searchItems,
      sort,
      initCustomers,
      loading,
      selectedUser,
      openUserModal,
    };
  },
});
</script>
